<div class="main-page-wrapper overflow-x-hidden">
    <div class="inner-banner-three text-center p-[30px] 2xl:p-5 lg:p-0 md:p-0 sm:p-0 xsm:p-0">
        <div class="bg-wrapper text-center bg-cover relative z-[1] p-[150px_0_108px] md:p-[120px_0_50px] sm:p-[120px_0_50px] xsm:p-[120px_0_50px] bg-[url(../images/assets/bg-16.svg)] bg-no-repeat bg-[top_center]">
            <div class="container">
                <div class="title-style-five">
                    <h2 class="main-title text-black font-bold text-[72px] leading-[1.25em] 2xl:text-[58px] lg:text-[50px] md:text-[35px] sm:text-[35px] xsm:text-[35px]">About us</h2>
                </div>
                <p class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] mt-[30px] lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5 ">Agency work with top rated talented people provide qulaity services.</p>
            </div>
        </div>
    </div> <!-- /.inner-banner-three -->


    <!-- 
    =============================================
        Feature Section Two 
    ============================================== 
    -->
    <div class="fancy-feature-two relative pt-[150px] lg:pt-[90px] md:pt-[90px] sm:pt-[90px] xsm:pt-[90px]">
        <div class="container">
            <div class="flex flex-wrap mx-[-12px] items-center">
                <div class="xl:w-5/12 lg:w-5/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto xl:order-last lg:order-last md:order-last">
                    <div class="block-style-one wow fadeInRight">
                        <div class="title-style-one">
                            <div class="sc-title uppercase text-[16px] lg:text-[13px] md:text-[13px] sm:text-[13px] xsm:text-[13px] tracking-[2px] text-[rgba(0,0,0,0.3)] mb-2">About us</div>
                            <h2 class="main-title 2xl:text-[54px] md:text-[35px] sm:text-[35px] xsm:text-[35px] font-bold text-black !m-0">We’ve been helping <span class=" inline-block relative z-[1] before:content-[''] before:absolute before:w-[98%] before:h-3 before:z-[-1] before:left-1 before:bottom-2.5 before:bg-[rgba(255,139,37,0.4)]">customer</span> globally.</h2>
                        </div> <!-- /.title-style-one -->
                        <h4 class=" text-black 2xl:text-[22px] lg:text-[22px] md:text-[22px] sm:text-[22px] xsm:text-[22px] pt-[65px] pb-5 lg:pt-10 md:pt-10 sm:pt-10 xsm:pt-10 lg:pb-[10px] md:pb-[10px] sm:pb-[10px] xsm:pb-[10px] ">Who we are?</h4>
                        <p class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] ">Our founders Dustin Moskovitz and Justin Rosenstein met while leading Engineering teams at Facebook. As operations scaled, they grew frustrated by how difficult it was.</p>
                        <p class="text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 "><span class="font-medium text-black ">Avg 4.8 rating</span> makes us world best agency.</p>
                        <ul class="flex mb-0 pl-0 list-none rating">
                            <li class=" text-[#FFBE18] mr-[5px]"><i class="bi bi-star-fill"></i></li>
                            <li class=" text-[#FFBE18] mr-[5px]"><i class="bi bi-star-fill"></i></li>
                            <li class=" text-[#FFBE18] mr-[5px]"><i class="bi bi-star-fill"></i></li>
                            <li class=" text-[#FFBE18] mr-[5px]"><i class="bi bi-star-fill"></i></li>
                            <li class=" text-[#FFBE18] mr-[5px]"><i class="bi bi-star"></i></li>
                        </ul>
                    </div> <!-- /.block-style-one -->
                </div>
                <div class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-first lg:order-first md:order-first wow fadeInLeft">
                    <div class="img-meta inline-block relative !pl-[1rem] xl:!pl-[3rem] lg:!pl-[3rem] pb-[50px] sm:mt-[90px] xsm:mt-[90px] ">
                        <img src="assets/images/lazy.svg" src="assets/images/media/img_01.jpg" alt="" class="lazy-img">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_09.svg" alt="" class="lazy-img shapes shape-one absolute top-[-9%] left-[-3%] z-0 w-[24%] animate-[jumpTwo_3.5s_infinite_linear]">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_10.svg" alt="" class="lazy-img shapes shape-two absolute z-[-1] top-[-10%] left-[64%]">
                        <div class="shapes shape-three absolute w-[57px] h-[57px] rotate-[15deg] right-[-5%] z-0 animate-[rotated_28s_infinite_linear] rounded-[13px] top-[10%] bg-[#FF8C24]"></div>
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_11.svg" alt="" class="lazy-img shapes shape-four absolute z-[-1] right-[-11%] top-[52%]">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_12.svg" alt="" class="lazy-img shapes shape-five absolute z-[-1] left-[9%] bottom-[2%]">
                        <div class="shapes shape-six absolute w-20 h-20 rotate-[-15deg] z-0 animate-[rotatedTwo_35s_infinite_linear] rounded-[15px] left-0 top-[44%] bg-[#17BD37]"></div>
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_13.svg" alt="" class="lazy-img shapes shape-seven absolute z-[-1] left-[-10%] animate-[jumpFour_3.5s_infinite_linear] top-1/4">
                        <div class="card-one absolute w-[330px] shadow-[0px_30px_60px_rgba(14,36,58,0.06)] right-[-17%] pl-[45px] pr-[15px] py-[25px] bottom-0 bg-white lg:p-[15px_15px_15px_30px] lg:w-[280px] md:p-[15px_15px_15px_30px] md:w-[280px] md:right-0 sm:p-[15px_15px_15px_30px] sm:w-[280px] sm:right-0 xsm:p-[15px_15px_15px_30px] xsm:w-[280px] xsm:right-0 wow fadeInUp" data-wow-delay="0.25s">
                            <div class="icon flex items-center justify-center rounded-[50%] absolute w-[54px] h-[54px] shadow-[0px_15px_30px_rgba(11,13,36,0.208646)] z-[1] top-[-25px] left-[-25px] bg-[#A024FF]"><img src="assets/images/lazy.svg" src="assets/images/icon/icon_06.svg" alt="" class="lazy-img"></div>
                            <div class="name text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] font-medium text-black mb-[10px]">- Rashed Ka, <span class="opacity-50">CEO</span></div>
                            <p class="text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] !m-0">We aim to answer any quis query in a minute</p>
                        </div> <!-- /.card-one -->
                    </div> <!-- /.img-meta -->
                </div>
            </div>
        </div> <!-- /.container -->

        <div class="container">
            <div class="flex flex-wrap mx-[-12px] justify-center pt-[60px] md:pt-10 sm:pt-10 xsm:pt-10 ">
                <div class="w-4/12 sm:w-6/12 xsm:w-full flex-[0_0_auto] px-[12px] max-w-full">
                    <div class="counter-block-three text-center mt-10 wow fadeInUp">
                        <div class="main-count font-medium text-black text-[60px] mb-[-9px] lg:text-[35px] lg:mb-[-5px] md:text-[35px] md:mb-[-5px] sm:text-[35px] sm:mb-[-5px] xsm:text-[35px] xsm:mb-[-5px]"><span class="counter">3.5</span>k</div>
                        <p class=" text-black text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] !m-0">Job  successfully</p>
                    </div> <!-- /.counter-block-three -->
                </div>
                <div class="w-4/12 sm:w-6/12 xsm:w-full flex-[0_0_auto] px-[12px] max-w-full">
                    <div class="counter-block-three text-center mt-10 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="main-count font-medium text-black text-[60px] mb-[-9px] lg:text-[35px] lg:mb-[-5px] md:text-[35px] md:mb-[-5px] sm:text-[35px] sm:mb-[-5px] xsm:text-[35px] xsm:mb-[-5px]"><span class="counter">20</span>million</div>
                        <p class=" text-black text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] !m-0">3,280 avg rating</p>
                    </div> <!-- /.counter-block-three -->
                </div>
                <div class="w-4/12 sm:w-6/12 xsm:w-full flex-[0_0_auto] px-[12px] max-w-full">
                    <div class="counter-block-three text-center mt-10 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="main-count font-medium text-black text-[60px] mb-[-9px] lg:text-[35px] lg:mb-[-5px] md:text-[35px] md:mb-[-5px] sm:text-[35px] sm:mb-[-5px] xsm:text-[35px] xsm:mb-[-5px]"><span class="counter">30</span>k+</div>
                        <p class=" text-black text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] !m-0">Contact Profile</p>
                    </div> <!-- /.counter-block-three -->
                </div>
            </div>
        </div>
    </div> <!-- /.fancy-feature-two -->


    <!-- 
    =============================================
        Feature Section Fifty Four 
    ============================================== 
    -->
    <div class="fancy-feature-fiftyFour p-[30px] lg:p-0 md:p-0 sm:p-0 xsm:p-0 mt-[150px] lg:mt-[90px] md:mt-[90px] sm:mt-[90px] xsm:mt-[90px] ">
        <div class="bg-wrapper relative z-[2] pt-[140px] lg:pt-[60px] md:pt-[60px] sm:pt-[60px] xsm:pt-[60px]  pb-[140px] lg:pb-[60px] md:pb-[60px] sm:pb-[60px] xsm:pb-[60px] bg-[#E8FAF3]">
            <div class="container">
                <div class="flex flex-wrap mx-[-12px]">
                    <div class="xl:w-4/12 lg:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInLeft">
                        <div class="title-style-one">
                            <div class="sc-title uppercase text-[16px] lg:text-[13px] md:text-[13px] sm:text-[13px] xsm:text-[13px] tracking-[2px] text-[rgba(0,0,0,0.3)] mb-2">Why us?</div>
                            <h2 class="main-title font-bold text-black ">Why <span class=" inline-block relative z-[1] before:content-[''] before:absolute before:w-[98%] before:h-3 before:z-[-1] before:left-1 before:bottom-2.5 before:bg-[rgba(255,139,37,0.4)]">choose</span> Jano.</h2>
                        </div> <!-- /.title-style-one -->
                        <p class=" text-[24px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] mt-10 lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5 ">We helping our client to fullfill their needs with our expert.</p>
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_179.svg" alt="" class="lazy-img xsm:!hidden xl:block lg:block mt-10 ">
                    </div>
                    <div class="xl:w-7/12 lg:w-7/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto wow fadeInRight">
                        <div class="flex flex-wrap mx-[-12px] xxl:mx-[-24px]">
                            <div class="w-6/12 xsm:w-full flex-[0_0_auto] px-[12px] max-w-full">
                                <div class="card-style-twentyFour bg-white mt-[30px] wow fadeInUp p-[50px_30px_10px] lg:p-[35px_15px_10px] md:p-[35px_15px_10px] sm:p-[35px_15px_10px] xsm:p-[35px_15px_10px] rounded-[7px]">
                                    <div class="icon h-[42px]"><img src="assets/images/lazy.svg" src="assets/images/icon/icon_152.svg" alt="" class="lazy-img max-h-full"></div>
                                    <h4 class="font-bold text-black mt-[30px] mb-[15px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] ">Quality Service</h4>
                                    <p class=" text-[18px] leading-[1.67em] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px]">Elit esse cillum dolore eu fugiat nulla pariatur</p>
                                </div> <!-- /.card-style-twentyFour -->
                            </div>
                            <div class="w-6/12 xsm:w-full flex-[0_0_auto] px-[12px] max-w-full">
                                <div class="card-style-twentyFour bg-white mt-[30px] wow fadeInUp p-[50px_30px_10px] lg:p-[35px_15px_10px] md:p-[35px_15px_10px] sm:p-[35px_15px_10px] xsm:p-[35px_15px_10px] rounded-[7px]" data-wow-delay="0.1s">
                                    <div class="icon h-[42px]"><img src="assets/images/lazy.svg" src="assets/images/icon/icon_153.svg" alt="" class="lazy-img max-h-full"></div>
                                    <h4 class="font-bold text-black mt-[30px] mb-[15px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] ">24x7 Support</h4>
                                    <p class=" text-[18px] leading-[1.67em] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px]">Elit esse cillum dolore eu fugiat nulla pariatur</p>
                                </div> <!-- /.card-style-twentyFour -->
                            </div>
                            <div class="w-6/12 xsm:w-full flex-[0_0_auto] px-[12px] max-w-full">
                                <div class="card-style-twentyFour bg-white mt-[30px] wow fadeInUp p-[50px_30px_10px] lg:p-[35px_15px_10px] md:p-[35px_15px_10px] sm:p-[35px_15px_10px] xsm:p-[35px_15px_10px] rounded-[7px]" data-wow-delay="0.2s">
                                    <div class="icon h-[42px]"><img src="assets/images/lazy.svg" src="assets/images/icon/icon_154.svg" alt="" class="lazy-img max-h-full"></div>
                                    <h4 class="font-bold text-black mt-[30px] mb-[15px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] ">Great Pricing</h4>
                                    <p class=" text-[18px] leading-[1.67em] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px]">Elit esse cillum dolore eu fugiat nulla pariatur</p>
                                </div> <!-- /.card-style-twentyFour -->
                            </div>
                            <div class="w-6/12 xsm:w-full flex-[0_0_auto] px-[12px] max-w-full">
                                <div class="card-style-twentyFour bg-white mt-[30px] wow fadeInUp p-[50px_30px_10px] lg:p-[35px_15px_10px] md:p-[35px_15px_10px] sm:p-[35px_15px_10px] xsm:p-[35px_15px_10px] rounded-[7px]" data-wow-delay="0.3s">
                                    <div class="icon h-[42px]"><img src="assets/images/lazy.svg" src="assets/images/icon/icon_155.svg" alt="" class="lazy-img max-h-full"></div>
                                    <h4 class="font-bold text-black mt-[30px] mb-[15px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] ">100% Trusted</h4>
                                    <p class=" text-[18px] leading-[1.67em] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px]">Elit esse cillum dolore eu fugiat nulla pariatur</p>
                                </div> <!-- /.card-style-twentyFour -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_11.svg" alt="" class="lazy-img shapes shape-one absolute z-[-1] left-[9%] top-[15%]">
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_13.svg" alt="" class="lazy-img shapes shape-two absolute z-[-1] right-[35%] top-[5%]">
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_10.svg" alt="" class="lazy-img shapes shape-three absolute z-[-1] right-[4%] top-2/4">
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_12.svg" alt="" class="lazy-img shapes shape-four absolute z-[-1] left-[30%] bottom-[20%]">
        </div> <!-- /.bg-wrapper -->
    </div> <!-- /.fancy-feature-fiftyFour -->



    <!--
    =====================================================
        Team Section Four 
    =====================================================
    -->
    <div class="team-section-four mt-[150px] lg:mt-[90px] md:mt-[90px] sm:mt-[90px] xsm:mt-[90px]">
        <div class="container">
            <div class="flex flex-wrap mx-[-12px] items-end">
                <div class="xxl:w-6/12 xl:w-7/12 lg:w-7/12 md:w-7/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInLeft">
                    <div class="title-style-one text-center xl:text-left lg:text-left md:text-left ">
                        <div class="sc-title uppercase text-[16px] lg:text-[13px] md:text-[13px] sm:text-[13px] xsm:text-[13px] tracking-[2px] text-[rgba(0,0,0,0.3)] mb-2">OUR TEAM</div>
                        <h2 class="main-title font-bold text-black !m-0">We’ve talented expert to help you</h2>
                    </div> <!-- /.title-style-one -->
                </div>
                <div class="xxl:w-6/12 xl:w-5/12 lg:w-5/12 md:w-5/12 w-full flex-[0_0_auto] px-[12px] max-w-full sm:text-center xsm:text-center text-right wow fadeInRight">
                    <a href="#" class="btn-one font-medium sm:mt-[30px] xsm:mt-[30px] text-white leading-[50px] relative transition-all duration-[0.3s] ease-[ease-in-out] p-[0_32px] rounded-[5px] bg-black hover:bg-[var(--prime-one)] md:leading-[48px] md:text-[15px] md:p-[0_25px] sm:leading-[48px] sm:text-[15px] sm:p-[0_25px] xsm:leading-[48px] xsm:text-[15px] xsm:p-[0_25px]">View full team</a>
                </div>
            </div> <!-- /.row -->

            <div class="wrapper border-b-[#f1f1f1] border-b border-solid pt-20 lg:pt-[50px] md:pt-[50px] sm:pt-[50px] xsm:pt-[50px] ">
                <div class="flex flex-wrap mx-[-12px] xxl:mx-[-24px]">
                    <div class="xl:w-3/12 lg:w-3/12 md:w-6/12 sm:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
                        <div class="team-block-three relative pb-10 lg:pb-[30px] md:pb-[30px] sm:pb-[30px] xsm:pb-[30px] before:content-[''] before:absolute before:h-0.5 before:opacity-0 before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:-bottom-px before:inset-x-0 before:bg-[#000] hover:before:opacity-100 wow fadeInUp">
                            <div class="img-meta">
                                <img src="assets/images/team/img_17.jpg" alt="" class="lazy-img team-img w-full rounded-[15px]" style="">
                                <div class="info text-center p-[38px_15px_5px] lg:p-[20px_5px_0] md:p-[20px_5px_0] sm:p-[20px_5px_0] xsm:p-[20px_5px_0]">
                                    <h5 class=" text-black font-medium mb-[5px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px]">Zubayer Al Hasan</h5>
                                    <div class=" text-black opacity-75">Developer</div>
                                </div> <!-- /.info -->
                            </div> <!-- /.img-meta -->
                        </div> <!-- /.team-block-three -->
                    </div>
                    <div class="xl:w-3/12 lg:w-3/12 md:w-6/12 sm:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
                        <div class="team-block-three relative pb-10 lg:pb-[30px] md:pb-[30px] sm:pb-[30px] xsm:pb-[30px] before:content-[''] before:absolute before:h-0.5 before:opacity-0 before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:-bottom-px before:inset-x-0 before:bg-[#000] hover:before:opacity-100 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="img-meta">
                                <img src="assets/images/team/img_16.jpg" alt="" class="lazy-img team-img w-full rounded-[15px]" style="">
                                <div class="info text-center p-[38px_15px_5px] lg:p-[20px_5px_0] md:p-[20px_5px_0] sm:p-[20px_5px_0] xsm:p-[20px_5px_0]">
                                    <h5 class=" text-black font-medium mb-[5px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px]">Jannatul Ferdaus</h5>
                                    <div class=" text-black opacity-75">CEO</div>
                                </div> <!-- /.info -->
                            </div> <!-- /.img-meta -->
                        </div> <!-- /.team-block-three -->
                    </div>
                    <div class="xl:w-3/12 lg:w-3/12 md:w-6/12 sm:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
                        <div class="team-block-three relative pb-10 lg:pb-[30px] md:pb-[30px] sm:pb-[30px] xsm:pb-[30px] before:content-[''] before:absolute before:h-0.5 before:opacity-0 before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:-bottom-px before:inset-x-0 before:bg-[#000] hover:before:opacity-100 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="img-meta">
                                <img src="assets/images/team/img_18.jpg" alt="" class="lazy-img team-img w-full rounded-[15px]" style="">
                                <div class="info text-center p-[38px_15px_5px] lg:p-[20px_5px_0] md:p-[20px_5px_0] sm:p-[20px_5px_0] xsm:p-[20px_5px_0]">
                                    <h5 class=" text-black font-medium mb-[5px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px]">Rashed Kabir</h5>
                                    <div class=" text-black opacity-75">Designer</div>
                                </div> <!-- /.info -->
                            </div> <!-- /.img-meta -->
                        </div> <!-- /.team-block-three -->
                    </div>
                    <div class="xl:w-3/12 lg:w-3/12 md:w-6/12 sm:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
                        <div class="team-block-three relative pb-10 lg:pb-[30px] md:pb-[30px] sm:pb-[30px] xsm:pb-[30px] before:content-[''] before:absolute before:h-0.5 before:opacity-0 before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:-bottom-px before:inset-x-0 before:bg-[#000] hover:before:opacity-100 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="img-meta">
                                <img src="assets/images/team/img_19.jpg" alt="" class="lazy-img team-img w-full rounded-[15px]" style="">
                                <div class="info text-center p-[38px_15px_5px] lg:p-[20px_5px_0] md:p-[20px_5px_0] sm:p-[20px_5px_0] xsm:p-[20px_5px_0]">
                                    <h5 class=" text-black font-medium mb-[5px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px]">Angelina Shelly</h5>
                                    <div class=" text-black opacity-75">Analysist</div>
                                </div> <!-- /.info -->
                            </div> <!-- /.img-meta -->
                        </div> <!-- /.team-block-three -->
                    </div>
                </div> <!-- /.row -->
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.team-section-four -->



    <!--
    =====================================================
        Feedback Section One 
    =====================================================
    -->
    <div class="feedback-section-one relative p-[30px] lg:p-0 md:p-0 sm:p-0 xsm:p-0 mt-[200px] lg:mt-[120px] md:mt-[120px] sm:mt-[120px] xsm:mt-[120px] wow fadeInUp">
        <div class="bg-wrapper relative pt-[150px] pb-[180px] lg:pt-[100px] md:pt-[100px] sm:pt-[100px] xsm:pt-[100px] lg:pb-[120px] md:pb-[120px] sm:pb-[120px] xsm:pb-[120px] bg-[#E8FAF3] z-[1] before:content-[''] before:absolute before:h-[45%] before:bg-cover before:z-[-1] before:opacity-90 before:top-0 before:inset-x-0 after:content-[''] after:absolute after:h-[19%] after:bg-cover after:z-[-1] after:opacity-90 after:bottom-0 after:inset-x-0 before:bg-[url(../images/assets/bg-2.png)] before:bg-center before:bg-no-repeat after:bg-[url(../images/assets/bg-2.png)] after:bg-center after:bg-no-repeat">
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_14.svg" alt="" class="lazy-img shapes shape-one absolute z-[-1] top-[-4%] animate-[jumpFour_3.5s_infinite_linear] left-[10%]">
            <div class="shapes shape-two absolute z-[-1] w-20 h-20 top-[-4%] animate-[rotated_35s_infinite_linear] rounded-[15px] right-[10%] bg-[#FF8C24] xsm:!hidden"></div>
            <div class="shapes shape-three absolute z-[-1] w-[57px] h-[57px] bottom-[-1%] animate-[rotated_35s_infinite_linear] rounded-[13px] left-[13%] bg-[#17BD37] xsm:!hidden"></div>
            <div class="container">
                <div class="flex flex-wrap mx-[-12px] items-center">
                    <div class="xl:w-6/12 lg:w-6/12 md:w-7/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
                        <div class="title-style-one text-center xl:text-left lg:text-left md:text-left ">
                            <h2 class="main-title font-bold text-black !m-0">What’s <span class=" inline-block relative z-[1] before:content-[''] before:absolute before:w-[98%] before:h-3 before:z-[-1] before:left-1 before:bottom-2.5 before:bg-[rgba(255,139,37,0.4)]">Our Client</span> Say About us.</h2>
                        </div> <!-- /.title-style-one -->
                    </div>
                    <div class="xl:w-6/12 lg:w-6/12 md:w-5/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto flex xsm:justify-center justify-end ">
                        <ul class="slider-arrows slick-arrow-one flex justify-center mb-0 pl-0 list-none md:absolute md:bottom-[30px] md:inset-x-0 sm:absolute sm:bottom-[30px] sm:inset-x-0 xsm:absolute xsm:bottom-[30px] xsm:inset-x-0">
                            <li class="prev_f1 slick-arrow rounded-[50%] text-center text-[20px] tran3s" style=""><i class="bi bi-chevron-left"></i></li>
                            <li class="next_f1 slick-arrow rounded-[50%] text-center text-[20px] tran3s" style=""><i class="bi bi-chevron-right"></i></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- /.container -->

            <div class="inner-content mt-[100px] lg:mt-[60px] md:mt-[60px] sm:mt-[60px] xsm:mt-[60px] w-[136vw] translate-x-[-18vw] 2xl:w-[150vw] 2xl:translate-x-[-25vw] lg:w-[170vw] lg:translate-x-[-35vw] md:w-full md:max-w-[736px] md:mx-auto md:transform-none sm:w-full sm:max-w-[736px] sm:mx-auto sm:transform-none xsm:w-full xsm:max-w-[736px] xsm:mx-auto xsm:transform-none">
                <div class="feedback_slider_one">
                    <div class="item m-[0_20px]">
                        <div class="feedback-block-one pt-[45px] items-end flex xsm:block rounded-[15px] bg-sada bg-white">
                            <div class="img-meta relative w-[42%] max-h-[385px] overflow-hidden before:content-[''] before:absolute before:h-[51%] before:z-[1] before:rounded-[0_0_0_15px] before:bottom-0 before:inset-x-0 before:bg-[linear-gradient(180deg,rgba(255,255,255,0.0117614)_0%,rgba(255,255,255,0.701752)_43.58%,#FFFFFF_100%)] xsm:w-full xsm:max-w-[350px] xsm:max-h-[inherit] xsm:m-[0_auto_40px]">
                                <img src="assets/images/media/img_02.png" alt="" class="m-auto">
                            </div>
                            <div class="text-wrapper w-[calc(100%_-_42%)] pt-0 pb-[50px] px-[25px] xsm:w-full xsm:p-[0_15px_40px]">
                                <div class="icon flex items-center justify-center w-[55px] h-[55px] rounded-[50%] mb-[15px] " style="background-color:#825EFF;"><img src="assets/images/icon/icon_07.svg" alt=""></div>
                                <div class="rating h3 font-bold text-black ">Very solid, 8.3 out 10</div>
                                <p class=" text-[24px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] pt-[35px] pb-5">We’v 9,000 agents across are country, Find agents near your neighborhood.</p>
                                <h6>Martin Jonas, <span class="opacity-25">USA</span></h6>
                            </div> <!-- /.text-wrapper -->
                        </div> <!-- /.feedback-block-one -->
                    </div>
                    <div class="item m-[0_20px]">
                        <div class="feedback-block-one pt-[45px] items-end flex xsm:block rounded-[15px] bg-sada bg-white">
                            <div class="img-meta relative w-[42%] max-h-[385px] overflow-hidden before:content-[''] before:absolute before:h-[51%] before:z-[1] before:rounded-[0_0_0_15px] before:bottom-0 before:inset-x-0 before:bg-[linear-gradient(180deg,rgba(255,255,255,0.0117614)_0%,rgba(255,255,255,0.701752)_43.58%,#FFFFFF_100%)] xsm:w-full xsm:max-w-[350px] xsm:max-h-[inherit] xsm:m-[0_auto_40px]">
                                <img src="assets/images/media/img_03.png" alt="" class="m-auto">
                            </div>
                            <div class="text-wrapper w-[calc(100%_-_42%)] pt-0 pb-[50px] px-[25px] xsm:w-full xsm:p-[0_15px_40px]">
                                <div class="icon flex items-center justify-center w-[55px] h-[55px] rounded-[50%] mb-[15px] " style="background-color:#08CE97;"><img src="assets/images/icon/icon_07.svg" alt=""></div>
                                <div class="rating h3 font-bold text-black ">Very solid, 7.2 out 10</div>
                                <p class=" text-[24px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] pt-[35px] pb-5">We’v 9,000 agents across are country, Find agents near your neighborhood.</p>
                                <h6>Martin Jonas, <span class="opacity-25">USA</span></h6>
                            </div> <!-- /.text-wrapper -->
                        </div> <!-- /.feedback-block-one -->
                    </div>
                    <div class="item m-[0_20px]">
                        <div class="feedback-block-one pt-[45px] items-end flex xsm:block rounded-[15px] bg-sada bg-white">
                            <div class="img-meta relative w-[42%] max-h-[385px] overflow-hidden before:content-[''] before:absolute before:h-[51%] before:z-[1] before:rounded-[0_0_0_15px] before:bottom-0 before:inset-x-0 before:bg-[linear-gradient(180deg,rgba(255,255,255,0.0117614)_0%,rgba(255,255,255,0.701752)_43.58%,#FFFFFF_100%)] xsm:w-full xsm:max-w-[350px] xsm:max-h-[inherit] xsm:m-[0_auto_40px]">
                                <img src="assets/images/media/img_02.png" alt="" class="m-auto">
                            </div>
                            <div class="text-wrapper w-[calc(100%_-_42%)] pt-0 pb-[50px] px-[25px] xsm:w-full xsm:p-[0_15px_40px]">
                                <div class="icon flex items-center justify-center w-[55px] h-[55px] rounded-[50%] mb-[15px] " style="background-color:#FF8A3A;"><img src="assets/images/icon/icon_07.svg" alt=""></div>
                                <div class="rating h3 font-bold text-black ">Very solid, 9.1 out 10</div>
                                <p class=" text-[24px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] pt-[35px] pb-5">We’v 9,000 agents across are country, Find agents near your neighborhood.</p>
                                <h6>Martin Jonas, <span class="opacity-25">USA</span></h6>
                            </div> <!-- /.text-wrapper -->
                        </div> <!-- /.feedback-block-one -->
                    </div>
                    <div class="item m-[0_20px]">
                        <div class="feedback-block-one pt-[45px] items-end flex xsm:block rounded-[15px] bg-sada bg-white">
                            <div class="img-meta relative w-[42%] max-h-[385px] overflow-hidden before:content-[''] before:absolute before:h-[51%] before:z-[1] before:rounded-[0_0_0_15px] before:bottom-0 before:inset-x-0 before:bg-[linear-gradient(180deg,rgba(255,255,255,0.0117614)_0%,rgba(255,255,255,0.701752)_43.58%,#FFFFFF_100%)] xsm:w-full xsm:max-w-[350px] xsm:max-h-[inherit] xsm:m-[0_auto_40px]">
                                <img src="assets/images/media/img_03.png" alt="" class="m-auto">
                            </div>
                            <div class="text-wrapper w-[calc(100%_-_42%)] pt-0 pb-[50px] px-[25px] xsm:w-full xsm:p-[0_15px_40px]">
                                <div class="icon flex items-center justify-center w-[55px] h-[55px] rounded-[50%] mb-[15px] " style="background-color:#08CE97;"><img src="assets/images/icon/icon_07.svg" alt=""></div>
                                <div class="rating h3 font-bold text-black ">Very solid, 10 out 10</div>
                                <p class=" text-[24px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] pt-[35px] pb-5">We’v 9,000 agents across are country, Find agents near your neighborhood.</p>
                                <h6>Martin Jonas, <span class="opacity-25">USA</span></h6>
                            </div> <!-- /.text-wrapper -->
                        </div> <!-- /.feedback-block-one -->
                    </div>
                </div> <!-- /.feedback_slider_one -->
            </div> <!-- /.inner-content -->
        </div> <!-- /.bg-wrapper -->
    </div> <!-- /.feedback-section-one -->



    <!-- 
    =============================================
        Wrapper 
    ============================================== 
    -->
    <div class="wrapper relative mt-[160px] lg:mt-[100px] md:mt-[100px] sm:mt-[100px] xsm:mt-[100px]">
        <div class="container">
            <div class="flex flex-wrap mx-[-12px]">
                <div class="xl:w-8/12 lg:w-10/12 m-auto text-center w-full flex-[0_0_auto] px-[12px] max-w-full">>
                    <div class="title-style-one wow fadeInUp">
                        <h2 class="main-title font-bold text-black !m-0">Ready to take plan? It’s just a matter of <span class=" inline-block relative z-[1] before:content-[''] before:absolute before:w-[98%] before:h-3 before:z-[-1] before:left-1 before:bottom-2.5 before:bg-[rgba(255,139,37,0.4)]">one clike</span></h2>
                    </div> <!-- /.title-style-one -->
                    <p class=" text-[24px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] text-black pt-10 pb-[35px] lg:pt-[30px] md:pt-[30px] sm:pt-[30px] xsm:pt-[30px] lg:pb-5 wow fadeInUp" data-wow-delay="0.1s">Try it risk free — we don’t charge cancellation fees.</p>
                    <a href="#" class="btn-two text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] text-white leading-[60px] relative transition-all duration-[0.3s] ease-[ease-in-out] px-[50px] py-0 rounded-[30px] bg-black hover:bg-[var(--prime-one)] font-medium wow fadeInUp" data-wow-delay="0.2s">Purchase Now</a>
                </div>
            </div>
        </div>
        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_20.svg" alt="" class="lazy-img shapes absolute z-[-1] shape-one" style="top:5%; left: 10%;">
        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_21.svg" alt="" class="lazy-img shapes absolute z-[-1] shape-two" style="bottom:-4%; left: 18%;">
        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_22.svg" alt="" class="lazy-img shapes absolute z-[-1] shape-three" style="bottom:-4%; right: 23%;">
        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_23.svg" alt="" class="lazy-img shapes absolute z-[-1] shape-four" style="top:-3%; right: 14%;">
    </div> <!-- /.wrapper -->




    <!--
    =====================================================
        Fancy Short Banner One 
    =====================================================
    -->
    <div class="fancy-short-banner-one mt-[170px] lg:mt-[120px] md:mt-[120px] sm:mt-[120px] xsm:mt-[120px]">
        <div class="container">
            <div class="bg-wrapper relative bg-cover z-[1] p-[80px_12px] lg:p-[50px_12px] md:p-[50px_12px] sm:p-[50px_12px] xsm:p-[50px_12px] rounded-[40px] bg-[url(../images/assets/bg-3.png)] bg-center bg-no-repeat wow fadeInUp">
                <div class="shapes shape-one absolute z-[-1] w-[60px] h-[60px] right-[-2%] top-[-9%] animate-[rotated_30s_infinite_linear] rounded-[13px] bg-[#17BD37]"></div>
                <div class="inner-wrapper max-w-[1170px] mx-auto my-0 2xl:max-w-[1010px] lg:max-w-[900px] ">
                    <div class="subscribe-area">
                        <div class="flex flex-wrap mx-[-12px] items-end">
                            <div class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
                                <div class="title-style-two">
                                    <div class="sc-title font-medium text-[20px] text-[#F96F60] pb-[5px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] ">Subscirbe Now</div>
                                    <h4 class="main-title font-bold text-black text-[48px] leading-[1.20em] lg:text-[30px] md:text-[30px] sm:text-[30px] xsm:text-[30px] ">New user? Start your free trial now.</h4>
                                </div> <!-- /.title-style-two -->
                            </div>
                            <div class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
                                <div class="subscribe-form max-w-[500px] ml-auto md:max-w-full md:m-[20px_0_0] sm:max-w-full sm:m-[20px_0_0] xsm:max-w-full xsm:m-[20px_0_0]">
                                    <form action="#" class=" h-[70px] relative text-left shadow-[0_10px_20px_rgba(70,40,13,0.05)] lg:h-[65px] md:h-[65px] sm:h-[65px] xsm:h-[65px]">
<input class=" w-full h-full p-[0_200px_0_20px] rounded-[7px] border-0 lg:p-[0_122px_0_15px] md:p-[0_122px_0_15px] sm:p-[0_122px_0_15px] xsm:p-[0_122px_0_15px]" type="email" placeholder="Email address">
                                        <button class="tran3s absolute text-[18px] font-medium text-white w-40 rounded-[6px] right-2 inset-y-2 bg-[var(--prime-one)] hover:bg-[#212121] lg:w-[120px] lg:text-[16px] md:w-[120px] md:text-[16px] sm:w-[120px] sm:text-[16px] xsm:w-[120px] xsm:text-[16px]">Subscribe</button>
                                    </form>
                                    <p class="!m-0 pt-[10px] text-[#979797]">Already a member? <a href="#" class=" text-black hover:text-[#0d6efd]">Sign in.</a></p>
                                </div> <!-- /.subscribe-form -->
                            </div>
                        </div>
                    </div> <!-- /.subscribe-area -->
                </div>
            </div> <!-- /.bg-wrapper -->
        </div>
    </div> <!-- /.fancy-short-banner-one -->

    
</div> <!-- /.main-page-wrapper -->