<div class="main-page-wrapper overflow-x-hidden">
    <div class="inner-banner-three text-center p-[30px] 2xl:p-5 lg:p-0 md:p-0 sm:p-0 xsm:p-0">
        <div
            class="bg-wrapper text-center bg-cover relative z-[1] p-[150px_0_108px] md:p-[120px_0_50px] sm:p-[120px_0_50px] xsm:p-[120px_0_50px] bg-[url(../images/assets/bg-16.svg)] bg-no-repeat bg-[top_center]">
            <div class="container">
                <div class="title-style-five">
                    <h4
                        class="main-title text-black font-bold text-[72px] leading-[1.25em] 2xl:text-[58px] lg:text-[50px] md:text-[35px] sm:text-[35px] xsm:text-[35px]">
                        Connecting Indian IT Excellence with Global Opportunities</h4>
                </div>
                <p
                    class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] mt-[30px] lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5 ">
                    WestGate IT Hub is your trusted partner in bridging the gap between Indian IT capabilities and the
                    growing demand for technology solutions in the UK.</p>
            </div>
        </div>
        <div class="text-center wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
            <a routerLink="/partner-with-us"
                class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Partner
                With Us Today</a>
        </div>
    </div>

    <div class="fancy-feature-two relative pt-[150px] lg:pt-[90px] md:pt-[90px] sm:pt-[90px] xsm:pt-[90px]">
        <div class="container">
            <div class="flex flex-wrap mx-[-12px] items-center">
                <div
                    class="xl:w-5/12 lg:w-5/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto xl:order-last lg:order-last md:order-last">
                    <div class="block-style-one wow fadeInRight">
                        <div class="title-style-one">
                            <div
                                class="sc-title uppercase text-[16px] lg:text-[13px] md:text-[13px] sm:text-[13px] xsm:text-[13px] tracking-[2px] text-[rgba(0,0,0,0.3)] mb-2">
                                About us</div>
                            <h2
                                class="main-title 2xl:text-[54px] md:text-[35px] sm:text-[35px] xsm:text-[35px] font-bold text-black !m-0">
                                Our Mission: <span
                                    class=" inline-block relative z-[1] before:content-[''] before:absolute before:w-[98%] before:h-3 before:z-[-1] before:left-1 before:bottom-2.5 before:bg-[rgba(255,139,37,0.4)]">Empowering
                                    IT</span>
                                Companies to Thrive in the UK Market.</h2>
                        </div> <!-- /.title-style-one -->
                        <!-- <h4
                            class=" text-black 2xl:text-[22px] lg:text-[22px] md:text-[22px] sm:text-[22px] xsm:text-[22px] pt-[65px] pb-5 lg:pt-10 md:pt-10 sm:pt-10 xsm:pt-10 lg:pb-[10px] md:pb-[10px] sm:pb-[10px] xsm:pb-[10px] ">
                            Who we are?</h4> -->
                        <p class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] ">
                            At WestGate IT Hub, we believe in the power of collaboration. Our mission is to empower
                            Indian IT companies by offering them an effective channel to expand their presence and
                            business opportunities in the UK. We connect innovative IT companies from India with the
                            UK's diverse and dynamic business ecosystem. With our deep knowledge of both markets, we
                            bridge the gap by offering the right resources, guidance, and market access.</p>
                        <!-- <ul
                            class="text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
                            <li><span class="font-medium text-black">Integrity:</span> We believe in honest, transparent
                                relationships with our partners and clients.</li>
                            <li><span class="font-medium text-black">Innovation:</span> We are committed to bringing
                                cutting-edge IT solutions to the UK market.</li>
                            <li><span class="font-medium text-black">Collaboration:</span> Working together with our
                                partners to achieve mutual success.</li>
                        </ul> -->

                    </div> <!-- /.block-style-one -->
                </div>
                <div
                    class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-first lg:order-first md:order-first wow fadeInLeft">
                    <div
                        class="img-meta inline-block relative !pl-[1rem] xl:!pl-[3rem] lg:!pl-[3rem] pb-[50px] sm:mt-[90px] xsm:mt-[90px] ">
                        <img src="assets/images/lazy.svg" src="assets/images/media/img_01.jpg" alt="" class="lazy-img">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_09.svg" alt=""
                            class="lazy-img shapes shape-one absolute top-[-9%] left-[-3%] z-0 w-[24%] animate-[jumpTwo_3.5s_infinite_linear]">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_10.svg" alt=""
                            class="lazy-img shapes shape-two absolute z-[-1] top-[-10%] left-[64%]">
                        <div
                            class="shapes shape-three absolute w-[57px] h-[57px] rotate-[15deg] right-[-5%] z-0 animate-[rotated_28s_infinite_linear] rounded-[13px] top-[10%] bg-[#FF8C24]">
                        </div>
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_11.svg" alt=""
                            class="lazy-img shapes shape-four absolute z-[-1] right-[-11%] top-[52%]">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_12.svg" alt=""
                            class="lazy-img shapes shape-five absolute z-[-1] left-[9%] bottom-[2%]">
                        <div
                            class="shapes shape-six absolute w-20 h-20 rotate-[-15deg] z-0 animate-[rotatedTwo_35s_infinite_linear] rounded-[15px] left-0 top-[44%] bg-[#17BD37]">
                        </div>
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_13.svg" alt=""
                            class="lazy-img shapes shape-seven absolute z-[-1] left-[-10%] animate-[jumpFour_3.5s_infinite_linear] top-1/4">
                        <div class="card-one absolute w-[330px] shadow-[0px_30px_60px_rgba(14,36,58,0.06)] right-[-17%] pl-[45px] pr-[15px] py-[25px] bottom-0 bg-white lg:p-[15px_15px_15px_30px] lg:w-[280px] md:p-[15px_15px_15px_30px] md:w-[280px] md:right-0 sm:p-[15px_15px_15px_30px] sm:w-[280px] sm:right-0 xsm:p-[15px_15px_15px_30px] xsm:w-[280px] xsm:right-0 wow fadeInUp"
                            data-wow-delay="0.25s">

                        </div>
                    </div>
                </div>
            </div>
        </div><br />

        <div class="container">
            <div class="flex flex-wrap mx-[-12px] items-center">
                <div
                    class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-last lg:order-last md:order-last wow fadeInLeft">
                    <div
                        class="img-meta inline-block relative !pl-[1rem] xl:!pl-[3rem] lg:!pl-[3rem] pb-[50px] sm:mt-[90px] xsm:mt-[90px]">
                        <img src="assets/images/lazy.svg" src="assets/images/media/img_01.jpg" alt="" class="lazy-img">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_09.svg" alt=""
                            class="lazy-img shapes shape-one absolute top-[-9%] left-[-3%] z-0 w-[24%] animate-[jumpTwo_3.5s_infinite_linear]">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_10.svg" alt=""
                            class="lazy-img shapes shape-two absolute z-[-1] top-[-10%] left-[64%]">
                        <div
                            class="shapes shape-three absolute w-[57px] h-[57px] rotate-[15deg] right-[-5%] z-0 animate-[rotated_28s_infinite_linear] rounded-[13px] top-[10%] bg-[#FF8C24]">
                        </div>
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_11.svg" alt=""
                            class="lazy-img shapes shape-four absolute z-[-1] right-[-11%] top-[52%]">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_12.svg" alt=""
                            class="lazy-img shapes shape-five absolute z-[-1] left-[9%] bottom-[2%]">
                        <div
                            class="shapes shape-six absolute w-20 h-20 rotate-[-15deg] z-0 animate-[rotatedTwo_35s_infinite_linear] rounded-[15px] left-0 top-[44%] bg-[#17BD37]">
                        </div>
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_13.svg" alt=""
                            class="lazy-img shapes shape-seven absolute z-[-1] left-[-10%] animate-[jumpFour_3.5s_infinite_linear] top-1/4">
                        <div class="card-one absolute w-[330px] shadow-[0px_30px_60px_rgba(14,36,58,0.06)] right-[-17%] pl-[45px] pr-[15px] py-[25px] bottom-0 bg-white lg:p-[15px_15px_15px_30px] lg:w-[280px] md:p-[15px_15px_15px_30px] md:w-[280px] md:right-0 sm:p-[15px_15px_15px_30px] sm:w-[280px] sm:right-0 xsm:p-[15px_15px_15px_30px] xsm:w-[280px] xsm:right-0 wow fadeInUp"
                            data-wow-delay="0.25s">
                        </div>
                    </div>
                </div>

                <div
                    class="xl:w-5/12 lg:w-5/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !mr-auto xl:order-first lg:order-first md:order-first">
                    <div class="block-style-one wow fadeInRight">
                        <div class="title-style-one">
                            <h2
                                class="main-title 2xl:text-[54px] md:text-[35px] sm:text-[35px] xsm:text-[35px] font-bold text-black !m-0">
                                How We <span
                                    class="inline-block relative z-[1] before:content-[''] before:absolute before:w-[98%] before:h-3 before:z-[-1] before:left-1 before:bottom-2.5 before:bg-[rgba(255,139,37,0.4)]">
                                    Got Started.</span>

                            </h2>
                        </div>
                        <p class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px]">
                            WestGate IT Hub was founded with the vision to support Indian IT companies in their
                            international growth. Recognising the immense talent and potential within India’s IT sector,
                            we saw an opportunity to help businesses bridge the geographical divide and tap into the
                            vast UK market. We’ve grown to become a trusted partner for numerous Indian IT companies,
                            assisting them in every step of their journey—from proposal writing and project management
                            to client acquisition and delivery.
                        </p>
                        <!-- <ul
                            class="text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
                            <li><span class="font-medium text-black">Established in [Year]</span></li>
                            <li><span class="font-medium text-black">Focus on expanding Indian IT companies into the UK
                                    market.</span></li>
                            <li><span class="font-medium text-black">Developed strong partnerships with public and
                                    private sectors in the UK</span></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div><br />

        <div class="container">
            <div class="flex flex-wrap mx-[-12px] items-center">
                <div
                    class="xl:w-5/12 lg:w-5/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto xl:order-last lg:order-last md:order-last">
                    <div class="block-style-one wow fadeInRight">
                        <div class="title-style-one">
                            <h2
                                class="main-title 2xl:text-[54px] md:text-[35px] sm:text-[35px] xsm:text-[35px] font-bold text-black !m-0">
                                How We Work: <span
                                    class=" inline-block relative z-[1] before:content-[''] before:absolute before:w-[98%] before:h-3 before:z-[-1] before:left-1 before:bottom-2.5 before:bg-[rgba(255,139,37,0.4)]">A
                                    Comprehensive</span>
                                Tailored Approach.</h2><br />
                        </div> <!-- /.title-style-one -->
                        <!-- <h4
                            class=" text-black 2xl:text-[22px] lg:text-[22px] md:text-[22px] sm:text-[22px] xsm:text-[22px] pt-[65px] pb-5 lg:pt-10 md:pt-10 sm:pt-10 xsm:pt-10 lg:pb-[10px] md:pb-[10px] sm:pb-[10px] xsm:pb-[10px] ">
                            Who we are?</h4> -->
                        <p class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] ">
                            At WestGate IT Hub, we understand the challenges Indian IT companies face in the UK market.
                            Our approach is built around the needs of our partners, ensuring we offer customized
                            solutions at every step. From the moment you register with us, our team begins working on
                            identifying the right opportunities for your business. We provide end-to-end support, from
                            writing winning proposals to managing client relationships, ensuring you receive the best
                            possible chance at success.</p>
                        <ul
                            class="text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
                            <li><span class="font-medium text-black"> Understanding Your Business:</span>We assess
                                your company’s strengths, services, and capabilities.</li>
                            <li><span class="font-medium text-black"> Market Research:</span>We identify the right
                                opportunities for you in the UK market.</li>
                            <li><span class="font-medium text-black">Proposal Creation:</span>We write compelling
                                proposals that highlight your unique value proposition.</li>
                            <li><span class="font-medium text-black"> Client Engagement:</span>We handle negotiations
                                and client communication on your behalf.</li>
                            <li><span class="font-medium text-black">Project Management:</span>We support the successful
                                execution of the project once the deal is closed</li>
                        </ul>

                    </div> <!-- /.block-style-one -->
                </div>
                <div
                    class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-first lg:order-first md:order-first wow fadeInLeft">
                    <div
                        class="img-meta inline-block relative !pl-[1rem] xl:!pl-[3rem] lg:!pl-[3rem] pb-[50px] sm:mt-[90px] xsm:mt-[90px] ">
                        <img src="assets/images/lazy.svg" src="assets/images/media/img_01.jpg" alt="" class="lazy-img">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_09.svg" alt=""
                            class="lazy-img shapes shape-one absolute top-[-9%] left-[-3%] z-0 w-[24%] animate-[jumpTwo_3.5s_infinite_linear]">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_10.svg" alt=""
                            class="lazy-img shapes shape-two absolute z-[-1] top-[-10%] left-[64%]">
                        <div
                            class="shapes shape-three absolute w-[57px] h-[57px] rotate-[15deg] right-[-5%] z-0 animate-[rotated_28s_infinite_linear] rounded-[13px] top-[10%] bg-[#FF8C24]">
                        </div>
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_11.svg" alt=""
                            class="lazy-img shapes shape-four absolute z-[-1] right-[-11%] top-[52%]">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_12.svg" alt=""
                            class="lazy-img shapes shape-five absolute z-[-1] left-[9%] bottom-[2%]">
                        <div
                            class="shapes shape-six absolute w-20 h-20 rotate-[-15deg] z-0 animate-[rotatedTwo_35s_infinite_linear] rounded-[15px] left-0 top-[44%] bg-[#17BD37]">
                        </div>
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_13.svg" alt=""
                            class="lazy-img shapes shape-seven absolute z-[-1] left-[-10%] animate-[jumpFour_3.5s_infinite_linear] top-1/4">
                        <div class="card-one absolute w-[330px] shadow-[0px_30px_60px_rgba(14,36,58,0.06)] right-[-17%] pl-[45px] pr-[15px] py-[25px] bottom-0 bg-white lg:p-[15px_15px_15px_30px] lg:w-[280px] md:p-[15px_15px_15px_30px] md:w-[280px] md:right-0 sm:p-[15px_15px_15px_30px] sm:w-[280px] sm:right-0 xsm:p-[15px_15px_15px_30px] xsm:w-[280px] xsm:right-0 wow fadeInUp"
                            data-wow-delay="0.25s">

                        </div>
                    </div>
                </div>
            </div>
        </div><br />

        <div class="container">
            <div class="flex flex-wrap mx-[-12px] items-center">
                <div
                    class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-last lg:order-last md:order-last wow fadeInLeft">
                    <div
                        class="img-meta inline-block relative !pl-[1rem] xl:!pl-[3rem] lg:!pl-[3rem] pb-[50px] sm:mt-[90px] xsm:mt-[90px]">
                        <img src="assets/images/lazy.svg" src="assets/images/media/img_01.jpg" alt="" class="lazy-img">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_09.svg" alt=""
                            class="lazy-img shapes shape-one absolute top-[-9%] left-[-3%] z-0 w-[24%] animate-[jumpTwo_3.5s_infinite_linear]">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_10.svg" alt=""
                            class="lazy-img shapes shape-two absolute z-[-1] top-[-10%] left-[64%]">
                        <div
                            class="shapes shape-three absolute w-[57px] h-[57px] rotate-[15deg] right-[-5%] z-0 animate-[rotated_28s_infinite_linear] rounded-[13px] top-[10%] bg-[#FF8C24]">
                        </div>
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_11.svg" alt=""
                            class="lazy-img shapes shape-four absolute z-[-1] right-[-11%] top-[52%]">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_12.svg" alt=""
                            class="lazy-img shapes shape-five absolute z-[-1] left-[9%] bottom-[2%]">
                        <div
                            class="shapes shape-six absolute w-20 h-20 rotate-[-15deg] z-0 animate-[rotatedTwo_35s_infinite_linear] rounded-[15px] left-0 top-[44%] bg-[#17BD37]">
                        </div>
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_13.svg" alt=""
                            class="lazy-img shapes shape-seven absolute z-[-1] left-[-10%] animate-[jumpFour_3.5s_infinite_linear] top-1/4">
                        <div class="card-one absolute w-[330px] shadow-[0px_30px_60px_rgba(14,36,58,0.06)] right-[-17%] pl-[45px] pr-[15px] py-[25px] bottom-0 bg-white lg:p-[15px_15px_15px_30px] lg:w-[280px] md:p-[15px_15px_15px_30px] md:w-[280px] md:right-0 sm:p-[15px_15px_15px_30px] sm:w-[280px] sm:right-0 xsm:p-[15px_15px_15px_30px] xsm:w-[280px] xsm:right-0 wow fadeInUp"
                            data-wow-delay="0.25s">
                        </div>
                    </div>
                </div>

                <div
                    class="xl:w-5/12 lg:w-5/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !mr-auto xl:order-first lg:order-first md:order-first">
                    <div class="block-style-one wow fadeInRight">
                        <div class="title-style-one">
                            <h2
                                class="main-title 2xl:text-[54px] md:text-[35px] sm:text-[35px] xsm:text-[35px] font-bold text-black !m-0">
                                Why Work With <span
                                    class="inline-block relative z-[1] before:content-[''] before:absolute before:w-[98%] before:h-3 before:z-[-1] before:left-1 before:bottom-2.5 before:bg-[rgba(255,139,37,0.4)]">
                                    WestGate IT Hub?</span>

                            </h2>
                        </div>
                        <p class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px]">
                            We aren’t just a marketing partner—we are an extension of your team. Here's why working with
                            us will give you a competitive edge in the UK market
                        </p>
                        <ul
                            class="text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
                            <li><span class="font-medium text-black">Guaranteed Results:</span>With our annual
                                subscription, we guarantee at least one project worth 60L or more within 12 months.</li>
                            <li><span class="font-medium text-black"> Industry Expertise:</span>Our team has deep
                                knowledge of both the UK and Indian IT landscapes.</li>
                            <li><span class="font-medium text-black">Full Support:</span>From proposal writing to client
                                communication and project management, we offer comprehensive end-to-end support</li>
                            <li><span class="font-medium text-black"> Long-Term Partnerships:</span>We are invested in
                                the success of your business, building long-lasting relationships.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><br />

        <!-- <div class="container">
            <div class="flex flex-wrap mx-[-12px] items-center">
                <div
                    class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-last lg:order-last md:order-last wow fadeInLeft">
                    <div
                        class="img-meta inline-block relative !pl-[1rem] xl:!pl-[3rem] lg:!pl-[3rem] pb-[50px] sm:mt-[90px] xsm:mt-[90px]">
                        <img src="assets/images/lazy.svg" src="assets/images/media/img_01.jpg" alt="" class="lazy-img">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_09.svg" alt=""
                            class="lazy-img shapes shape-one absolute top-[-9%] left-[-3%] z-0 w-[24%] animate-[jumpTwo_3.5s_infinite_linear]">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_10.svg" alt=""
                            class="lazy-img shapes shape-two absolute z-[-1] top-[-10%] left-[64%]">
                        <div
                            class="shapes shape-three absolute w-[57px] h-[57px] rotate-[15deg] right-[-5%] z-0 animate-[rotated_28s_infinite_linear] rounded-[13px] top-[10%] bg-[#FF8C24]">
                        </div>
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_11.svg" alt=""
                            class="lazy-img shapes shape-four absolute z-[-1] right-[-11%] top-[52%]">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_12.svg" alt=""
                            class="lazy-img shapes shape-five absolute z-[-1] left-[9%] bottom-[2%]">
                        <div
                            class="shapes shape-six absolute w-20 h-20 rotate-[-15deg] z-0 animate-[rotatedTwo_35s_infinite_linear] rounded-[15px] left-0 top-[44%] bg-[#17BD37]">
                        </div>
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_13.svg" alt=""
                            class="lazy-img shapes shape-seven absolute z-[-1] left-[-10%] animate-[jumpFour_3.5s_infinite_linear] top-1/4">
                        <div class="card-one absolute w-[330px] shadow-[0px_30px_60px_rgba(14,36,58,0.06)] right-[-17%] pl-[45px] pr-[15px] py-[25px] bottom-0 bg-white lg:p-[15px_15px_15px_30px] lg:w-[280px] md:p-[15px_15px_15px_30px] md:w-[280px] md:right-0 sm:p-[15px_15px_15px_30px] sm:w-[280px] sm:right-0 xsm:p-[15px_15px_15px_30px] xsm:w-[280px] xsm:right-0 wow fadeInUp"
                            data-wow-delay="0.25s">
                        </div>
                    </div>
                </div>

                <div
                    class="xl:w-5/12 lg:w-5/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !mr-auto xl:order-first lg:order-first md:order-first">
                    <div class="block-style-one wow fadeInRight">
                        <div class="title-style-one">
                            <h2
                                class="main-title 2xl:text-[54px] md:text-[35px] sm:text-[35px] xsm:text-[35px] font-bold text-black !m-0">
                                Meet the Team Behind<span
                                    class="inline-block relative z-[1] before:content-[''] before:absolute before:w-[98%] before:h-3 before:z-[-1] before:left-1 before:bottom-2.5 before:bg-[rgba(255,139,37,0.4)]">
                                    WestGate IT Hub</span>
                            </h2>
                        </div>
                        <p class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px]">
                            Our team is made up of experienced professionals from both the UK and India who bring
                            in-depth market knowledge, strategic insights, and operational expertise to the table.
                        </p>
                        <ul
                            class="text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
                            <li><span class="font-medium text-black">[Name], Founder & CEO:</span>We assess
                                your company’s strengths, services, and capabilities.</li>
                            <li><span class="font-medium text-black">[Name], Head of Business Development:</span>We
                                : Short bio about the founder’s background, vision for the company, and key areas of
                                expertise.</li>
                            <li><span class="font-medium text-black">Proposal Creation:</span>: Bio detailing experience
                                with international business, client acquisition, and project delivery.</li>
                            <li><span class="font-medium text-black"> [Name], Marketing & Client Relations
                                    Lead:</span>Expertise in creating successful client partnerships, proposal writing,
                                and client communications.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="container">
            <div class="flex flex-wrap mx-[-12px] items-center">
                <div
                    class="xl:w-5/12 lg:w-5/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto xl:order-last lg:order-last md:order-last">
                    <div class="block-style-one wow fadeInRight">
                        <div class="title-style-one">
                            <h2
                                class="main-title 2xl:text-[54px] md:text-[35px] sm:text-[35px] xsm:text-[35px] font-bold text-black !m-0">
                                Meet the : <span
                                    class=" inline-block relative z-[1] before:content-[''] before:absolute before:w-[98%] before:h-3 before:z-[-1] before:left-1 before:bottom-2.5 before:bg-[rgba(255,139,37,0.4)]">Team
                                    Behind
                                </span>
                                WestGate IT Hub</h2><br />
                        </div>

                        <p class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] ">At WestGate
                            It Hub, we believe that great things are achieved through collaboration, dedication, and
                            passion. Our team is composed of talented individuals who bring unique skills, perspectives,
                            and energy to everything we do. Get to know the incredible people who make up our team!</p>
                        <ul
                            class="text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
                            <li><span class="font-medium text-black">[Name], Founder & CEO : </span>Short bio about the
                                founder’s background, vision for the company, and key areas of expertise.</li>
                            <li><span class="font-medium text-black">[Name], Head of Business Development : </span>Bio
                                detailing experience with international business, client acquisition, and project
                                delivery.</li>
                            <li><span class="font-medium text-black">[Name], Marketing & Client Relations Lead :
                                </span>Expertise in creating successful client partnerships, proposal writing, and
                                client communications.</li>

                        </ul>

                    </div>
                </div>
                <div
                    class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-first lg:order-first md:order-first wow fadeInLeft">
                    <div
                        class="img-meta inline-block relative !pl-[1rem] xl:!pl-[3rem] lg:!pl-[3rem] pb-[50px] sm:mt-[90px] xsm:mt-[90px] ">
                        <img src="assets/images/lazy.svg" src="assets/images/media/img_01.jpg" alt="" class="lazy-img">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_09.svg" alt=""
                            class="lazy-img shapes shape-one absolute top-[-9%] left-[-3%] z-0 w-[24%] animate-[jumpTwo_3.5s_infinite_linear]">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_10.svg" alt=""
                            class="lazy-img shapes shape-two absolute z-[-1] top-[-10%] left-[64%]">
                        <div
                            class="shapes shape-three absolute w-[57px] h-[57px] rotate-[15deg] right-[-5%] z-0 animate-[rotated_28s_infinite_linear] rounded-[13px] top-[10%] bg-[#FF8C24]">
                        </div>
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_11.svg" alt=""
                            class="lazy-img shapes shape-four absolute z-[-1] right-[-11%] top-[52%]">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_12.svg" alt=""
                            class="lazy-img shapes shape-five absolute z-[-1] left-[9%] bottom-[2%]">
                        <div
                            class="shapes shape-six absolute w-20 h-20 rotate-[-15deg] z-0 animate-[rotatedTwo_35s_infinite_linear] rounded-[15px] left-0 top-[44%] bg-[#17BD37]">
                        </div>
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_13.svg" alt=""
                            class="lazy-img shapes shape-seven absolute z-[-1] left-[-10%] animate-[jumpFour_3.5s_infinite_linear] top-1/4">
                        <div class="card-one absolute w-[330px] shadow-[0px_30px_60px_rgba(14,36,58,0.06)] right-[-17%] pl-[45px] pr-[15px] py-[25px] bottom-0 bg-white lg:p-[15px_15px_15px_30px] lg:w-[280px] md:p-[15px_15px_15px_30px] md:w-[280px] md:right-0 sm:p-[15px_15px_15px_30px] sm:w-[280px] sm:right-0 xsm:p-[15px_15px_15px_30px] xsm:w-[280px] xsm:right-0 wow fadeInUp"
                            data-wow-delay="0.25s">

                        </div>
                    </div>
                </div>
            </div>
        </div><br />

        <h3
            class="text-center text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] mt-[30px] lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5 ">
            Ready to Take Your Business Global?</h3>

        <div class="text-center wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
            <a routerLink="/partner-with-us"
                class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Partner
                With Us</a>
        </div>
    </div>
</div>