<div class="main-page-wrapper overflow-x-hidden">

    <div class="contact-section-three p-[30px] lg:p-0 md:p-0 sm:p-0 xsm:p-0 ">
        <div
            class="address-wrapper z-[2] relative pt-[180px]  lg:pt-[150px] md:pt-[150px] sm:pt-[150px] xsm:pt-[150px]  mb-[60px] lg:mb-20 md:mb-20 sm:mb-20 xsm:mb-20  overflow-hidden before:content-[''] before:absolute before:h-[200px] before:w-[120%] before:bottom-[-95px] before:left-[-2%] before:z-[-1] before:rotate-[-4deg] bg-[#EEFBFF] before:bg-white">
            <div class="container">
                <div class="title-style-seven text-center wow fadeInUp">
                    <h2
                        class="main-title font-bold  text-black  text-[50px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
                        Connecting Indian <span class="relative inline-block"> IT Excellence with Global
                            Opportunities<img
                                class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
                                src="assets/images/shape/shape_96.svg" alt=""></span></h2>
                </div> <!-- /.title-style-seven -->
                <div class="flex flex-wrap mx-[-12px]">
                    <div class="xxl:w-6/12  xl:w-7/12 w-full flex-[0_0_auto] px-[12px] max-w-full m-auto">
                        <p
                            class="mt-[45px]  lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5  mb-[70px]  lg:mb-[30px] md:mb-[30px] sm:mb-[30px] xsm:mb-[30px]  text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px]  !leading-[2]  text-center wow fadeInUp">
                            WestGate IT Hub is your trusted partner in bridging the gap between Indian IT capabilities
                            and the
                            growing demand for technology solutions in the UK.</p>
                    </div>
                </div>

                <div class="text-center wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                    <a routerLink="/partner-with-us"
                        class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Partner
                        With Us Today</a>
                </div>
            </div>
        </div>
        <div class="fancy-feature-fiftyOne relative mt-[60px]">
            <div class="container">
                <div class="flex flex-wrap mx-[-12px]">
                    <div class="xl:w-7/12 lg:w-7/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInLeft">
                        <div class="title-style-five mb-[65px] lg:mb-10 md:mb-10 sm:mb-10 xsm:mb-10">
                            <!-- <div class="sc-title-two italic relative text-[17px] text-[color:var(--prime-ten)] mb-5 pl-10 before:content-[''] before:absolute before:w-6 before:h-px before:left-0 before:top-3.5 before:bg-[var(--prime-ten)]">More About us.</div> -->
                            <h2
                                class="main-title font-medium text-black text-[50px] leading-[1.25em] 2xl:text-[58px] lg:text-[50px] md:text-[35px] sm:text-[35px] xsm:text-[35px]">
                                Our Mission: Empowering
                                IT Companies to Thrive in the UK Market.</h2>
                        </div>
                    </div>
                </div>

                <div class="flex flex-wrap mx-[-12px]">
                    <div class="xl:w-8/12 lg:w-9/12 flex-[0_0_auto] px-[12px] max-w-full !ml-auto">
                        <div class="xxl:!pl-[3rem] wow fadeInRight">
                            <p
                                class="leading-[2.08em] text-[18px] 2xl:text-[22px] text-black lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] ">
                                At WestGate IT Hub, we believe in the power of
                                collaboration. Our mission is to empower
                                Indian IT companies by offering them an effective channel to expand their presence and
                                business opportunities in the UK. We connect innovative IT companies from India with the
                                UK's diverse and dynamic business ecosystem. With our deep knowledge of both markets, we
                                bridge the gap by offering the right resources, guidance, and market access.</p>
                        </div>
                    </div>
                </div>
            </div>
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_171.svg" alt=""
                class="lazy-img shapes shape-one absolute z-[-1] left-[15%] bottom-0 lg:left-[6%] md:!hidden sm:!hidden xsm:!hidden">
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_172.svg" alt=""
                class="lazy-img shapes shape-two absolute z-[-1] right-[17%] 2xl:right-[8%] lg:right-[6%] md:!hidden sm:!hidden xsm:!hidden top-[4%]">
        </div>
    </div>

    <div class="fancy-feature-two relative pt-[60px] lg:pt-[90px] md:pt-[90px] sm:pt-[90px] xsm:pt-[90px]">

        <div class="container">
            <div class="flex flex-wrap mx-[-12px] items-center">
                <div
                    class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-last lg:order-last md:order-last wow fadeInLeft">
                    <div
                        class="img-meta inline-block relative !pl-[1rem] xl:!pl-[3rem] lg:!pl-[3rem] pb-[50px] sm:mt-[90px] xsm:mt-[90px]">
                        <img src="assets/images/lazy.svg" src="assets/images/media/img_01.jpg" alt="" class="lazy-img">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_09.svg" alt=""
                            class="lazy-img shapes shape-one absolute top-[-9%] left-[-3%] z-0 w-[24%] animate-[jumpTwo_3.5s_infinite_linear]">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_10.svg" alt=""
                            class="lazy-img shapes shape-two absolute z-[-1] top-[-10%] left-[64%]">
                        <div
                            class="shapes shape-three absolute w-[57px] h-[57px] rotate-[15deg] right-[-5%] z-0 animate-[rotated_28s_infinite_linear] rounded-[13px] top-[10%] bg-[#FF8C24]">
                        </div>
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_11.svg" alt=""
                            class="lazy-img shapes shape-four absolute z-[-1] right-[-11%] top-[52%]">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_12.svg" alt=""
                            class="lazy-img shapes shape-five absolute z-[-1] left-[9%] bottom-[2%]">
                        <div
                            class="shapes shape-six absolute w-20 h-20 rotate-[-15deg] z-0 animate-[rotatedTwo_35s_infinite_linear] rounded-[15px] left-0 top-[44%] bg-[#17BD37]">
                        </div>
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_13.svg" alt=""
                            class="lazy-img shapes shape-seven absolute z-[-1] left-[-10%] animate-[jumpFour_3.5s_infinite_linear] top-1/4">
                        <div class="card-one absolute w-[330px] shadow-[0px_30px_60px_rgba(14,36,58,0.06)] right-[-17%] pl-[45px] pr-[15px] py-[25px] bottom-0 bg-white lg:p-[15px_15px_15px_30px] lg:w-[280px] md:p-[15px_15px_15px_30px] md:w-[280px] md:right-0 sm:p-[15px_15px_15px_30px] sm:w-[280px] sm:right-0 xsm:p-[15px_15px_15px_30px] xsm:w-[280px] xsm:right-0 wow fadeInUp"
                            data-wow-delay="0.25s">
                        </div>
                    </div>
                </div>

                <div
                    class="xl:w-5/12 lg:w-5/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !mr-auto xl:order-first lg:order-first md:order-first">
                    <div class="block-style-one wow fadeInRight">
                        <div class="title-style-one">
                            <h2
                                class="main-title 2xl:text-[40px] md:text-[35px] sm:text-[35px] xsm:text-[35px] font-bold text-black !m-0">
                                How We <span
                                    class="inline-block relative z-[1] before:content-[''] before:absolute before:w-[98%] before:h-3 before:z-[-1] before:left-1 before:bottom-2.5 before:bg-[rgba(255,139,37,0.4)]">
                                    Got Started.</span>
                            </h2>
                        </div>
                        <p class="text-[18px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px]">
                            WestGate IT Hub was founded with the vision to support Indian IT companies in their
                            international growth. Recognising the immense talent and potential within India’s IT sector,
                            we saw an opportunity to help businesses bridge the geographical divide and tap into the
                            vast UK market. We’ve grown to become a trusted partner for numerous Indian IT companies,
                            assisting them in every step of their journey—from proposal writing and project management
                            to client acquisition and delivery.
                        </p>
                         <img src="assets/images/lazy.svg" src="assets/images/shape/shape_137.svg" alt=""
								class="lazy-img mt-[30px] !ml-auto !mr-auto xsm:!hidden inline-block">
                        <!-- <ul
                            class="text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
                            <li><span class="font-medium text-black">Established in [Year]</span></li>
                            <li><span class="font-medium text-black">Focus on expanding Indian IT companies into the UK
                                    market.</span></li>
                            <li><span class="font-medium text-black">Developed strong partnerships with public and
                                    private sectors in the UK</span></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div><br />

        <div class="fancy-feature-eleven relative mt-[60px] lg:mt-[120px] md:mt-[10px] sm:mt-[10px] xsm:mt-[10px] ">
            <div class="container">
                <div class="flex flex-wrap mx-[-12px] align-items-start ">
                    <div class="xl:w-5/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInLeft">
                        <div class="title-style-four">
                            <!-- <div class="sc-title-two text-[15px] tracking-[3px] uppercase pb-[22px] lg:text-[14px] lg:pb-2.5 md:text-[14px] md:pb-2.5 sm:text-[14px] sm:pb-2.5 xsm:text-[14px] xsm:pb-2.5" style="color:#6A45FF;">Questions & Answers</div> -->
                            <h2 class="main-title font-medium text-black !m-0 tracking-[-1.5px]">How We Work :<span
                                    class=" inline-block relative z-[1] before:content-[''] before:absolute before:w-[97%] before:h-3 before:opacity-50 before:z-[-1] before:left-[3px] before:bottom-[13px] before:bg-[#FF5BD7]">A
                                    Comprehensive</span> Tailored Approach.</h2>
                        </div>
                        <!-- <div class="text-[15px] md:text-[14px] sm:text-[14px] xsm:text-[14px] font-medium pt-[70px] pb-[5px] lg:pt-10 md:pt-10 sm:pt-10 xsm:pt-10 " style="color:#6A45FF;">Confusion?</div> -->
                        <p
                            class=" text-[18px] 2xl:text-[18px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] mb-[45px] ">
                            At WestGate IT Hub, we understand the challenges Indian IT companies face in the UK market.
                            Our approach is built around the needs of our partners, ensuring we offer customized
                            solutions at every step. From the moment you register with us, our team begins working on
                            identifying the right opportunities for your business. We provide end-to-end support, from
                            writing winning proposals to managing client relationships, ensuring you receive the best
                            possible chance at success.</p>
                            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_137.svg" alt=""
								class="lazy-img mt-[30px] !ml-auto !mr-auto xsm:!hidden inline-block">
                        <!-- <a href="contact-us.html" class="btn-seven text-white leading-[50px] relative transition-all duration-[0.3s] ease-[ease-in-out] p-[0_40px] rounded-[25px] bg-[#1B1B1B] hover:bg-[var(--prime-three)]">Contact us</a> -->
                    </div>

                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto wow fadeInRight">
                        <div class="accordion accordion-style-one md:mt-10 sm:mt-10 xsm:mt-10 " id="accordionOne">
                            <div
                                class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                                <div class="accordion-header" id="headingOne">
                                    <button
                                        class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="false" aria-controls="collapseOne">
                                        1. Understanding Your Business :
                                    </button>
                                </div>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                    data-bs-parent="#accordionOne">
                                    <div
                                        class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                        <p
                                            class=" text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            We assess your company’s strengths, services, and capabilities. </p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                                <div class="accordion-header" id="headingTwo">
                                    <button
                                        class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                        2. Market Research :
                                    </button>
                                </div>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionOne">
                                    <div
                                        class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                        <p
                                            class=" text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            We identify the right opportunities for you in the UK market.</p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                                <div class="accordion-header" id="headingThree">
                                    <button
                                        class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                        aria-expanded="true" aria-controls="collapseThree">
                                        3. Proposal Creation :
                                    </button>
                                </div>
                                <div id="collapseThree" class="accordion-collapse collapse show"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionOne">
                                    <div
                                        class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                        <p
                                            class=" text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            We write compelling proposals that highlight your unique value proposition.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="accordion-item border mb-[25px] rounded-[10px] border-solid border- [#E9E9E9] bg-white ">
                                <div class="accordion-header" id="headingFour">
                                    <button
                                        class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                        aria-expanded="false" aria-controls="collapseFour">
                                        4. Client Engagement :
                                    </button>
                                </div>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                    data-bs-parent="#accordionOne">
                                    <div
                                        class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                        <p
                                            class=" text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            We handle negotiations and client communication on your behalf. </p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="accordion-item border mb-[25px] rounded-[10px] border-solid border- [#E9E9E9] bg-white ">
                                <div class="accordion-header" id="headingFive">
                                    <button
                                        class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                        aria-expanded="false" aria-controls="collapseFive">
                                        5. Project Management :
                                    </button>
                                </div>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                    data-bs-parent="#accordionOne">
                                    <div
                                        class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                        <p
                                            class=" text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            We co-ordinate the successful execution of the project once the deal is
                                            closed. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_49.svg" alt=""
                class="lazy-img shapes shape-one absolute z-[-1] top-[-9%] animate-[jumpThree_3.5s_infinite_linear] left-[30%]">
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_50.svg" alt=""
                class="lazy-img shapes shape-two absolute z-[-1] animate-[jumpFour_3.5s_infinite_linear] left-[3%] top-[48%]">
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_51.svg" alt=""
                class="lazy-img shapes shape-three absolute z-[-1] bottom-[-10%] animate-[jumpTwo_3.5s_infinite_linear] left-[28%]">
        </div>

        <div class="fancy-feature-eleven relative mt-[60px] lg:mt-[120px] md:mt-[10px] sm:mt-[10px] xsm:mt-[10px] ">
            <div class="container">
                <div class="flex flex-wrap mx-[-12px] align-items-start ">
                    <div class="xl:w-5/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInLeft">
                        <div class="title-style-four">
                            <!-- <div class="sc-title-two text-[15px] tracking-[3px] uppercase pb-[22px] lg:text-[14px] lg:pb-2.5 md:text-[14px] md:pb-2.5 sm:text-[14px] sm:pb-2.5 xsm:text-[14px] xsm:pb-2.5" style="color:#6A45FF;">Questions & Answers</div> -->
                            <h2 class="main-title font-medium text-black !m-0 tracking-[-1.5px]">Why Work With <span
                                    class=" inline-block relative z-[1] before:content-[''] before:absolute before:w-[97%] before:h-3 before:opacity-50 before:z-[-1] before:left-[3px] before:bottom-[13px] before:bg-[#FF5BD7]">A
                                    WestGate </span>IT Hub?</h2>
                        </div>
                        <!-- <div class="text-[15px] md:text-[14px] sm:text-[14px] xsm:text-[14px] font-medium pt-[70px] pb-[5px] lg:pt-10 md:pt-10 sm:pt-10 xsm:pt-10 " style="color:#6A45FF;">Confusion?</div> -->
                        <p
                            class=" text-[18px] 2xl:text-[18px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] mb-[45px] ">
                            We aren’t just a marketing partner—we are an extension of your team. Here's why working with
                            us will give you a competitive edge in the UK market</p>
                            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_137.svg" alt=""
                            class="lazy-img mt-[30px] !ml-auto !mr-auto xsm:!hidden inline-block">
                        <!-- <a href="contact-us.html" class="btn-seven text-white leading-[50px] relative transition-all duration-[0.3s] ease-[ease-in-out] p-[0_40px] rounded-[25px] bg-[#1B1B1B] hover:bg-[var(--prime-three)]">Contact us</a> -->
                    </div>

                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto wow fadeInRight">
                        <div class="accordion accordion-style-one md:mt-10 sm:mt-10 xsm:mt-10 " id="accordionTwo">
                            <div
                                class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                                <div class="accordion-header" id="headingOnes">
                                    <button
                                        class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseOnes"
                                        aria-expanded="false" aria-controls="collapseOnes">
                                        1. Guaranteed Results :
                                    </button>
                                </div>
                                <div id="collapseOnes" class="accordion-collapse collapse" aria-labelledby="headingOnes"
                                    data-bs-parent="#accordionTwo">
                                    <div
                                        class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                        <p
                                            class=" text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            With our annual
                                            subscription, we guarantee at least one project worth 60L or more within 12
                                            months.</p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                                <div class="accordion-header" id="headingTwos">
                                    <button
                                        class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwos"
                                        aria-expanded="false" aria-controls="collapseTwos">
                                        2. Industry Expertise :
                                    </button>
                                </div>
                                <div id="collapseTwos" class="accordion-collapse collapse" aria-labelledby="headingTwos"
                                    data-bs-parent="#accordionTwo">
                                    <div
                                        class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                        <p
                                            class=" text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            Our team has deep
                                            knowledge of both the UK and Indian IT landscapes.</p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                                <div class="accordion-header" id="headingThrees">
                                    <button
                                        class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseThrees"
                                        aria-expanded="true" aria-controls="collapseThrees">
                                        3. Full Support :
                                    </button>
                                </div>
                                <div id="collapseThrees" class="accordion-collapse collapse show"
                                    aria-labelledby="headingThrees" data-bs-parent="#accordionTwo">
                                    <div
                                        class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                        <p
                                            class=" text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            From proposal writing to client
                                            communication and project management, we offer comprehensive end-to-end
                                            support
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="accordion-item border mb-[25px] rounded-[10px] border-solid border- [#E9E9E9] bg-white ">
                                <div class="accordion-header" id="headingFours">
                                    <button
                                        class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseFours"
                                        aria-expanded="false" aria-controls="collapseFours">
                                        4. Long-Term Partnerships :
                                    </button>
                                </div>
                                <div id="collapseFours" class="accordion-collapse collapse"
                                    aria-labelledby="headingFours" data-bs-parent="#accordionTwo">
                                    <div
                                        class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                        <p
                                            class=" text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            We are invested in
                                            the success of your business, building long-lasting relationships. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_49.svg" alt=""
                class="lazy-img shapes shape-one absolute z-[-1] top-[-9%] animate-[jumpThree_3.5s_infinite_linear] left-[30%]">
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_50.svg" alt=""
                class="lazy-img shapes shape-two absolute z-[-1] animate-[jumpFour_3.5s_infinite_linear] left-[3%] top-[48%]">
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_51.svg" alt=""
                class="lazy-img shapes shape-three absolute z-[-1] bottom-[-10%] animate-[jumpTwo_3.5s_infinite_linear] left-[28%]">
        </div>

        <div class="team-section-two relative pt-[60px] lg:pt-[120px] md:pt-[120px] sm:pt-[120px] xsm:pt-[120px] ">
            <div class="container">
                <div class="wrapper relative">
                    <div class="flex flex-wrap mx-[-12px] items-center">
                        <div class="xl:w-5/12 lg:w-5/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInLeft">
                            <div
                                class="title-style-six text-center xl:text-left lg:text-left pb-10 lg:pb-5 md:pb-[10px] sm:pb-[10px] xsm:pb-[10px] ">
                                <h2
                                    class="main-title font-medium text-black text-[40px] leading-[1.32em] 2xl:text-[55px] lg:text-[48px] md:text-[32px] sm:text-[32px] xsm:text-[32px]">
                                    Meet the Team Behind WestGate IT Hub</h2>
                                <p
                                    class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                    At WestGate It Hub, we believe that great things are achieved through collaboration,
                                    dedication, and passion. Our team is composed of talented individuals who bring
                                    unique skills, perspectives, and energy to everything we do. Get to know the
                                    incredible people who make up our team! </p>
                            </div>
                        </div>
                    </div>

                    <div class="flex justify-content-center flex-wrap mx-[-12px]">
                        <div
                            class="xl:w-3/12 lg:w-3/12 md:w-3/12 sm:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
                            <div class="team-block-two mt-10 wow fadeInUp">
                                <div class="img-meta relative">
                                    <img src="assets/images/lazy.svg" src="assets/images/team/img_04.jpg" alt=""
                                        class="lazy-img team-img w-full rounded-[15px_15px_0_0]">
                                    <div
                                        class="info text-center shadow-[0px_10px_20px_rgba(0,0,0,0.03)] pt-[15px] pb-[18px] px-[15px] rounded-[15px] bg-white ">
                                        <h5 class=" text-black text-[20px] mb-[5px]">[Name]</h5>
                                        <div class=" text-black opacity-20">Founder & CEO</div>
                                        <p
                                            class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            Short bio about the
                                            founder’s background, vision for the company, and key areas of expertise.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="xl:w-3/12 lg:w-3/12 md:w-3/12 sm:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
                            <div class="team-block-two mt-10 wow fadeInUp" data-wow-delay="0.2s">
                                <div class="img-meta relative">
                                    <img src="assets/images/lazy.svg" src="assets/images/team/img_05.jpg" alt=""
                                        class="lazy-img team-img w-full rounded-[15px_15px_0_0]">
                                    <div
                                        class="info text-center shadow-[0px_10px_20px_rgba(0,0,0,0.03)] pt-[15px] pb-[18px] px-[15px] rounded-[15px] bg-white ">
                                        <h5 class=" text-black text-[20px] mb-[5px]">[Name]</h5>
                                        <div class=" text-black opacity-20">Head of Business Development</div>
                                        <p
                                            class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            Bio
                                            detailing experience with international business, client acquisition, and
                                            project
                                            delivery.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="xl:w-3/12 lg:w-3/12 md:w-3/12 sm:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
                            <div class="team-block-two mt-10 wow fadeInUp" data-wow-delay="0.4s">
                                <div class="img-meta relative">
                                    <img src="assets/images/lazy.svg" src="assets/images/team/img_06.jpg" alt=""
                                        class="lazy-img team-img w-full rounded-[15px_15px_0_0]">
                                    <div
                                        class="info text-center shadow-[0px_10px_20px_rgba(0,0,0,0.03)] pt-[15px] pb-[18px] px-[15px] rounded-[15px] bg-white ">
                                        <h5 class=" text-black text-[20px] mb-[5px]">[Name]</h5>
                                        <div class=" text-black opacity-20">Marketing & Client Relations Lead</div>
                                        <p
                                            class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            Expertise in creating successful client partnerships, proposal writing, and
                                            client communications.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_172.svg" alt=""
                class="lazy-img shapes shape-one absolute z-[-1] right-[39%] top-[9%] hidden xl:inline-block">
        </div>

        <div class="container ">
            <div class="title-style-five text-center mt-[30px]">
                <h4
                    class="main-title text-black font-bold text-[50px] leading-[1.25em] 2xl:text-[58px] lg:text-[50px] md:text-[35px] sm:text-[35px] xsm:text-[35px]">
                    Ready to Take Your Business Global?</h4>
            </div>
            <div class=" wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                <a routerLink="/partner-with-us"
                    class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Partner
                    With Us</a>
    
            </div>
        </div>

    </div>