<div class="main-page-wrapper overflow-x-hidden">
	<div class="hero-banner-seven p-[30px] 2xl:p-5 lg:p-0 md:p-0 sm:p-0 xsm:p-0 ">
		<div
			class="bg-wrapper relative pt-[200px] pb-5 md:pt-[150px] sm:pt-[150px] xsm:pt-[150px]  bg-cover z-[5] bg-[url(../images/shape/shape_94.svg)] bg-no-repeat bg-[center_bottom]">
			<div class="container">
				<div class="flex flex-wrap mx-[-12px]">
					<div
						class="xl:w-6/12 lg:w-6/12 md:w-7/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInLeft">

						<h1
							class="hero-heading font-bold text-black mt-[25px] text-[80px] lg:text-[55px] 2xl:text-[65px] md:text-[42px] sm:text-[42px] xsm:text-[42px] leading-[1.25em] tracking-[-3px]">
							Partner with WestGate IT Hub for<span class="relative ml-[1rem] inline-block">Global <img
									class=" absolute z-[-1] max-w-[132%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
									src="assets/images/shape/shape_95.svg" alt=""></span> IT Success.</h1>
						<p
							class=" text-[24px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] mb-[70px]  pt-[35px] xxl:!pr-[3rem] md:pt-[30px] sm:pt-[30px] xsm:pt-[30px]  lg:mb-10 md:mb-10 sm:mb-10 xsm:mb-10">
							Our team works tirelessly to bring your IT solutions to the UK market. We handle everything
							from proposals to project delivery
						</p>
						<a routerLink="/partner-with-us"
							class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Partner
							With Us Today</a>
					</div>
				</div>
				<div
					class="illustration-holder absolute w-[46%] right-0 top-[20%] 2xl:top-[24%] sm:static sm:w-full sm:m-[60px_0_0] xsm:static xsm:w-full xsm:m-[60px_0_0] wow fadeInRight">
					<img src="assets/images/lazy.svg" src="assets/images/assets/ils_05.svg" alt=""
						class="lazy-img main-illustration">
				</div>
			</div>
		</div>
	</div>


	<div class="pricing-section-four pt-[170px] lg:pt-[100px] md:pt-[100px] sm:pt-[100px] xsm:pt-[100px] ">
		<div class="container">
			<div class="flex flex-wrap mx-[-12px]">
				<div
					class="xxl:w-10/12 xl:w-9/12 lg:w-9/12 md:w-9/12 w-full flex-[0_0_auto] px-[12px] max-w-full m-auto">
					<div class="title-style-seven text-center wow fadeInUp">
						<h2
							class="main-title font-bold text-black text-[68px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
							Your Trusted Marketing<span class="relative inline-block"> Partner for Indian IT Companies
								<img class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
									src="assets/images/shape/shape_96.svg" alt=""></span></h2>
					</div>
					<p
						class=" text-[24px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] mb-[70px]  pt-[35px] xxl:!pr-[3rem] md:pt-[30px] sm:pt-[30px] xsm:pt-[30px]  lg:mb-10 md:mb-10 sm:mb-10 xsm:mb-10">
						WestGate IT Hub is a leading marketing partner connecting Indian IT companies with UK clients.
						We bridge the gap between Indian IT excellence and the growing demand for tech solutions in the
						UK. Whether you're an Indian company seeking to expand into the UK or a UK-based client looking
						for reliable IT suppliers, we provide end-to-end support to make that happen.
					</p>

					<div class="fancy-feature-fiftyNine relative mt-[140px] wow fadeInUp">
						<div class="container">
							<div
								class="card-wrapper  pt-[45px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 pb-[55px] lg:pb-[30px] md:pb-[30px] sm:pb-[30px] xsm:pb-[30px] mt-[85px] lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]  border-y-black border-solid">
								<div class="flex flex-wrap mx-[-12px] justify-center">
									<div
										class="xl:w-4/12 lg:w-4/12 md:w-6/12 sm:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
										<div class="card-style-twentySix text-center mt-[25px]  wow fadeInUp">
											<div
												class="icon rounded-[50%] m-auto flex items-center justify-center w-[75px] h-[75px] bg-black lg:w-[55px] lg:h-[55px] lg:p-[15px] md:w-[55px] md:h-[55px] md:p-[15px] sm:w-[55px] sm:h-[55px] sm:p-[15px] xsm:w-[55px] xsm:h-[55px] xsm:p-[15px]">
												<img src="assets/images/lazy.svg" src="assets/images/icon/icon_175.svg"
													alt="" class="lazy-img">
											</div>
											<h5
												class=" text-black mt-10 lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-[5px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px]">
												We specialize in resource sharing and providing IT
												services.</h5>
											<!-- <p
												class=" text-[18px] leading-[1.67em] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] ">
												Video courses.</p> -->
										</div>
									</div>
									<div
										class="xl:w-4/12 lg:w-4/12 md:w-6/12 sm:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
										<div class="card-style-twentySix text-center mt-[25px]  wow fadeInUp"
											data-wow-delay="0.2s">
											<div
												class="icon rounded-[50%] m-auto flex items-center justify-center w-[75px] h-[75px] bg-black lg:w-[55px] lg:h-[55px] lg:p-[15px] md:w-[55px] md:h-[55px] md:p-[15px] sm:w-[55px] sm:h-[55px] sm:p-[15px] xsm:w-[55px] xsm:h-[55px] xsm:p-[15px]">
												<img src="assets/images/lazy.svg" src="assets/images/icon/icon_176.svg"
													alt="" class="lazy-img">
											</div>
											<h5
												class=" text-black mt-10 lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-[5px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px]">
												We understand both Indian capabilities and UK market
												needs.</h5>
											<!-- <p
												class=" text-[18px] leading-[1.67em] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] ">
												Real-world experts.</p> -->
										</div>
									</div>
									<div
										class="xl:w-4/12 lg:w-4/12 md:w-6/12 sm:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
										<div class="card-style-twentySix text-center mt-[25px]  wow fadeInUp"
											data-wow-delay="0.3s">
											<div
												class="icon rounded-[50%] m-auto flex items-center justify-center w-[75px] h-[75px] bg-black lg:w-[55px] lg:h-[55px] lg:p-[15px] md:w-[55px] md:h-[55px] md:p-[15px] sm:w-[55px] sm:h-[55px] sm:p-[15px] xsm:w-[55px] xsm:h-[55px] xsm:p-[15px]">
												<img src="assets/images/lazy.svg" src="assets/images/icon/icon_177.svg"
													alt="" class="lazy-img">
											</div>
											<h5
												class=" text-black mt-10 lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-[5px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px]">
												We provide guaranteed project opportunities for our
												partners</h5>
											<!-- <p
												class=" text-[18px] leading-[1.67em] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] ">
												Mobile and desktop.</p> -->
										</div>
									</div>
								</div>
							</div>
						</div>
						<img src="assets/images/lazy.svg" src="assets/images/shape/shape_189.svg" alt=""
							class="lazy-img shapes shape-one absolute z-[-1] left-0 top-[4%] sm:!hidden xsm:!hidden">
					</div>

				</div>
			</div>
		</div>

		<div class="container">
			<div class="flex flex-wrap mx-[-12px]">
				<div
					class="xxl:w-10/12 xl:w-9/12 lg:w-9/12 md:w-9/12 w-full flex-[0_0_auto] px-[12px] max-w-full m-auto">
					<div class="title-style-seven text-center wow fadeInUp">
						<h2
							class="main-title font-bold text-black text-[68px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
							Tailored IT Solutions <span class="relative inline-block"> for Your Business<img
									class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
									src="assets/images/shape/shape_96.svg" alt=""></span></h2>
					</div>
					<p
						class=" text-[24px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] mb-[70px]  pt-[35px] xxl:!pr-[3rem] md:pt-[30px] sm:pt-[30px] xsm:pt-[30px]  lg:mb-10 md:mb-10 sm:mb-10 xsm:mb-10">
						We offer two key services that ensure your IT capabilities shine in the UK market
					</p>
				</div>
			</div>
		</div>

		<div class="container pt-[120px] lg:pt-20 md:pt-[60px] sm:pt-[60px] xsm:pt-[60px]">
			<div class="flex flex-wrap mx-[-12px] xxl:mx-[-24px]">
				<div
					class="xl:w-4/12 lg:w-4/12 md:w-6/12 sm:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInUp">
					<div
						class="card-style-one xxl:!pr-[3rem]  relative mb-[90px]  md:mb-[70px] sm:mb-[70px] xsm:mb-[70px] before:content-[''] before:absolute before:left-[-30px] before:top-[-30px] before:bottom-[-30px] before:shadow-[0px_30px_70px_rgba(10,22,37,0.0555514)] before:z-[-1] before:opacity-0 before:origin-[0_0] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:rounded-[5px] before:scale-x-100 before:scale-y-90 before:right-0 before:bg-white hover:before:opacity-100 hover:before:scale-[1.0] lg:p-[0_10px_0_15px] md:p-[0_10px_0_15px] sm:p-[0_10px_0_15px] xsm:p-[0_10px_0_15px]">
						<div class="icon flex items-center justify-center w-[55px] h-[55px] rounded-[15px] lg:w-[55px] lg:h-[55px] lg:p-[15px] md:w-[55px] md:h-[55px] md:p-[15px] sm:w-[55px] sm:h-[55px] sm:p-[15px] xsm:w-[55px] xsm:h-[55px] xsm:p-[15px]"
							style="background-color: rgba(100, 219, 226, 0.18);"><img src="assets/images/lazy.svg"
								src="assets/images/icon/icon_02.svg" alt="" class="lazy-img"></div>
						<h5
							class="font-medium mt-[35px] mb-[25px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] ">
							<a href="service-details.html"
								class="tran3s  text-black  hover:text-[color:var(--prime-one)]">Resource Sharing
							</a>
						</h5>
						<h5
							class=" text-black mt-10 lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-[5px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px]">
							Access Skilled IT Resources</h5>
						<p class="mb-[25px]">We connect UK clients with top-tier IT talent from India. Whether you need
							developers, project managers, or specialised IT professionals, our team ensures the right
							match for your project.</p>
						<a href="service-details.html"><img src="assets/images/lazy.svg"
								src="assets/images/icon/icon_05.svg" alt="" class="lazy-img"></a>
					</div> <!-- /.card-style-one -->
				</div>
				<div class="xl:w-4/12 lg:w-4/12 md:w-6/12 sm:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInUp"
					data-wow-delay="0.1s">
					<div
						class="card-style-one xxl:!pr-[3rem]  relative mb-[90px]  md:mb-[70px] sm:mb-[70px] xsm:mb-[70px] before:content-[''] before:absolute before:left-[-30px] before:top-[-30px] before:bottom-[-30px] before:shadow-[0px_30px_70px_rgba(10,22,37,0.0555514)] before:z-[-1] before:opacity-0 before:origin-[0_0] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:rounded-[5px] before:scale-x-100 before:scale-y-90 before:right-0 before:bg-white hover:before:opacity-100 hover:before:scale-[1.0] lg:p-[0_10px_0_15px] md:p-[0_10px_0_15px] sm:p-[0_10px_0_15px] xsm:p-[0_10px_0_15px]">
						<div class="icon flex items-center justify-center w-[55px] h-[55px] rounded-[15px] lg:w-[55px] lg:h-[55px] lg:p-[15px] md:w-[55px] md:h-[55px] md:p-[15px] sm:w-[55px] sm:h-[55px] sm:p-[15px] xsm:w-[55px] xsm:h-[55px] xsm:p-[15px]"
							style="background-color: rgba(255, 171, 51, 0.18);"><img src="assets/images/lazy.svg"
								src="assets/images/icon/icon_156.svg" alt="" class="lazy-img"></div>
						<h5
							class="font-medium mt-[35px] mb-[25px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] ">
							<a href="service-details.html"
								class="tran3s  text-black  hover:text-[color:var(--prime-one)]">IT Services
							</a>
						</h5>
						<h5
							class=" text-black mt-10 lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-[5px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px]">
							<p class="mb-[25px]"></p>
						</h5>
						<p class="mb-[25px]">We assist Indian IT companies in providing comprehensive IT services to the
							UK. From creating proposals, negotiating deals, to executing projects, we handle it all to
							ensure your success in the UK market.</p>
						<a href="service-details.html"><img src="assets/images/lazy.svg"
								src="assets/images/icon/icon_05.svg" alt="" class="lazy-img"></a>
					</div> <!-- /.card-style-one -->
				</div>
			</div>
		</div>
	</div>


	<div class="fancy-feature-twentyFour mt-[225px] lg:mt-[130px] md:mt-[130px] sm:mt-[130px] xsm:mt-[130px]">
		<div class="container">
			<div class="block-style-four">
				<div class="flex flex-wrap mx-[-12px] items-center">
					<div
						class="xl:w-5/12 lg:w-6/12 xl:order-last lg:order-last w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInRight">
						<div class="title-style-eight">
							<h2
								class="main-title text-black font-bold text-[68px] 2xl:text-[58px] lg:text-[48px] leading-[1.25em] tracking-[-1px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
								Why Choose <br>WestGate <span
									class="inline-block relative leading-[64px] 2xl:text-[58px] before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:left-0 before:top-0 before:bg-[var(--prime-six)] md:leading-[inherit] sm:leading-[inherit] xsm:leading-[inherit]">IT</span>
								Hub.</h2>
						</div>
						<p
							class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] !leading-[2] mt-[35px] mb-[50px] lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5 lg:mb-[30px] md:mb-[30px] sm:mb-[30px] xsm:mb-[30px] ">
							We bring unique value to Indian IT companies looking to expand in the UK market</p>

						<ul
							class="text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
							<li><span class="font-medium text-black">Guaranteed Projects:</span>We guarantee at least
								one
								project or more, or your subscription fee is refunded.</li>
							<li><span class="font-medium text-black">Full Market Access:</span> We provide access to
								both
								public and private sector opportunities in the UK.</li>
							<li><span class="font-medium text-black">Expert Proposal Writing & Client
									Negotiation:</span> Our
								team writes winning proposals and handles all client communication on your
								behalf.</li>
							<li><span class="font-medium text-black">Dedicated Support:</span> We offer end-to-end
								support,
								from initial introduction to project completion.</li>
						</ul><br/>
						<a routerLink="/partner-with-us"
							class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Register
							Your Company Today </a>
					</div>
					<div
						class="xl:w-7/12 lg:w-6/12 md:w-8/12 xl:order-first lg:order-first m-auto w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInLeft">
						<div class="illustration-holder md:mt-[60px] sm:mt-[60px] xsm:mt-[60px] "><img
								src="assets/images/lazy.svg" src="assets/images/assets/ils_06.png" alt=""
								class="lazy-img">
						</div>
					</div>
				</div>
			</div>

			<div class="block-style-four mt-[200px] lg:mt-[100px] md:mt-[100px] sm:mt-[100px] xsm:mt-[100px] ">
				<div class="flex flex-wrap mx-[-12px] items-center">
					<div class="xl:w-5/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInLeft">
						<div class="title-style-eight">
							<h2
								class="main-title text-black font-bold text-[68px] 2xl:text-[58px] lg:text-[48px] leading-[1.25em] tracking-[-1px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
								<span
									class="inline-block relative leading-[64px] before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:left-0 before:top-0 before:bg-[var(--prime-six)] md:leading-[inherit] sm:leading-[inherit] xsm:leading-[inherit]">Partner
									with Us </span>
								Today and Expand Your Reach
							</h2>
						</div>
						<p
							class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px]  !leading-[2] mt-[35px] lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5 ">
							Joining WestGate IT Hub is simple and rewarding. Here’s how you can get started.</p>
						<ul
							class="text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
							<li><span class="font-medium text-black">Step 1: </span>Register your company with us.</li>
							<li><span class="font-medium text-black">Step 2: </span>Share proof of capabilities
								(portfolio, certifications, etc.).</li>
							<li><span class="font-medium text-black">Step 3: </span>We work on finding the right
								opportunities for you in the UK.</li>
							<li><span class="font-medium text-black">Step 4: </span>We provide end-to-end support to
								help
								you win and deliver projects.</li>
						</ul><br/>
						<a routerLink="/partner-with-us"
							class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Register
							Now </a>
					</div>
					<div
						class="xl:w-7/12 lg:w-6/12 md:w-8/12 w-full flex-[0_0_auto] px-[12px] max-w-full m-auto wow fadeInRight">
						<div class="illustration-holder md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] "><img
								src="assets/images/lazy.svg" src="assets/images/assets/ils_07.png" alt=""
								class="lazy-img !ml-auto"></div>
					</div>
				</div>
			</div>

			<div class="block-style-four">
				<div class="flex flex-wrap mx-[-12px] items-center">
					<div
						class="xl:w-5/12 lg:w-6/12 xl:order-last lg:order-last w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInRight">
						<div class="title-style-eight">
							<h2
								class="main-title text-black font-bold text-[68px] 2xl:text-[58px] lg:text-[48px] leading-[1.25em] tracking-[-1px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
								Our <br>Transparent <span
									class="inline-block relative leading-[64px] 2xl:text-[58px] before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:left-0 before:top-0 before:bg-[var(--prime-six)] md:leading-[inherit] sm:leading-[inherit] xsm:leading-[inherit]">Pricing</span>
								Structure.</h2>
						</div>
						<p
							class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] !leading-[2] mt-[35px] mb-[50px] lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5 lg:mb-[30px] md:mb-[30px] sm:mb-[30px] xsm:mb-[30px] ">
							Our subscription provides access to exclusive opportunities, with a guaranteed project
							within 12 months.</p>

						<ul
							class="text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
							<li><span class="font-medium text-black">What’s Included : </span> Guaranteed project within
								12
								months.</li>
							<li>Full access to our resources, proposal writing, client negotiations, and more.</li>
						</ul>
						<ul
							class="text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
							<li><span class="font-medium text-black">Refund Policy : </span>If you don’t receive any
								projects within the year, we’ll refund the full amount.</li>

						</ul><br/>
						<a routerLink="/contact-us"
							class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Contact
							Us for More Information </a>
					</div>
					<div
						class="xl:w-7/12 lg:w-6/12 md:w-8/12 xl:order-first lg:order-first m-auto w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInLeft">
						<div class="illustration-holder md:mt-[60px] sm:mt-[60px] xsm:mt-[60px] "><img
								src="assets/images/lazy.svg" src="assets/images/assets/ils_06.png" alt=""
								class="lazy-img">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="fancy-feature-twentyThree mt-[35px] ">
		<div class="container">
			<div class=" border-t-[#f1f1f1] border-t border-solid ">
				<div class="flex flex-wrap mx-[-12px] xxl:mx-[-24px]">
					<div class="xl:w-4/12 lg:w-4/12 md:w-6/12 flex w-full flex-[0_0_auto] px-[12px] max-w-full">
						<div
							class="card-style-eleven flex w-full mt-[85px] lg:mt-10 md:mt-10 sm:mt-10 xsm:mt-10 wow fadeInUp">
							<div
								class="icon flex items-center justify-center relative rounded-[50%] w-[65px] h-[65px] lg:w-[60px] lg:h-[60px] md:w-[60px] md:h-[60px] sm:w-[60px] sm:h-[60px] xsm:w-[60px] xsm:h-[60px] border-[3px] border-solid border-black before:content-[''] before:absolute before:w-[calc(100%_+_6px)] before:h-[calc(100%_+_6px)] before:top-[-3px] before:z-[-1] before:rounded-[50%] before:left-[5px] md:m-[0_auto] sm:m-[0_auto] xsm:m-[0_auto] before:bg-[var(--prime-six)]">
								<img src="assets/images/lazy.svg" src="assets/images/icon/icon_70.svg" alt=""
									class="lazy-img">
							</div>
							<div
								class="text w-[calc(100%_-_65px)] pl-[30px] lg:w-[calc(100%_-_60px)] md:w-[calc(100%_-_60px)] sm:w-[calc(100%_-_60px)] xsm:w-[calc(100%_-_60px)]">
								<h4 class="mb-[10px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px]">
									Submit Ticket</h4>
								<p>Elit esse cillum dolo fugiat nulla tur nos ullamo.</p>
							</div>
						</div>
					</div>
					<div class="xl:w-4/12 lg:w-4/12 md:w-6/12 flex w-full flex-[0_0_auto] px-[12px] max-w-full">
						<div class="card-style-eleven flex w-full mt-[85px] lg:mt-10 md:mt-10 sm:mt-10 xsm:mt-10 wow fadeInUp"
							data-wow-delay="0.2s">
							<div
								class="icon flex items-center justify-center relative rounded-[50%] w-[65px] h-[65px] lg:w-[60px] lg:h-[60px] md:w-[60px] md:h-[60px] sm:w-[60px] sm:h-[60px] xsm:w-[60px] xsm:h-[60px] border-[3px] border-solid border-black before:content-[''] before:absolute before:w-[calc(100%_+_6px)] before:h-[calc(100%_+_6px)] before:top-[-3px] before:z-[-1] before:rounded-[50%] before:left-[5px] md:m-[0_auto] sm:m-[0_auto] xsm:m-[0_auto] before:bg-[var(--prime-six)]">
								<img src="assets/images/lazy.svg" src="assets/images/icon/icon_71.svg" alt=""
									class="lazy-img">
							</div>
							<div
								class="text w-[calc(100%_-_65px)] pl-[30px] lg:w-[calc(100%_-_60px)] md:w-[calc(100%_-_60px)] sm:w-[calc(100%_-_60px)] xsm:w-[calc(100%_-_60px)]">
								<h4 class="mb-[10px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px]">
									Choose Migration</h4>
								<p>quis nostrud exerct ullamo sucirity finibus ne derived.</p>
							</div>
						</div>
					</div>
					<div class="xl:w-4/12 lg:w-4/12 flex w-full flex-[0_0_auto] px-[12px] max-w-full">
						<div class="card-style-eleven flex w-full mt-[85px] lg:mt-10 md:mt-10 sm:mt-10 xsm:mt-10 wow fadeInUp"
							data-wow-delay="0.4s">
							<div
								class="icon flex items-center justify-center relative rounded-[50%] w-[65px] h-[65px] lg:w-[60px] lg:h-[60px] md:w-[60px] md:h-[60px] sm:w-[60px] sm:h-[60px] xsm:w-[60px] xsm:h-[60px] border-[3px] border-solid border-black before:content-[''] before:absolute before:w-[calc(100%_+_6px)] before:h-[calc(100%_+_6px)] before:top-[-3px] before:z-[-1] before:rounded-[50%] before:left-[5px] md:m-[0_auto] sm:m-[0_auto] xsm:m-[0_auto] before:bg-[var(--prime-six)]">
								<img src="assets/images/lazy.svg" src="assets/images/icon/icon_72.svg" alt=""
									class="lazy-img">
							</div>
							<div
								class="text w-[calc(100%_-_65px)] pl-[30px] lg:w-[calc(100%_-_60px)] md:w-[calc(100%_-_60px)] sm:w-[calc(100%_-_60px)] xsm:w-[calc(100%_-_60px)]">
								<h4 class="mb-[10px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px]">
									Complete</h4>
								<p>Duis aute irure dolor reprehe de Cicero's voluptat velit.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- /.container -->
	</div> <!-- /.fancy-feature-twentyThree -->




	<!--
			=====================================================
				Feedback Section Six 
			=====================================================
			-->
	<div
		class="feedback-section-six p-[30px] lg:p-0 md:p-0 sm:p-0 xsm:p-0 mt-[170px] lg:mt-[100px] md:mt-[100px] sm:mt-[100px] xsm:mt-[100px] wow fadeInUp">
		<div
			class="bg-wrapper relative pt-[100px] pb-[110px] lg:pt-[60px] md:pt-[60px] sm:pt-[60px] xsm:pt-[60px] lg:pb-[50px] md:pb-[50px] sm:pb-[50px] xsm:pb-[50px] bg-[#141414] before:content-[''] before:absolute before:bg-cover before:inset-0 before:bg-[url(../images/assets/bg-9.png)] before:bg-center before:bg-no-repeat after:content-[''] after:absolute after:top-[-70px] after:bottom-[-35px] after:bg-cover after:z-[-1] after:left-[60px] after:right-[70px] after:bg-[url(../images/assets/bg-10.svg)] after:bg-no-repeat after:bg-[center_top] ">
			<div class="container">
				<div class="relative inner-wrapper z-[1]">
					<div class="flex flex-wrap mx-[-12px]">
						<div class="xl:w-8/12 lg:w-8/12 md:w-8/12 w-full flex-[0_0_auto] px-[12px] max-w-full m-auto">
							<img src="assets/images/icon/icon_73.svg" alt="" class="m-auto">
							<div class="title-style-seven text-center pt-[30px] pb-[55px] ">
								<h2
									class="main-title font-bold text-white text-[68px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
									Check what these clients have to say.</h2>
							</div> <!-- /.title-style-seven -->
						</div>
					</div>

					<div class="flex flex-wrap mx-[-12px]">
						<div class="xl:w-9/12 lg:w-10/12 md:w-10/12 flex-[0_0_auto] px-[12px] max-w-full m-auto">
							<div class="feedback_slider_six">
								<div class="item">
									<div class="feedback-block-six text-center">
										<p
											class="text-white mb-[65px] lg:mb-[50px] md:mb-[50px] sm:mb-[50px] xsm:mb-[50px] text-[36px] 2xl:text-[30px] lg:text-[28px] md:text-[22px] sm:text-[22px] xsm:text-[22px] leading-[1.88em]">
											“Very easy to set-up. I had no experience with hosting before signing up
											with HostGator but they've made everything seem simple.”</p>
										<h4
											class="text-white inline-block relative text-[24px] 2xl:text-[22px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] before:content-[''] before:absolute before:w-[30px] before:h-0.5 before:left-[-45px] before:top-[21px] before:bg-white">
											Rashed ka. <span class="font-light">Italy</span></h4>
									</div> <!-- /.feedback-block-six -->
								</div>
								<div class="item">
									<div class="feedback-block-six text-center">
										<p
											class="text-white mb-[65px] lg:mb-[50px] md:mb-[50px] sm:mb-[50px] xsm:mb-[50px] text-[36px] 2xl:text-[30px] lg:text-[28px] md:text-[22px] sm:text-[22px] xsm:text-[22px] leading-[1.88em]">
											“Very easy to set-up. I had no experience with hosting before signing up
											with HostGator but they've made everything seem simple.”</p>
										<h4
											class="text-white inline-block relative text-[24px] 2xl:text-[22px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] before:content-[''] before:absolute before:w-[30px] before:h-0.5 before:left-[-45px] before:top-[21px] before:bg-white">
											Zubayer Hasan <span class="font-light">Spain</span></h4>
									</div> <!-- /.feedback-block-six -->
								</div>
							</div> <!-- /.feedback_slider_six -->
						</div>
					</div>
					<ul
						class="slider-arrows slick-arrow-four sm:mt-10 xsm:mt-10  flex justify-center mb-0 pl-0 list-none ">
						<li class="prev_s2 slick-arrow tran3s absolute w-14 h-14 text-black text-center leading-[56px] text-[28px] cursor-pointer bottom-[34%] after:content-[''] after:absolute after:w-full after:h-full after:z-[-1] after:transition-all after:duration-[0.3s] after:ease-[ease-in-out] after:border-2 after:border-solid after:border-white after:left-1.5 after:top-1.5 hover:after:left-0 hover:after:top-0 hover:bg-white bg-[var(--prime-six)] lg:w-12 lg:h-12 lg:leading-[48px] lg:text-[24px] md:w-12 md:h-12 md:leading-[48px] md:text-[24px] sm:w-12 sm:h-12 sm:leading-[48px] sm:text-[24px] xsm:w-12 xsm:h-12 xsm:leading-[48px] xsm:text-[24px] sm:relative sm:m-[0_10px] xsm:relative xsm:m-[0_10px] -left-10 sm:inset-x-0 xsm:inset-x-0 "
							style=""><i class="bi bi-arrow-left"></i></li>
						<li class="next_s2 slick-arrow tran3s absolute w-14 h-14 text-black text-center leading-[56px] text-[28px] cursor-pointer bottom-[34%] after:content-[''] after:absolute after:w-full after:h-full after:z-[-1] after:transition-all after:duration-[0.3s] after:ease-[ease-in-out] after:border-2 after:border-solid after:border-white after:left-1.5 after:top-1.5 hover:after:left-0 hover:after:top-0 hover:bg-white bg-[var(--prime-six)] lg:w-12 lg:h-12 lg:leading-[48px] lg:text-[24px] md:w-12 md:h-12 md:leading-[48px] md:text-[24px] sm:w-12 sm:h-12 sm:leading-[48px] sm:text-[24px] xsm:w-12 xsm:h-12 xsm:leading-[48px] xsm:text-[24px] sm:relative sm:m-[0_10px] xsm:relative xsm:m-[0_10px] -right-10 sm:inset-x-0 xsm:inset-x-0 "
							style=""><i class="bi bi-arrow-right"></i></li>
					</ul>
				</div> <!-- /.inner-wrapper -->
			</div>
		</div> <!-- /.bg-wrapper -->
	</div> <!-- /.feedback-section-six -->



	<!-- 
			=============================================
				Feature Section Twenty Five 
			============================================== 
			-->
	<div class="fancy-feature-twentyFive mt-[170px] lg:mt-[100px] md:mt-[100px] sm:mt-[100px] xsm:mt-[100px] ">
		<div class="container">
			<div class="flex flex-wrap mx-[-12px] items-center">
				<div class="xl:w-9/12 m-auto wow fadeInUp">
					<div
						class="title-style-seven text-center pb-[120px] lg:pb-[50px] md:pb-[50px] sm:pb-[50px] xsm:pb-[50px] wow fadeInUp">
						<h2
							class="main-title font-bold text-black text-[68px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
							Got questions? <br> Well, we've got <span class="relative inline-block">answers <img
									class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
									src="assets/images/shape/shape_99.svg" alt=""></span></h2>
					</div> <!-- /.title-style-seven -->
				</div>

				<div class="xl:w-9/12 lg:w-10/12 w-full flex-[0_0_auto] px-[12px] max-w-full m-auto wow fadeInUp">
					<div class="accordion accordion-style-two border-b-[rgba(0,0,0,0.1)] border-b border-solid"
						id="accordionOne">
						<div
							class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
							<div class="accordion-header" id="headingOne">
								<button
									class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
									type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
									aria-expanded="false" aria-controls="collapseOne">
									What is web hosting?
								</button>
							</div>
							<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
								data-bs-parent="#accordionOne">
								<div
									class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
									<p
										class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
										Duis aute irure dolor in reprehenderit in voluptate velit ess dolore eu
										fugiat nulla pariatur. Excepteur sint occaecat cupid non proident, sunt in
										culpa qui officia deserunt. </p>
								</div>
							</div>
						</div>
						<div
							class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
							<div class="accordion-header" id="headingTwo">
								<button
									class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
									type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
									aria-expanded="false" aria-controls="collapseTwo">
									How do you weigh different criteria in your process?
								</button>
							</div>
							<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
								data-bs-parent="#accordionOne">
								<div
									class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
									<p
										class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
										Duis aute irure dolor in reprehenderit in voluptate velit ess dolore eu
										fugiat nulla pariatur. Excepteur sint occaecat cupid non proident, sunt in
										culpa qui officia deserunt. </p>
								</div>
							</div>
						</div>
						<div
							class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
							<div class="accordion-header" id="headingThree">
								<button
									class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
									type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
									aria-expanded="true" aria-controls="collapseThree">
									What can I use to build my website?
								</button>
							</div>
							<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
								data-bs-parent="#accordionOne">
								<div
									class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
									<p
										class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
										Duis aute irure dolor in reprehenderit in voluptate velit ess dolore eu
										fugiat nulla pariatur. Excepteur sint occaecat cupid non proident, sunt in
										culpa qui officia deserunt. </p>
								</div>
							</div>
						</div>
						<div
							class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
							<div class="accordion-header" id="headingFour">
								<button
									class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
									type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
									aria-expanded="false" aria-controls="collapseFour">
									If I already have a website, can I transfer it to your web hosting?
								</button>
							</div>
							<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
								data-bs-parent="#accordionOne">
								<div
									class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
									<p
										class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
										Duis aute irure dolor in reprehenderit in voluptate velit ess dolore eu
										fugiat nulla pariatur. Excepteur sint occaecat cupid non proident, sunt in
										culpa qui officia deserunt. </p>
								</div>
							</div>
						</div>
						<div
							class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
							<div class="accordion-header" id="headingFive">
								<button
									class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
									type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
									aria-expanded="false" aria-controls="collapseFive">
									How can I accept credit cards online?
								</button>
							</div>
							<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
								data-bs-parent="#accordionOne">
								<div
									class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
									<p
										class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
										Duis aute irure dolor in reprehenderit in voluptate velit ess dolore eu
										fugiat nulla pariatur. Excepteur sint occaecat cupid non proident, sunt in
										culpa qui officia deserunt. </p>
								</div>
							</div>
						</div>
						<div
							class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
							<div class="accordion-header" id="headingSix">
								<button
									class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
									type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
									aria-expanded="false" aria-controls="collapseSix">
									What are the additional requirements I should know about?
								</button>
							</div>
							<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
								data-bs-parent="#accordionOne">
								<div
									class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
									<p
										class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
										Duis aute irure dolor in reprehenderit in voluptate velit ess dolore eu
										fugiat nulla pariatur. Excepteur sint occaecat cupid non proident, sunt in
										culpa qui officia deserunt. </p>
								</div>
							</div>
						</div>
					</div> <!-- /.accordion-style-two -->

					<div class="text-center wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
						<h3 class="font-bold text-black mb-[30px]">Didn’t get your answer?</h3>
						<a href="contact-us-v3.html"
							class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Submit
							your question</a>
					</div>
				</div>
			</div>
		</div> <!-- /.container -->
	</div> <!-- /.fancy-feature-twentyFive -->



	<!--
			=====================================================
				Fancy Short Banner Ten 
			=====================================================
			-->
	<div
		class="fancy-short-banner-ten relative z-[5] mb-[-200px] mt-[225px] lg:mt-[100px] md:mt-[100px] sm:mt-[100px] xsm:mt-[100px] wow fadeInUp">
		<div class="container">
			<div class="bg-wrapper relative pt-[50px] pb-[65px] lg:pt-10 md:pt-10 sm:pt-10 xsm:pt-10 lg:pb-[50px] md:pb-[50px] sm:pb-[50px] xsm:pb-[50px] bg-[#141414] after:content-[''] after:absolute after:z-[-1] after:left-3 after:-right-3 after:top-3 after:-bottom-3 after:bg-[var(--prime-six)] 
					md:text-center md:px-[5px]
					sm:text-center sm:px-[5px]
					xsm:text-center xsm:px-[5px]">
				<div class="flex flex-wrap mx-[-12px]">
					<div class="xl:w-11/12 lg:w-11/12 w-full flex-[0_0_auto] px-[12px] max-w-full m-auto">
						<div class="flex flex-wrap mx-[-12px] items-center">
							<div class="xl:w-6/12 lg:w-5/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
								<h2 class="!m-0 text-white font-bold md:pb-5 sm:pb-5 xsm:pb-5 text-[48px] leading-[1.20em] tracking-[-1px]
										lg:text-[32px] lg:leading-[1.35em]
										md:text-[32px] md:leading-[1.35em]
										sm:text-[32px] sm:leading-[1.35em]
										xsm:text-[32px] xsm:leading-[1.35em]">Sign up for best web hosting today.</h2>
							</div>
							<div class="xl:w-6/12 lg:w-7/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
								<div class="flex items-center justify-center xl:justify-end lg:justify-end ">
									<a href="contact-us-v3.html"
										class="btn-line font-medium tran3s relative mr-[3rem] text-[18px] text-[color:var(--prime-six)] pb-[5px] before:content-[''] before:absolute before:w-full before:h-0.5 before:left-0 before:bottom-0 hover:text-white before:bg-[var(--prime-six)] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] xsm:m-[10px_10px_0]">Chat
										with a an Expert</a>
									<a href="contact-us-v3.html"
										class="btn-solid font-medium tran3s leading-[60px] text-[18px] text-[#0C0C0C] px-[50px] py-0 bg-[var(--prime-six)] hover:bg-white lg:leading-[50px] lg:text-[15px] lg:p-[0_30px] md:leading-[50px] md:text-[15px] md:p-[0_30px] sm:leading-[50px] sm:text-[15px] sm:p-[0_30px] xsm:leading-[50px] xsm:text-[15px] xsm:p-[0_30px] xsm:m-[10px_10px_0] ">Get
										Started</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- /.bg-wrapper -->
		</div>
	</div> <!-- /.fancy-short-banner-ten -->
</div> <!-- /.main-page-wrapper -->