<div class="main-page-wrapper overflow-x-hidden">

	<div class="hero-banner-one p-[30px] 2xl:p-[20px] lg:p-0 md:p-0 sm:p-0 xsm:p-0 relative">
		<div
			class="bg-wrapper bg-[#F5FFF5] bg-[url(../images/assets/bg-1.png)] bg-no-repeat bg-cover relative z-[5] p-[240px_0_140px] md:p-[150px_0_80px] sm:p-[150px_0_80px] xsm:p-[150px_0_80px] sm:pb-0 xsm:pb-0 bg-[#EEFBFF]">
			<div class="container">
				<div class="flex flex-wrap mx-[-12px]">
					<div class="xl:w-6/12 lg:w-6/12 md:w-7/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
						<h1
							class="hero-heading font-bold text-black text-[50px] tracking-[-1px] 2xl:text-[65px] md:text-[42px] sm:text-[42px] xsm:text-[42px]">
							Empowering IT Companies<br> to Expand <span
								class="relative inline-block z-[1] before:content-[''] before:absolute before:w-full before:h-[18px] before:mix-blend-normal before:opacity-50 before:z-[-1] before:left-0 before:bottom-2.5 before:bg-[rgba(255,121,0,0.51)]">
								Globally</span></h1>
						<p
							class=" text-[18px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em]  mb-[60px]   pt-[50px]  xl:!pr-[3rem]  lg:pt-[30px] md:pt-[30px] sm:pt-[30px] xsm:pt-[30px]  lg:mb-10  md:mb-10  sm:mb-10  xsm:mb-10">
							Our team works tirelessly to promote your company in the UK market. We handle everything
							from writing proposals to project co-ordination.</p>
						<a routerLink="/partner-with-us"
							class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Partner
							With Us Today</a>
					</div>
				</div>

				<div
					class="illustration-holder absolute w-[40.44%] max-w-[750px] z-[1] right-[6.7%] bottom-0 2xl:w-[48%] 2xl:right-[1%] sm:w-full sm:relative sm:max-w-[440px] sm:m-[60px_auto_0] sm:right-auto xsm:w-full xsm:relative xsm:max-w-[440px] xsm:m-[60px_auto_0] xsm:right-auto">
					<img src="assets/images/lazy.svg" src="assets/images/assets/ils_01.png" alt=""
						class="lazy-img main-illustration w-full">
					<img src="assets/images/lazy.svg" src="assets/images/shape/shape_01.svg" alt=""
						class="lazy-img shapes shape-one absolute z-[-1] w-4/5 left-[11.5%] bottom-[7%]">
					<img src="assets/images/lazy.svg" src="assets/images/shape/shape_02.svg" alt=""
						class="lazy-img shapes shape-two absolute z-[-1] animate-[jumpTwo_3.5s_infinite_linear] left-[11%] top-[16%]">
					<img src="assets/images/lazy.svg" src="assets/images/shape/shape_03.svg" alt=""
						class="lazy-img shapes shape-three absolute z-[-1] left-[-6%] animate-[jumpThree_3.5s_infinite_linear] top-[52%]">
					<img src="assets/images/lazy.svg" src="assets/images/shape/shape_04.svg" alt=""
						class="lazy-img shapes shape-four absolute z-[-1] right-[-4%] animate-[jumpThree_3.5s_infinite_linear] top-2/4">
					<img src="assets/images/lazy.svg" src="assets/images/shape/shape_05.svg" alt=""
						class="lazy-img shapes shape-five absolute z-[-1] animate-[jumpTwo_3.5s_infinite_linear] right-[13%] top-[30%]">
					<img src="assets/images/lazy.svg" src="assets/images/shape/shape_06.svg" alt=""
						class="lazy-img shapes shape-six absolute z-[-1] w-[15.74%] animate-[jumpFour_3.5s_infinite_linear] left-[0%] top-[32%]">
					<img src="assets/images/lazy.svg" src="assets/images/shape/shape_07.svg" alt=""
						class="lazy-img shapes shape-seven absolute z-[-1] w-[11.6%] animate-[jumpFive_3.5s_infinite_linear] right-[0%] top-[14%]">
				</div>
			</div> <!-- /.container -->
			<img src="assets/images/lazy.svg" src="assets/images/shape/shape_08.svg" alt=""
				class="lazy-img shapes shape-eight absolute bottom-[-25px] z-0 animate-[prXOne_3.5s_infinite_linear] left-[10%]">
		</div>
	</div>

	<div class="container">
		<div class="flex flex-wrap mx-[-12px] items-center">
			<div class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full ">
				<div class="title-style-seven text-center xl:text-left lg:text-left  wow fadeInLeft">
					<h2
						class="main-title font-bold  text-black text-[50px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
						Your Trusted <span class="relative inline-block">Marketing Partner <img
								class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
								src="assets/images/shape/shape_96.svg" alt=""></span> in the UK Market </h2>
				</div> <!-- /.title-style-seven -->
			</div>
			<div class="xl:w-5/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto wow fadeInRight">
				<p
					class="!m-0  text-[18px]  !leading-[2]  text-center xl:text-left lg:text-left  md:pt-5 sm:pt-5 xsm:pt-5  lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] ">
					WestGate IT Hub is a leading marketing partner connecting Indian IT companies with UK clients. We
					bridge the gap between Indian IT excellence and the growing demand for tech solutions in the UK.
					</p>
			</div>
		</div>
		<div
			class=" p-[30px] lg:p-0 md:p-0 sm:p-0 xsm:p-0  mt-[40px] lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
			<div
				class="bg-wrapper pt-[30px] lg:pt-[50px] md:pt-[50px] sm:pt-[50px] xsm:pt-[50px] pb-[30px]   lg:pb-20 bg-[#F1FCFF]">
				<div class="container">
					<div class="flex flex-wrap mx-[-12px] xxl:mx-[-24px]">
						<div
							class="xl:w-4/12 lg:w-4/12 md:w-6/12 sm:w-6/12  w-full flex-[0_0_auto] px-[12px] max-w-full flex mt-10  wow fadeInUp">
							<div
								class="card-style-twentyFive w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[52px_45px_40px_35px] lg:p-[35px_25px_20px] md:p-[35px_25px_20px] sm:p-[35px_25px_20px] xsm:p-[35px_25px_20px] border-2 border-solid border-white hover:border-black bg-white">
								<div
									class="icon flex items-end h-[45px] lg:h-[35px] md:h-[35px] sm:h-[35px] xsm:h-[35px]">
									<img src="assets/images/lazy.svg" src="assets/images/icon/icon_167.svg" alt=""
										class="lazy-img  max-h-full">
								</div>
								<h4
									class="mt-10 text-[16px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-5">
									SSD Harddrive</h4>
								<p
									class="mt-10 text-[16px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-5">
									We specialise in promoting your IT resources and services to the UK market.</p>
							</div>
						</div>
						<div class="xl:w-4/12 lg:w-4/12 md:w-6/12 sm:w-6/12  w-full flex-[0_0_auto] px-[12px] max-w-full flex mt-10  wow fadeInUp"
							data-wow-delay="0.1s">
							<div
								class="card-style-twentyFive w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[52px_45px_40px_35px] lg:p-[35px_25px_20px] md:p-[35px_25px_20px] sm:p-[35px_25px_20px] xsm:p-[35px_25px_20px] border-2 border-solid border-white hover:border-black bg-white">
								<div
									class="icon flex items-end h-[45px] lg:h-[35px] md:h-[35px] sm:h-[35px] xsm:h-[35px]">
									<img src="assets/images/lazy.svg" src="assets/images/icon/icon_168.svg" alt=""
										class="lazy-img  max-h-full">
								</div>
								<h4
									class="mt-10 text-[16px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-5">
									Light Speed & MangoDB</h4>
								<p
									class="mt-10 text-[16px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-5">
									We have a deep understanding of both Indian IT capabilities and the unique demands
									of
									the UK market.</p>
							</div>
						</div>
						<div class="xl:w-4/12 lg:w-4/12 md:w-6/12 sm:w-6/12  w-full flex-[0_0_auto] px-[12px] max-w-full flex mt-10  wow fadeInUp"
							data-wow-delay="0.2s">
							<div
								class="card-style-twentyFive w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[52px_45px_40px_35px] lg:p-[35px_25px_20px] md:p-[35px_25px_20px] sm:p-[35px_25px_20px] xsm:p-[35px_25px_20px] border-2 border-solid border-white hover:border-black bg-white">
								<div
									class="icon flex items-end h-[45px] lg:h-[35px] md:h-[35px] sm:h-[35px] xsm:h-[35px]">
									<img src="assets/images/lazy.svg" src="assets/images/icon/icon_169.svg" alt=""
										class="lazy-img  max-h-full">
								</div>
								<h4
									class="mt-10 text-[16px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-5">
									Lscache</h4>
								<p
									class="mt-10 text-[16px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-5">
									We guarantee to bring valuable project opportunities to our partners in the UK.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="fancy-feature-six relative mt-[40px] lg:mt-[100px] md:mt-[100px] sm:mt-[100px] xsm:mt-20">
		<div class="container">
			<div class="flex flex-wrap mx-[-12px] xxl:mx-[-24px] items-center">
				<div
					class="xl:w-4/12 lg:w-4/12 md:w-6/12 mt-10 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInUp">
					<div class="title-style-three mb-[65px] lg:mb-10 md:mb-10 sm:mb-10 xsm:mb-10">

						<h2
							class="main-title font-bold  text-black text-[50px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
							Tailored IT Marketing<span class="relative inline-block"> services <img
									class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
									src="assets/images/shape/shape_96.svg" alt=""></span> for Your Business </h2>

						<!-- <h2
							class="main-title font-normal text-[40px] leading-[1.15em] tracking-[0px] m-0 font-Recoleta 2xl:text-[58px] lg:text-[48px] md:text-[34px] md:leading-[1.2em] sm:text-[34px] sm:leading-[1.2em] xsm:text-[34px] xsm:leading-[1.2em]">
							Tailored<br> <span class="inline-block relative z-[1]"> IT Solutions <span
									class="mark-bg absolute left-[-5px] -translate-y-2/4 w-[98%] h-[50px] z-[-1] top-2/4 md:h-[34px] sm:h-[34px] xsm:h-[34px]"
									style="background-color:#E1EDFF;"></span></span> for Your Business</h2> -->
					</div>
					<a
						class="btn-five tran3s font-medium text-[17px] lg:text-[15px] md:text-[15px] sm:text-[15px] xsm:text-[15px] underline hover:underline text-[color:var(--prime-two)] hover:text-[#090F32]">We
						offer two key services designed to ensure your IT capabilities stand out in the UK market.
						<i class="bi bi-chevron-right inline-block text-[14px]"></i></a>
					<img src="assets/images/lazy.svg" src="assets/images/shape/shape_137.svg" alt=""
						class="lazy-img mt-[30px] !ml-auto !mr-auto xsm:!hidden inline-block">
				</div>
				<div class="xl:w-4/12 lg:w-4/12 md:w-6/12 mt-10 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInUp"
					data-wow-delay="0.1s">
					<div
						class="card-style-three border transition-all duration-[0.3s] ease-[ease-in-out] w-full p-[42px_10px_30px_45px] lg:p-[30px_10px_25px_15px] md:p-[30px_10px_25px_15px] sm:p-[30px_10px_25px_15px] xsm:p-[30px_10px_25px_15px] rounded-[10px] border-solid border-[#f1f1f1] hover:shadow-[0_20px_50px_rgba(0,0,0,0.04)] hover:border-white bg-white">
						<div class="icon flex items-end h-[65px]"><img src="assets/images/lazy.svg"
								src="assets/images/icon/icon_13.svg" alt="" class="lazy-img max-h-full"></div>
						<h4
							class="mt-[25px] mb-5 2xl:text-[22px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px]">
							Service #1: IT Resource Sharing</h4>
						<h6 class="mb-[50px]">Skilled IT Resources for the UK Market</h6>

						<p class="mb-[50px] text-[16px]">We help promote your IT company's talent and capabilities to
							the right
							clients in the UK. Our team actively markets your resource pool, ensuring that we match the
							right IT professionals—developers, project managers, or specialised experts—to UK-based
							projects. We handle the search, while you focus on providing the right resources for the
							projects.</p>
						<a href="service-details.html">Learn More About IT Resource Sharing<img
								src="assets/images/lazy.svg" src="assets/images/icon/icon_18.svg" alt=""
								class="lazy-img"></a>
					</div>
				</div>
				<div class="xl:w-4/12 lg:w-4/12 md:w-6/12 mt-10 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInUp"
					data-wow-delay="0.2s">
					<div
						class="card-style-three border transition-all duration-[0.3s] ease-[ease-in-out] w-full p-[42px_10px_30px_45px] lg:p-[30px_10px_25px_15px] md:p-[30px_10px_25px_15px] sm:p-[30px_10px_25px_15px] xsm:p-[30px_10px_25px_15px] rounded-[10px] border-solid border-[#f1f1f1] hover:shadow-[0_20px_50px_rgba(0,0,0,0.04)] hover:border-white bg-white">
						<div class="icon flex items-end h-[65px]"><img src="assets/images/lazy.svg"
								src="assets/images/icon/icon_14.svg" alt="" class="lazy-img max-h-full"></div>
						<h4
							class="mt-[25px] mb-5 2xl:text-[22px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px]">
							Service #2: IT Services</h4>
						<h6 class="mb-[50px]">End-to-End Support for Marketing Services in the UK</h6>
						<p class="mb-[50px] text-[16px]">We assist your company in expanding your IT services into the
							UK. From
							writing proposals and coordinating project efforts to negotiating deals, we provide
							comprehensive support. We work relentlessly to bring opportunities to your doorstep, while
							your team handles the project execution.</p>
						<a href="service-details.html">Explore Our IT Services Support<img src="assets/images/lazy.svg"
								src="assets/images/icon/icon_18.svg" alt="" class="lazy-img"></a>
					</div>
				</div>
			</div>
		</div>
		<div
			class="shapes shape-one rounded-[50%] absolute z-[-1] w-[126px] h-[126px] left-[-50px] animate-[jumpThree_3s_infinite_linear] top-[4%] bg-[#FFC961]">
		</div>
		<img src="assets/images/lazy.svg" src="assets/images/shape/shape_36.svg" alt=""
			class="lazy-img shapes shape-two absolute z-[-1] right-[3%] top-[30%]">
		<div
			class="shapes shape-three rounded-[50%] absolute z-[-1] w-[300px] h-[300px] opacity-70 right-[-150px] animate-[jumpTwo_3s_infinite_linear] bottom-0 bg-[#FF35D9]">
		</div>
	</div>

	<div class="fancy-feature-thirtySeven mt-[60px] lg:mt-[120px] md:mt-[120px] sm:mt-[120px] xsm:mt-[120px]">
		<div class="container">
			<div class="flex flex-wrap mx-[-12px]">
				<div
					class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto xl:order-last lg:order-last wow fadeInRight">
					<div class="xl:!pl-[3rem] lg:!pl-[3rem] xxl:ml-[1rem]">
						<div class="title-style-one mb-10 ">
							<div
								class="sc-title uppercase text-[16px] tracking-[2px] text-[rgba(0,0,0,0.3)] mb-2 lg:text-[13px] md:text-[13px] sm:text-[13px] xsm:text-[13px]">
								Why Choose Us</div>
							<h2 class="main-title font-medium text-black !m-0 2xl:text-[54px]">Why Choose WestGate IT
								Hub?</h2>
							<p class="mb-[50px]">We bring unique value to Indian IT companies looking to expand in the
								UK market.</p>
						</div>

						<div class="accordion accordion-style-five md:mb-[70px] sm:mb-[70px] xsm:mb-[70px]"
							id="accordionOne">
							<div
								class="accordion-item shadow-[0px_5px_20px_rgba(0,0,0,0.03)] mt-5 rounded-[10px] border-0 bg-white ">
								<div class="accordion-header" id="headingOne">
									<button class="accordion-button collapsed relative flex items-center w-full text-left border-0 font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] px-[25px] py-[22px] rounded-none after:content-[url(../images/icon/icon\_111.svg)] after:bg-none after:w-auto after:h-auto bg-transparent after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto
								lg:p-[18px_15px] lg:text-[20px]
								md:p-[18px_15px] md:text-[20px]
								sm:p-[18px_15px] sm:text-[20px]
								xsm:p-[18px_15px] xsm:text-[20px]" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
										aria-expanded="false" aria-controls="collapseOne">
										<img src="assets/images/icon/icon_108.svg" alt="" class="!mr-[1rem] w-[25px]">
										Guaranteed Projects
									</button>
								</div>
								<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
									data-bs-parent="#accordionOne">
									<div
										class="accordion-body p-[0_66px_13px] lg:p-[0_20px_5px_57px] md:p-[0_20px_5px_57px] sm:p-[0_20px_5px_57px] xsm:p-[0_20px_5px_57px]">
										<p
											class=" text-[16px] leading-7 lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px]">
											Practice what you learned on We guarantee at least one project or more, or
											your subscription fee is refunded.</p>
									</div>
								</div>
							</div>
							<div
								class="accordion-item shadow-[0px_5px_20px_rgba(0,0,0,0.03)] mt-5 rounded-[10px] border-0 bg-white ">
								<div class="accordion-header" id="headingTwo">
									<button class="accordion-button relative flex items-center w-full text-left border-0 font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] px-[25px] py-[22px] rounded-none after:content-[url(../images/icon/icon\_111.svg)] after:bg-none after:w-auto after:h-auto bg-transparent after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto
								lg:p-[18px_15px] lg:text-[20px]
								md:p-[18px_15px] md:text-[20px]
								sm:p-[18px_15px] sm:text-[20px]
								xsm:p-[18px_15px] xsm:text-[20px]" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
										aria-expanded="false" aria-controls="collapseTwo">
										<img src="assets/images/icon/icon_109.svg" alt="" class="!mr-[1rem] w-[25px]">
										Full Market Access
									</button>
								</div>
								<div id="collapseTwo" class="accordion-collapse collapse show"
									aria-labelledby="headingTwo" data-bs-parent="#accordionOne">
									<div
										class="accordion-body p-[0_66px_13px] lg:p-[0_20px_5px_57px] md:p-[0_20px_5px_57px] sm:p-[0_20px_5px_57px] xsm:p-[0_20px_5px_57px]">
										<p
											class=" text-[16px] leading-7 lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px]">
											Practice what you learned on We provide access to both public and private
											sector opportunities in the UK. (T/C apply)</p>
									</div>
								</div>
							</div>
							<div
								class="accordion-item shadow-[0px_5px_20px_rgba(0,0,0,0.03)] mt-5 rounded-[10px] border-0 bg-white ">
								<div class="accordion-header" id="headingThree">
									<button class="accordion-button collapsed relative flex items-center w-full text-left border-0 font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] px-[25px] py-[22px] rounded-none after:content-[url(../images/icon/icon\_111.svg)] after:bg-none after:w-auto after:h-auto bg-transparent after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto
								lg:p-[18px_15px] lg:text-[20px]
								md:p-[18px_15px] md:text-[20px]
								sm:p-[18px_15px] sm:text-[20px]
								xsm:p-[18px_15px] xsm:text-[20px]" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
										aria-expanded="true" aria-controls="collapseThree">
										<img src="assets/images/icon/icon_110.svg" alt=""
											class="!mr-[1rem] w-[25px]">Expert Proposal Writing & Client Negotiation
									</button>
								</div>
								<div id="collapseThree" class="accordion-collapse collapse"
									aria-labelledby="headingThree" data-bs-parent="#accordionOne">
									<div
										class="accordion-body p-[0_66px_13px] lg:p-[0_20px_5px_57px] md:p-[0_20px_5px_57px] sm:p-[0_20px_5px_57px] xsm:p-[0_20px_5px_57px]">
										<p
											class=" text-[16px] leading-7 lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px]">
											Practice what you learned on Our team writes winning proposals and handles
											all client communication on your behalf.</p>
									</div>
								</div>
							</div>
							<div
								class="accordion-item shadow-[0px_5px_20px_rgba(0,0,0,0.03)] mt-5 rounded-[10px] border-0 bg-white ">
								<div class="accordion-header" id="headingFour">
									<button class="accordion-button collapsed relative flex items-center w-full text-left border-0 font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] px-[25px] py-[22px] rounded-none after:content-[url(../images/icon/icon\_111.svg)] after:bg-none after:w-auto after:h-auto bg-transparent after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto
								lg:p-[18px_15px] lg:text-[20px]
								md:p-[18px_15px] md:text-[20px]
								sm:p-[18px_15px] sm:text-[20px]
								xsm:p-[18px_15px] xsm:text-[20px]" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
										aria-expanded="true" aria-controls="collapseFour">
										<img src="assets/images/icon/icon_110.svg" alt=""
											class="!mr-[1rem] w-[25px]">Dedicated Support
									</button>
								</div>
								<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
									data-bs-parent="#accordionOne">
									<div
										class="accordion-body p-[0_66px_13px] lg:p-[0_20px_5px_57px] md:p-[0_20px_5px_57px] sm:p-[0_20px_5px_57px] xsm:p-[0_20px_5px_57px]">
										<p
											class=" text-[16px] leading-7 lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px]">
											We offer end-to-end support, from initial introduction and client co-ordination</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="xxl:w-5/12 xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-first lg:order-first">
					<div class="flex flex-wrap mx-[-12px] items-end">
						<div
							class="xl:w-5/12 lg:w-5/12 md:w-5/12 sm:w-4/12 flex-[0_0_auto] px-[12px] max-w-full wow fadeInUp">
							<img src="assets/images/lazy.svg" src="assets/images/shape/shape_136.svg" alt=""
								class="lazy-img xsm:!hidden inline-block">
						</div>
						<div
							class="xl:w-7/12 lg:w-7/12 md:w-7/12 sm:w-8/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInDown">
							<div
								class="block-wrapper block-one pl-[35px] pr-[15px] pt-[35px] pb-[30px] rounded-[45px_0_45px_0] border-[1.5px] border-solid border-[#FFAE10] bg-[#FFF3C9] xsm:p-[35px_15px_20px]">
								<h3 class="text-[36px] leading-10 mb-3.5 lg:text-[26px] lg:leading-[1.16em] md:text-[26px] md:leading-[1.16em] sm:text-[26px] sm:leading-[1.16em] xsm:text-[26px] xsm:leading-[1.16em]"
									style="color:#FFAE10;">10million+</h3>
								<p
									class=" text-[18px] leading-[29px] text-[rgba(0,0,0,0.7)] lg:text-[16px] lg:leading-[30px] md:text-[16px] md:leading-[30px] sm:text-[16px] sm:leading-[30px] xsm:text-[16px] xsm:leading-[30px]">
									Customers trust us & have bought insurance.</p>
							</div>
						</div>
					</div>
					<div class="flex flex-wrap mx-[-12px] xxl:mx-[-24px]">
						<div
							class="xl:w-7/12 lg:w-7/12 md:w-7/12 sm:w-7/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInDown">
							<div
								class="block-wrapper block-two pl-[35px] pr-[15px] pt-[62px] pb-[50px] rounded-[45px_0_45px_0] border-[1.5px] border-solid border-[#9650EF] bg-[rgba(162,91,251,0.2)] relative mt-[50px] sm:mt-[30px] xsm:p-[35px_15px_20px]">
								<h3 class="text-[36px] leading-10 mb-3.5 lg:text-[26px] lg:leading-[1.16em] md:text-[26px] md:leading-[1.16em] sm:text-[26px] sm:leading-[1.16em] xsm:text-[26px] xsm:leading-[1.16em]"
									style="color:#9650EF;">50+ <br><span class=" text-[0.77em]">Insurance</span></h3>
								<p
									class=" text-[18px] leading-[29px] text-[rgba(0,0,0,0.7)] lg:text-[16px] lg:leading-[30px] md:text-[16px] md:leading-[30px] sm:text-[16px] sm:leading-[30px] xsm:text-[16px] xsm:leading-[30px]">
									Partnered with us so that you can compare easily & transparently</p>
								<img src="assets/images/lazy.svg" src="assets/images/shape/shape_138.svg" alt=""
									class="lazy-img shapes shape-one  absolute z-[-1] bottom-[-45px] left-[-45px]">
							</div>
						</div>
						<div
							class="xl:w-5/12 lg:w-5/12 md:w-5/12 sm:w-5/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInUp">
							<div
								class="block-wrapper block-three pl-[30px] pr-[15px] pt-[22px] pb-[15px] rounded-[0_30px_0_30px] border-[1.5px] border-solid border-[#00BDE5] bg-[rgba(0,209,255,0.2)] mt-[50px] sm:mt-[30px] xsm:p-[35px_15px_20px]">
								<h3 class="text-[36px] leading-10 mb-3.5 lg:text-[26px] lg:leading-[1.16em] md:text-[26px] md:leading-[1.16em] sm:text-[26px] sm:leading-[1.16em] xsm:text-[26px] xsm:leading-[1.16em]"
									style="color:#00BDE6;"><span class=" text-[0.77em]">Claims</span></h3>
								<p
									class=" text-[18px] leading-[29px] text-[rgba(0,0,0,0.7)] lg:text-[16px] lg:leading-[30px] md:text-[16px] md:leading-[30px] sm:text-[16px] sm:leading-[30px] xsm:text-[16px] xsm:leading-[30px]">
									Get Support by expert easily.</p>
							</div>
							<img src="assets/images/lazy.svg" src="assets/images/shape/shape_137.svg" alt=""
								class="lazy-img mt-[30px] !ml-auto !mr-auto xsm:!hidden inline-block">
						</div>
						<div class="text-left wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
							<a routerLink="/partner-with-us"
								class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Register
								Your Company Today </a>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- /.container -->
	</div>

	<div
		class="fancy-feature-fiftyFour p-[30px] lg:p-0 md:p-0 sm:p-0 xsm:p-0 mt-[60px] lg:mt-[40px] md:mt-[40px] sm:mt-[40px] xsm:mt-[40px] ">
		<div
			class="bg-wrapper relative z-[2] pt-[30px] lg:pt-[60px] md:pt-[60px] sm:pt-[60px] xsm:pt-[60px]  pb-[30px] lg:pb-[60px] md:pb-[60px] sm:pb-[60px] xsm:pb-[60px] bg-[#E8FAF3]">
			<div class="container">
				<div class="flex flex-wrap mx-[-12px]">
					<div class="xl:w-4/12 lg:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInLeft">
						<div class="title-style-one">
							<!-- <div class="sc-title uppercase text-[16px] lg:text-[13px] md:text-[13px] sm:text-[13px] xsm:text-[13px] tracking-[2px] text-[rgba(0,0,0,0.3)] mb-2">Why us?</div> -->
							<h2 class="main-title font-bold text-black ">Eligibility Criteria <span
									class=" inline-block relative z-[1] before:content-[''] before:absolute before:w-[98%] before:h-3 before:z-[-1] before:left-1 before:bottom-2.5 before:bg-[rgba(255,139,37,0.4)]">
									to partner</span> with us.</h2>
						</div>
						<!-- <p class=" text-[24px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] mt-10 lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5 ">We helping our client to fullfill their needs with our expert.</p> -->
						<img src="assets/images/lazy.svg" src="assets/images/shape/shape_179.svg" alt=""
							class="lazy-img xsm:!hidden xl:block lg:block mt-10 ">
					</div>
					<div
						class="xl:w-7/12 lg:w-7/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto wow fadeInRight">
						<div class="flex flex-wrap mx-[-12px] xxl:mx-[-24px]">
							<div class="w-6/12 xsm:w-full flex-[0_0_auto] px-[12px] max-w-full">
								<div
									class="card-style-twentyFour bg-white mt-[30px] wow fadeInUp p-[50px_30px_10px] lg:p-[35px_15px_10px] md:p-[35px_15px_10px] sm:p-[35px_15px_10px] xsm:p-[35px_15px_10px] rounded-[7px]">
									<div class="icon h-[42px]"><img src="assets/images/lazy.svg"
											src="assets/images/icon/icon_152.svg" alt="" class="lazy-img max-h-full">
									</div>
									<h4
										class="font-bold text-black mt-[30px] mb-[15px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] ">
										1. Registered Entity</h4>
									<p
										class=" text-[18px] leading-[1.67em] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px]">
										The company must be legally registered with valid tax and operational licenses,
										complying with all relevant regulations.</p>
								</div>
							</div>
							<div class="w-6/12 xsm:w-full flex-[0_0_auto] px-[12px] max-w-full">
								<div class="card-style-twentyFour bg-white mt-[30px] wow fadeInUp p-[50px_30px_10px] lg:p-[35px_15px_10px] md:p-[35px_15px_10px] sm:p-[35px_15px_10px] xsm:p-[35px_15px_10px] rounded-[7px]"
									data-wow-delay="0.1s">
									<div class="icon h-[42px]"><img src="assets/images/lazy.svg"
											src="assets/images/icon/icon_153.svg" alt="" class="lazy-img max-h-full">
									</div>
									<h4
										class="font-bold text-black mt-[30px] mb-[15px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] ">
										2. Portfolio/Case Studies</h4>
									<p
										class=" text-[18px] leading-[1.67em] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px]">
										A proven track record with successful projects, case studies, and client
										testimonials demonstrating industry expertise is required.</p>
								</div>
							</div>
							<div class="w-6/12 xsm:w-full flex-[0_0_auto] px-[12px] max-w-full">
								<div class="card-style-twentyFour bg-white mt-[30px] wow fadeInUp p-[50px_30px_10px] lg:p-[35px_15px_10px] md:p-[35px_15px_10px] sm:p-[35px_15px_10px] xsm:p-[35px_15px_10px] rounded-[7px]"
									data-wow-delay="0.2s">
									<div class="icon h-[42px]"><img src="assets/images/lazy.svg"
											src="assets/images/icon/icon_154.svg" alt="" class="lazy-img max-h-full">
									</div>
									<h4
										class="font-bold text-black mt-[30px] mb-[15px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] ">
										3. Certifications and Policies</h4>
									<p
										class=" text-[18px] leading-[1.67em] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px]">
										Relevant industry certifications, compliance with regulations, and policies on
										data security, ethics, and sustainability are mandatory.</p>
								</div>
							</div>
							<div class="w-6/12 xsm:w-full flex-[0_0_auto] px-[12px] max-w-full">
								<div class="card-style-twentyFour bg-white mt-[30px] wow fadeInUp p-[50px_30px_10px] lg:p-[35px_15px_10px] md:p-[35px_15px_10px] sm:p-[35px_15px_10px] xsm:p-[35px_15px_10px] rounded-[7px]"
									data-wow-delay="0.2s">
									<div class="icon h-[42px]"><img src="assets/images/lazy.svg"
											src="assets/images/icon/icon_154.svg" alt="" class="lazy-img max-h-full">
									</div>
									<h4
										class="font-bold text-black mt-[30px] mb-[15px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] ">
										4. Financial Health and Stability</h4>
									<p
										class=" text-[18px] leading-[1.67em] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px]">
										Partners must demonstrate financial stability with audited statements, strong
										revenue, and a sustainable business model.</p>
								</div>
							</div>
							<div class="w-6/12 xsm:w-full flex-[0_0_auto] px-[12px] max-w-full">
								<div class="card-style-twentyFour bg-white mt-[30px] wow fadeInUp p-[50px_30px_10px] lg:p-[35px_15px_10px] md:p-[35px_15px_10px] sm:p-[35px_15px_10px] xsm:p-[35px_15px_10px] rounded-[7px]"
									data-wow-delay="0.3s">
									<div class="icon h-[42px]"><img src="assets/images/lazy.svg"
											src="assets/images/icon/icon_155.svg" alt="" class="lazy-img max-h-full">
									</div>
									<h4
										class="font-bold text-black mt-[30px] mb-[15px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] ">
										5. Qualified Team</h4>
									<p
										class=" text-[18px] leading-[1.67em] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px]">
										A skilled workforce with experienced leadership and key personnel relevant to
										the industry is essential.</p>
								</div>
							</div>
							<div class="w-6/12 xsm:w-full flex-[0_0_auto] px-[12px] max-w-full">
								<div class="card-style-twentyFour bg-white mt-[30px] wow fadeInUp p-[50px_30px_10px] lg:p-[35px_15px_10px] md:p-[35px_15px_10px] sm:p-[35px_15px_10px] xsm:p-[35px_15px_10px] rounded-[7px]"
									data-wow-delay="0.2s">
									<div class="icon h-[42px]"><img src="assets/images/lazy.svg"
											src="assets/images/icon/icon_154.svg" alt="" class="lazy-img max-h-full">
									</div>
									<h4
										class="font-bold text-black mt-[30px] mb-[15px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] ">
										6. Others (If Any Demanded)</h4>
									<p
										class=" text-[18px] leading-[1.67em] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px]">
										Additional requirements may include IP rights, R&D efforts, market presence, or
										strategic alignment with our objectives</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<img src="assets/images/lazy.svg" src="assets/images/shape/shape_11.svg" alt=""
				class="lazy-img shapes shape-one absolute z-[-1] left-[9%] top-[15%]">
			<img src="assets/images/lazy.svg" src="assets/images/shape/shape_13.svg" alt=""
				class="lazy-img shapes shape-two absolute z-[-1] right-[35%] top-[5%]">
			<img src="assets/images/lazy.svg" src="assets/images/shape/shape_10.svg" alt=""
				class="lazy-img shapes shape-three absolute z-[-1] right-[4%] top-2/4">
			<img src="assets/images/lazy.svg" src="assets/images/shape/shape_12.svg" alt=""
				class="lazy-img shapes shape-four absolute z-[-1] left-[30%] bottom-[20%]">
		</div> <!-- /.bg-wrapper -->
	</div>

	<div class="fancy-feature-eleven relative mt-[40px] lg:mt-[120px] md:mt-[10px] sm:mt-[10px] xsm:mt-[10px] ">
		<div class="container">
			<div class="flex flex-wrap mx-[-12px] align-items-start align-items-xl-center">
				<div class="xl:w-5/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInLeft">
					<div class="title-style-four">
						<div class="sc-title-two text-[15px] tracking-[3px] uppercase pb-[22px] lg:text-[14px] lg:pb-2.5 md:text-[14px] md:pb-2.5 sm:text-[14px] sm:pb-2.5 xsm:text-[14px] xsm:pb-2.5"
							style="color:#6A45FF;">Pricing & Guarantee</div>
						<h2 class="main-title font-medium text-black !m-0 tracking-[-1.5px]">Our <span
								class=" inline-block relative z-[1] before:content-[''] before:absolute before:w-[97%] before:h-3 before:opacity-50 before:z-[-1] before:left-[3px] before:bottom-[13px] before:bg-[#FF5BD7]">Transparent</span>
							Pricing Structure</h2>
					</div>
					<p
						class=" text-[18px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] mb-[45px] ">
						Our subscription provides access to exclusive opportunities, with a guaranteed project within 12
						months.</p>
				</div>

				<div class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto wow fadeInRight">
					<div class="accordion accordion-style-one md:mt-10 sm:mt-10 xsm:mt-10 " id="accordionFive">
						<div
							class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
							<div class="accordion-header" id="headingOne">
								<button
									class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
									type="button" data-bs-toggle="collapse" data-bs-target="#collapsesOne"
									aria-expanded="false" aria-controls="collapsesOne">
									What’s Included
								</button>
							</div>
							<div id="collapsesOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
								data-bs-parent="#accordionFive">
								<div
									class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
									<ul
										class="text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
										<li><span class="font-medium text-black">• Guaranteed project within 12
												months.</span>
										</li>
										<li><span class="font-medium text-black">• Full access to our team, proposal
												writing, client negotiations, and more.</span></li>
									</ul>
								</div>
							</div>
						</div>
						<div
							class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
							<div class="accordion-header" id="headingsTwo">
								<button
									class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
									type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwos"
									aria-expanded="false" aria-controls="collapseTwos">
									Refund Policy
								</button>
							</div>
							<div id="collapseTwos" class="accordion-collapse collapse" aria-labelledby="headingsTwo"
								data-bs-parent="#accordionFive">
								<div
									class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
									<p
										class=" text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
										If you don’t receive any projects within the year, we’ll refund the full amount.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- /.container -->
		<img src="assets/images/lazy.svg" src="assets/images/shape/shape_49.svg" alt=""
			class="lazy-img shapes shape-one absolute z-[-1] top-[-9%] animate-[jumpThree_3.5s_infinite_linear] left-[30%]">
		<img src="assets/images/lazy.svg" src="assets/images/shape/shape_50.svg" alt=""
			class="lazy-img shapes shape-two absolute z-[-1] animate-[jumpFour_3.5s_infinite_linear] left-[3%] top-[48%]">
		<img src="assets/images/lazy.svg" src="assets/images/shape/shape_51.svg" alt=""
			class="lazy-img shapes shape-three absolute z-[-1] bottom-[-10%] animate-[jumpTwo_3.5s_infinite_linear] left-[28%]">
		<!-- <div class="container">
			<p
				class="text-center text-[18px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em]  mb-[60px]   pt-[50px]  xl:!pr-[3rem]  lg:pt-[30px] md:pt-[30px] sm:pt-[30px] xsm:pt-[30px]  lg:mb-10  md:mb-10  sm:mb-10  xsm:mb-10">
				Want to learn more about how our subscription works and how we can help you secure high-value projects?
				Our team is happy to provide more details and discuss how we can support your business growth in the UK
				market.</p>
			<div class=" wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
				<a routerLink="/contact-us"
					class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Contact
					Us for More Information </a>
			</div>
		</div> -->




	</div>
</div>