<div class="main-page-wrapper overflow-x-hidden">
    <div class="contact-section-three p-[30px] lg:p-0 md:p-0 sm:p-0 xsm:p-0 ">
        <div
            class="address-wrapper z-[2] relative pt-[180px]  lg:pt-[150px] md:pt-[150px] sm:pt-[150px] xsm:pt-[150px]  mb-[150px] lg:mb-20 md:mb-20 sm:mb-20 xsm:mb-20  overflow-hidden before:content-[''] before:absolute before:h-[200px] before:w-[120%] before:bottom-[-95px] before:left-[-2%] before:z-[-1] before:rotate-[-4deg] bg-[#EEFBFF] before:bg-white">
            <div class="container">
                <div class="title-style-seven text-center wow fadeInUp">
                    <h2
                        class="main-title font-bold  text-black  text-[50px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
                        Comprehensive IT Solutions to Help<span class="relative inline-block"> You Expand <img
                                class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
                                src="assets/images/shape/shape_96.svg" alt=""></span>and Succeed in the UK Market </h2>
                </div> <!-- /.title-style-seven -->
                <div class="flex flex-wrap mx-[-12px]">
                    <div class="xxl:w-6/12  xl:w-7/12 w-full flex-[0_0_auto] px-[12px] max-w-full m-auto">
                        <p
                            class="mt-[45px]  lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5  mb-[70px]  lg:mb-[30px] md:mb-[30px] sm:mb-[30px] xsm:mb-[30px]  text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px]  !leading-[2]  text-center wow fadeInUp">
                            WestGate IT Hub offers specialised services designed to connect Indian IT talent with UK
                            opportunities, driving mutual success.</p>
                    </div>
                </div>

                <div class="text-center wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                    <a routerLink="/partner-with-us"
                        class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">
                        Partner With Us Now </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flex flex-wrap mx-[-12px] items-center">
                <div class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full ">
                    <div class="title-style-seven text-center xl:text-left lg:text-left  wow fadeInLeft">
                        <h2
                            class="main-title font-bold  text-black text-[50px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
                            Our <span class="relative inline-block">Core <img
                                    class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
                                    src="assets/images/shape/shape_96.svg" alt=""></span> Services</h2>
                        <h5
                            class="!m-0 text-[18px]  !leading-[2]  text-center xl:text-left lg:text-left  md:pt-5 sm:pt-5 xsm:pt-5  lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] mb-2">
                            We offer tailored resource-sharing solutions and support to help Indian IT companies secure
                            projects in the UK market. </h5>
                    </div>
                </div>
                <div class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto wow fadeInRight">
                    <p
                        class="text-[18px] xl:text-[18px] lg:text-[18px] md:text-[17px] sm:text-[16px] leading-[1.7em] text-center xl:text-left">
                        At WestGate IT Hub, we understand the unique challenges faced by IT companies looking to expand
                        globally. Our services are designed to help your business seamlessly navigate the UK market. We
                        specialise in identifying project delivery opportunities, helping you secure and manage key
                        projects. We also focus on marketing your resources to potential clients, ensuring your
                        expertise reaches the right audience. With our comprehensive support, we ensure your success at
                        every stage of the process.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="fancy-feature-eleven relative mt-[200px] lg:mt-[120px] md:mt-[10px] sm:mt-[10px] xsm:mt-[10px] ">
        <div class="container">
            <div class="flex flex-wrap mx-[-12px] align-items-start ">
                <div class="xl:w-5/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInLeft">
                    <div class="title-style-four">
                        <div class="sc-title-two text-[15px] tracking-[3px] uppercase pb-[22px] lg:text-[14px] lg:pb-2.5 md:text-[14px] md:pb-2.5 sm:text-[14px] sm:pb-2.5 xsm:text-[14px] xsm:pb-2.5"
                            style="color:#6A45FF;">Service #1: IT Services Sub-Contracting (From Supplier Location)
                        </div>
                        <h2 class="main-title font-medium text-black !m-0 tracking-[-1.5px]">Extend Your Reach in
                            the<span
                                class=" inline-block relative z-[1] before:content-[''] before:absolute before:w-[97%] before:h-3 before:opacity-50 before:z-[-1] before:left-[3px] before:bottom-[13px] before:bg-[#FF5BD7]">
                                UK Market with</span> Sub-Contracting Solutions
                        </h2>
                    </div>

                    <p
                        class=" text-[18px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] mb-[45px] ">
                        We Connect Your IT Services to UK-Based Projects with Seamless Execution</p>
                    <div class="text-center wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                        <a routerLink="/contact-us"
                            class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">
                            Learn More About Sub-Contracting in the UK Market </a>
                    </div>

                </div>

                <div class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto wow fadeInRight">
                    <div class="accordion accordion-style-one md:mt-10 sm:mt-10 xsm:mt-10 " id="accordionOne">
                        <div
                            class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                            <div class="accordion-header" id="headingOne">
                                <button
                                    class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne">
                                    Overview
                                </button>
                            </div>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionOne">
                                <div
                                    class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                    <p
                                        class=" text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                        Through our sub-contracting model, we leverage your IT company’s expertise from
                                        your current location and connect you with high-demand projects in the UK. We
                                        match your services with the right UK opportunities, enabling you to deliver
                                        quality solutions without the need for physical relocation. Your team continues
                                        to handle the execution while we facilitate client communication and project
                                        coordination in the UK.</p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                            <div class="accordion-header" id="headingTwo">
                                <button
                                    class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    Key Features
                                </button>
                            </div>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionOne">
                                <div
                                    class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                    <ul
                                        class="text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
                                        <li><span class=" text-black">• Remote Sub-Contracting: Your team
                                                delivers IT services from your location, while we ensure effective
                                                communication and seamless coordination with UK-based clients.</span>
                                        </li>
                                        <li><span class=" text-black">• Market Engagement: We identify the
                                                right opportunities in the UK, showcasing your strengths and getting
                                                your services in front of the right clients.</span></li>
                                        <li><span class=" text-black">• End-to-End Support: From proposal
                                                writing to project management and client interaction, we provide
                                                comprehensive support without requiring you to relocate your
                                                operations.</span></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                            <div class="accordion-header" id="headingThree">
                                <button
                                    class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                    aria-expanded="true" aria-controls="collapseThree">
                                    How It Works ?
                                </button>
                            </div>
                            <div id="collapseThree" class="accordion-collapse collapse show"
                                aria-labelledby="headingThree" data-bs-parent="#accordionOne">
                                <div
                                    class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                    <ul
                                        class="text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
                                        <li><span class=" text-black">• Opportunity Identification: We research the UK
                                                market to identify the best opportunities that align with your IT
                                                services</span>
                                        </li>
                                        <li><span class=" text-black">• Proposal Writing & Marketing: We create tailored
                                                proposals that highlight your skills, marketing your services to UK
                                                clients.</span></li>
                                        <li><span class=" text-black">• Client Coordination & Communication: We manage
                                                all client relations, ensuring clear and effective communication while
                                                your team works remotely.</span></li>
                                        <li><span class=" text-black">• Ongoing Project Support: We continue to assist
                                                in securing more opportunities and ensuring smooth coordination
                                                throughout project lifecycles.</span></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="assetsimages/lazy.svg" src="assetsimages/shape/shape_49.svg" alt=""
            class="lazy-img shapes shape-one absolute z-[-1] top-[-9%] animate-[jumpThree_3.5s_infinite_linear] left-[30%]">
        <img src="assetsimages/lazy.svg" src="assetsimages/shape/shape_50.svg" alt=""
            class="lazy-img shapes shape-two absolute z-[-1] animate-[jumpFour_3.5s_infinite_linear] left-[3%] top-[48%]">
        <img src="assetsimages/lazy.svg" src="assetsimages/shape/shape_51.svg" alt=""
            class="lazy-img shapes shape-three absolute z-[-1] bottom-[-10%] animate-[jumpTwo_3.5s_infinite_linear] left-[28%]">
    </div>

    <div class="fancy-feature-eleven relative mt-[200px] lg:mt-[120px] md:mt-[10px] sm:mt-[10px] xsm:mt-[10px] ">
        <div class="container">
            <div class="flex flex-wrap mx-[-12px] align-items-start ">
                <div class="xl:w-5/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInLeft">
                    <div class="title-style-four">
                        <div class="sc-title-two text-[15px] tracking-[3px] uppercase pb-[22px] lg:text-[14px] lg:pb-2.5 md:text-[14px] md:pb-2.5 sm:text-[14px] sm:pb-2.5 xsm:text-[14px] xsm:pb-2.5"
                            style="color:#6A45FF;">Service #2: IT Services Resource Sharing (at Supplier Location)
                        </div>
                        <h2 class="main-title font-medium text-black !m-0 tracking-[-1.5px]">Maximise UK Opportunities
                            Through<span
                                class=" inline-block relative z-[1] before:content-[''] before:absolute before:w-[97%] before:h-3 before:opacity-50 before:z-[-1] before:left-[3px] before:bottom-[13px] before:bg-[#FF5BD7]">
                                Resource Sharing</span> at Your Location
                        </h2>
                    </div>

                    <p
                        class=" text-[18px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] mb-[45px] ">
                        We Align Your IT Resources with the Right Projects, Enhancing Your Presence in the UK Market.
                    </p>
                    <div class="text-center wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                        <a routerLink="/contact-us"
                            class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">
                            Learn More About Resource Sharing at Your Supplier Location</a>
                    </div>

                </div>

                <div class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto wow fadeInRight">
                    <div class="accordion accordion-style-one md:mt-10 sm:mt-10 xsm:mt-10 " id="accordionTwo">
                        <div
                            class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                            <div class="accordion-header" id="headingOnes">
                                <button
                                    class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseOnes"
                                    aria-expanded="false" aria-controls="collapseOnes">
                                    Overview
                                </button>
                            </div>
                            <div id="collapseOnes" class="accordion-collapse collapse" aria-labelledby="headingOnes"
                                data-bs-parent="#accordionTwo">
                                <div
                                    class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                    <p
                                        class=" text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                        Our resource-sharing model enables your IT company to share key resources with
                                        UK projects while operating from your location. We place your skilled
                                        professionals into the most relevant UK-based projects, ensuring they are fully
                                        integrated into client teams for optimal results. You retain full control over
                                        execution while we ensure smooth client coordination and alignment with UK
                                        project needs.</p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                            <div class="accordion-header" id="headingTwos">
                                <button
                                    class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwos"
                                    aria-expanded="false" aria-controls="collapseTwos">
                                    Key Features
                                </button>
                            </div>
                            <div id="collapseTwos" class="accordion-collapse collapse" aria-labelledby="headingTwos"
                                data-bs-parent="#accordionTwo">
                                <div
                                    class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                    <ul
                                        class="text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
                                        <li><span class=" text-black">• Local Resource Sharing: Your experts are
                                                deployed on UK projects while operating from your location, ensuring
                                                cost-effectiveness and efficiency.</span>
                                        </li>
                                        <li><span class=" text-black">• Tailored Market Placement: We identify the most
                                                relevant UK projects and align your resources accordingly, ensuring
                                                maximum value for both you and the client.</span></li>
                                        <li><span class=" text-black">• Client Coordination: We manage the communication
                                                between your team and the UK client, ensuring smooth integration and
                                                delivery.</span></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                            <div class="accordion-header" id="headingThrees">
                                <button
                                    class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseThrees"
                                    aria-expanded="true" aria-controls="collapseThrees">
                                    How It Works ?
                                </button>
                            </div>
                            <div id="collapseThrees" class="accordion-collapse collapse show"
                                aria-labelledby="headingThrees" data-bs-parent="#accordionTwo">
                                <div
                                    class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                    <ul
                                        class="text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
                                        <li><span class=" text-black">• Market Research & Opportunity Match: We identify
                                                the right UK projects and align them with your available
                                                resources.</span>
                                        </li>
                                        <li><span class=" text-black">• Resource Placement & Marketing: We promote your
                                                resources to UK clients and ensure proper integration into their
                                                teams.</span></li>
                                        <li><span class=" text-black">• Coordination & Communication: We handle the
                                                client communication, ensuring your resources are in sync with UK
                                                project requirements.</span></li>
                                        <li><span class=" text-black">• Continuous Support: We continue to support the
                                                project’s lifecycle, ensuring smooth progress and identifying future
                                                opportunities.</span></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="assetsimages/lazy.svg" src="assetsimages/shape/shape_49.svg" alt=""
            class="lazy-img shapes shape-one absolute z-[-1] top-[-9%] animate-[jumpThree_3.5s_infinite_linear] left-[30%]">
        <img src="assetsimages/lazy.svg" src="assetsimages/shape/shape_50.svg" alt=""
            class="lazy-img shapes shape-two absolute z-[-1] animate-[jumpFour_3.5s_infinite_linear] left-[3%] top-[48%]">
        <img src="assetsimages/lazy.svg" src="assetsimages/shape/shape_51.svg" alt=""
            class="lazy-img shapes shape-three absolute z-[-1] bottom-[-10%] animate-[jumpTwo_3.5s_infinite_linear] left-[28%]">
    </div>

    <div class="fancy-feature-eleven relative mt-[200px] lg:mt-[120px] md:mt-[10px] sm:mt-[10px] xsm:mt-[10px] ">
        <div class="container">
            <div class="flex flex-wrap mx-[-12px] align-items-start ">
                <div class="xl:w-5/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInLeft">
                    <div class="title-style-four">
                        <div class="sc-title-two text-[15px] tracking-[3px] uppercase pb-[22px] lg:text-[14px] lg:pb-2.5 md:text-[14px] md:pb-2.5 sm:text-[14px] sm:pb-2.5 xsm:text-[14px] xsm:pb-2.5"
                            style="color:#6A45FF;">Service #3: IT Services Resource Sharing (Away Location)
                        </div>
                        <h2 class="main-title font-medium text-black !m-0 tracking-[-1.5px]">Expand Your Reach<span
                                class=" inline-block relative z-[1] before:content-[''] before:absolute before:w-[97%] before:h-3 before:opacity-50 before:z-[-1] before:left-[3px] before:bottom-[13px] before:bg-[#FF5BD7]">
                                by Deploying</span> IT Resources to the UK
                        </h2>
                    </div>

                    <p
                        class=" text-[18px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] mb-[45px] ">
                        We Facilitate Resource Sharing with UK Projects, Even from an Away Location.</p>

                    <div class="text-center wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                        <a routerLink="/contact-us"
                            class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">
                            Learn More About Resource Sharing at Away Locations </a>
                    </div>

                </div>

                <div class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto wow fadeInRight">
                    <div class="accordion accordion-style-one md:mt-10 sm:mt-10 xsm:mt-10 " id="accordionThree">
                        <div
                            class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                            <div class="accordion-header" id="headingsOne">
                                <button
                                    class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapsesOne"
                                    aria-expanded="false" aria-controls="collapsesOne">
                                    Overview
                                </button>
                            </div>
                            <div id="collapsesOne" class="accordion-collapse collapse" aria-labelledby="headingsOne"
                                data-bs-parent="#accordionThree">
                                <div
                                    class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                    <p
                                        class=" text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                        Our resource-sharing model at an away location allows your IT professionals to
                                        be deployed in UK-based projects remotely or on-site, even if they are not
                                        physically located in the UK. We connect your resources with high-demand
                                        opportunities in the UK, helping you make a mark in the market without having to
                                        establish a physical presence.</p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                            <div class="accordion-header" id="headingsTwo">
                                <button
                                    class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapsesTwo"
                                    aria-expanded="false" aria-controls="collapsesTwo">
                                    Key Features
                                </button>
                            </div>
                            <div id="collapsesTwo" class="accordion-collapse collapse" aria-labelledby="headingsTwo"
                                data-bs-parent="#accordionThree">
                                <div
                                    class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                    <ul
                                        class="text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
                                        <li><span class=" text-black">• Global Resource Deployment: We connect your
                                                resources with UK projects from an off-site location, whether remotely
                                                or through temporary travel for on-site engagement.</span>
                                        </li>
                                        <li><span class=" text-black">• Project Alignment & Integration: We ensure your
                                                resources are strategically placed in the most relevant projects to
                                                deliver value, regardless of their location.</span></li>
                                        <li><span class=" text-black">• Comprehensive Coordination: We manage client
                                                interactions, keeping communication clear and efficient, ensuring
                                                seamless project integration.</span></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                            <div class="accordion-header" id="headingsThree">
                                <button
                                    class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapsesThree"
                                    aria-expanded="true" aria-controls="collapsesThree">
                                    How It Works ?
                                </button>
                            </div>
                            <div id="collapsesThree" class="accordion-collapse collapse show"
                                aria-labelledby="headingsThree" data-bs-parent="#accordionThnree">
                                <div
                                    class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                    <ul
                                        class="text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
                                        <li><span class=" text-black">• Market & Opportunity Research: We identify the
                                                right UK-based projects for your resources, either remotely or via
                                                on-site work.</span>
                                        </li>
                                        <li><span class=" text-black">• Remote/On-Site Resource Placement: We place your
                                                team in UK projects, ensuring effective execution even from an away
                                                location.</span></li>
                                        <li><span class=" text-black">• Client Coordination & Project Management: We
                                                handle all client communication and ensure your team is seamlessly
                                                integrated into the UK projects.</span></li>
                                        <li><span class=" text-black">• Ongoing Support: We continue to find new
                                                opportunities for your resources and ensure smooth project
                                                delivery.</span></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="assetsimages/lazy.svg" src="assetsimages/shape/shape_49.svg" alt=""
            class="lazy-img shapes shape-one absolute z-[-1] top-[-9%] animate-[jumpThree_3.5s_infinite_linear] left-[30%]">
        <img src="assetsimages/lazy.svg" src="assetsimages/shape/shape_50.svg" alt=""
            class="lazy-img shapes shape-two absolute z-[-1] animate-[jumpFour_3.5s_infinite_linear] left-[3%] top-[48%]">
        <img src="assetsimages/lazy.svg" src="assetsimages/shape/shape_51.svg" alt=""
            class="lazy-img shapes shape-three absolute z-[-1] bottom-[-10%] animate-[jumpTwo_3.5s_infinite_linear] left-[28%]">
    </div>

    <div class="fancy-feature-one pt-[170px] lg:pt-[140px] md:pt-[140px] sm:pt-[140px] xsm:pt-[140px]">
        <div class="container">
            <div class="flex flex-wrap mx-[-12px] items-center">
                <div class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInLeft">
                    <div class="title-style-one text-center xl:text-left lg:text-left">
                        <h2 class="main-title font-bold text-black !m-0">Why Our <span
                                class=" inline-block relative z-[1] before:content-[''] before:absolute before:w-[98%] before:h-3 before:z-[-1] before:left-1 before:bottom-2.5 before:bg-[rgba(255,139,37,0.4)]">Services
                            </span>
                            Stand Out</h2>
                    </div> <!-- /.title-style-one -->
                </div>
                <div class="xl:w-5/12 lg:w-5/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto wow fadeInRight">
                    <p
                        class=" text-[18px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] text-center xl:text-left lg:text-left  md:pt-[30px] sm:pt-[30px] xsm:pt-[30px]  !m-0">
                        Choosing WestGate IT Hub means you get more than just a marketing partner. You get a team
                        committed to your success. Here’s why our services are the best fit for your business.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div
                class="inner-content max-w-[1644px] 2xl:max-w-[1300px] m-[0_auto] px-3 pt-[110px] lg:pt-[60px] md:pt-[30px] sm:pt-[30px] xsm:pt-[30px]">
                <div class="flex flex-wrap mx-[-12px] xxl:mx-[-24px]">
                    <div
                        class="xl:w-3/12 lg:w-3/12 md:w-6/12 sm:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInUp">
                        <div
                            class="card-style-one xxl:!pr-[3rem]  relative mt-10 before:content-[''] before:absolute before:left-[-30px] before:top-[-30px] before:bottom-[-30px] before:shadow-[0px_30px_70px_rgba(10,22,37,0.0555514)] before:z-[-1] before:opacity-0 before:origin-[0_0] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:rounded-[5px] before:scale-x-100 before:scale-y-90 before:right-0 before:bg-white hover:before:opacity-100 hover:before:scale-[1.0] lg:p-[0_10px_0_15px] md:p-[0_10px_0_15px] sm:p-[0_10px_0_15px] xsm:p-[0_10px_0_15px]">
                            <div class="icon flex items-center justify-center w-[55px] h-[55px] rounded-[15px] lg:w-[55px] lg:h-[55px] lg:p-[15px] md:w-[55px] md:h-[55px] md:p-[15px] sm:w-[55px] sm:h-[55px] sm:p-[15px] xsm:w-[55px] xsm:h-[55px] xsm:p-[15px]"
                                style="background-color: rgba(100, 219, 226, 0.18);"><img src="assets/images/lazy.svg"
                                    src="assets/images/icon/icon_01.svg" alt="" class="lazy-img"></div>
                            <h5
                                class="font-medium mt-[35px] mb-[25px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] ">
                                <a 
                                    class="tran3s  text-black  hover:text-[color:var(--prime-one)]">Local Expertise
                                </a>
                            </h5>
                            <p class="mb-[25px]">We understand both the Indian IT landscape and UK market dynamics,
                                making
                                us the perfect bridge.</p>
                            <!-- <a ><img src="assets/images/lazy.svg"
                            src="assets/images/icon/icon_05.svg" alt="" class="lazy-img"></a> -->
                        </div>
                    </div>
                    <div class="xl:w-3/12 lg:w-3/12 md:w-6/12 sm:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInUp"
                        data-wow-delay="0.1s">
                        <div
                            class="card-style-one xxl:!pr-[3rem]  relative mt-10 before:content-[''] before:absolute before:left-[-30px] before:top-[-30px] before:bottom-[-30px] before:shadow-[0px_30px_70px_rgba(10,22,37,0.0555514)] before:z-[-1] before:opacity-0 before:origin-[0_0] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:rounded-[5px] before:scale-x-100 before:scale-y-90 before:right-0 before:bg-white hover:before:opacity-100 hover:before:scale-[1.0] lg:p-[0_10px_0_15px] md:p-[0_10px_0_15px] sm:p-[0_10px_0_15px] xsm:p-[0_10px_0_15px]">
                            <div class="icon flex items-center justify-center w-[55px] h-[55px] rounded-[15px] lg:w-[55px] lg:h-[55px] lg:p-[15px] md:w-[55px] md:h-[55px] md:p-[15px] sm:w-[55px] sm:h-[55px] sm:p-[15px] xsm:w-[55px] xsm:h-[55px] xsm:p-[15px]"
                                style="background-color: rgba(255, 171, 51, 0.18);"><img src="assets/images/lazy.svg"
                                    src="assets/images/icon/icon_02.svg" alt="" class="lazy-img"></div>
                            <h5
                                class="font-medium mt-[35px] mb-[25px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] ">
                                <a 
                                    class="tran3s  text-black  hover:text-[color:var(--prime-one)]">Guaranteed Results
                                </a>
                            </h5>
                            <p class="mb-[25px]">Our annual subscription includes a guarantee of securing a project.</p>
                            <!-- <a ><img src="assets/images/lazy.svg"
                            src="assets/images/icon/icon_05.svg" alt="" class="lazy-img"></a> -->
                        </div>
                    </div>
                    <div class="xl:w-3/12 lg:w-3/12 md:w-6/12 sm:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInUp"
                        data-wow-delay="0.2s">
                        <div
                            class="card-style-one xxl:!pr-[3rem]  relative mt-10 before:content-[''] before:absolute before:left-[-30px] before:top-[-30px] before:bottom-[-30px] before:shadow-[0px_30px_70px_rgba(10,22,37,0.0555514)] before:z-[-1] before:opacity-0 before:origin-[0_0] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:rounded-[5px] before:scale-x-100 before:scale-y-90 before:right-0 before:bg-white hover:before:opacity-100 hover:before:scale-[1.0] lg:p-[0_10px_0_15px] md:p-[0_10px_0_15px] sm:p-[0_10px_0_15px] xsm:p-[0_10px_0_15px]">
                            <div class="icon flex items-center justify-center w-[55px] h-[55px] rounded-[15px] lg:w-[55px] lg:h-[55px] lg:p-[15px] md:w-[55px] md:h-[55px] md:p-[15px] sm:w-[55px] sm:h-[55px] sm:p-[15px] xsm:w-[55px] xsm:h-[55px] xsm:p-[15px]"
                                style="background-color: rgba(255, 160, 194, 0.18);"><img src="assets/images/lazy.svg"
                                    src="assets/images/icon/icon_03.svg" alt="" class="lazy-img"></div>
                            <h5
                                class="font-medium mt-[35px] mb-[25px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] ">
                                <a 
                                    class="tran3s  text-black  hover:text-[color:var(--prime-one)]">Comprehensive
                                    Support
                                </a>
                            </h5>
                            <p class="mb-[25px]">We provide full support in marketing your portfolio in the UK, from
                                proposal writing to project coordination, with execution on your part.</p>
                            <!-- <a ><img src="assets/images/lazy.svg"
                            src="assets/images/icon/icon_05.svg" alt="" class="lazy-img"></a> -->
                        </div>
                    </div>
                    <div class="xl:w-3/12 lg:w-3/12 md:w-6/12 sm:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInUp"
                        data-wow-delay="0.3s">
                        <div
                            class="card-style-one xxl:!pr-[3rem]  relative mt-10 before:content-[''] before:absolute before:left-[-30px] before:top-[-30px] before:bottom-[-30px] before:shadow-[0px_30px_70px_rgba(10,22,37,0.0555514)] before:z-[-1] before:opacity-0 before:origin-[0_0] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:rounded-[5px] before:scale-x-100 before:scale-y-90 before:right-0 before:bg-white hover:before:opacity-100 hover:before:scale-[1.0] lg:p-[0_10px_0_15px] md:p-[0_10px_0_15px] sm:p-[0_10px_0_15px] xsm:p-[0_10px_0_15px]">
                            <div class="icon flex items-center justify-center w-[55px] h-[55px] rounded-[15px] lg:w-[55px] lg:h-[55px] lg:p-[15px] md:w-[55px] md:h-[55px] md:p-[15px] sm:w-[55px] sm:h-[55px] sm:p-[15px] xsm:w-[55px] xsm:h-[55px] xsm:p-[15px]"
                                style="background-color: rgba(56, 232, 255, 0.1);"><img src="assets/images/lazy.svg"
                                    src="assets/images/icon/icon_04.svg" alt="" class="lazy-img"></div>
                            <h5
                                class="font-medium mt-[35px] mb-[25px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] ">
                                <a 
                                    class="tran3s  text-black  hover:text-[color:var(--prime-one)]">Flexible Solutions
                                </a>
                            </h5>
                            <p class="mb-[25px]">Our services are tailored to meet your unique business needs and
                                project
                                requirements.</p>
                            <!-- <a ><img src="assets/images/lazy.svg"
                            src="assets/images/icon/icon_05.svg" alt="" class="lazy-img"></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                <a routerLink="/contact-us"
                    class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Get
                    Started Today</a>
            </div>
        </div>
    </div>

</div>