<div class="main-page-wrapper overflow-x-hidden">

    <div class="fancy-feature-fiftyOne relative mt-[200px]">
        <div class="container">
            <div class="flex flex-wrap mx-[-12px]">
                <div
                    class="xxl:w-7/12 xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full text-center m-auto wow fadeInUp">
                    <div class="title-style-five mb-[65px] lg:mb-10 md:mb-10 sm:mb-10 xsm:mb-10">
                        <!-- <div
                            class="sc-title-two italic relative inline-block text-[17px] text-[color:var(--prime-ten)] mb-5 pl-10 before:content-[''] before:absolute before:w-6 before:h-px before:left-0 before:top-3.5 before:bg-[var(--prime-ten)]">
                            Blog</div> -->
                        <h2
                            class="main-title font-medium text-black text-[72px] leading-[1.25em] 2xl:text-[58px] lg:text-[50px] md:text-[35px] sm:text-[35px] xsm:text-[35px]">
                            Check our inside News</h2>
                    </div>
                </div>
            </div>
        </div> <!-- /.container -->
        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_172.svg" alt=""
            class="lazy-img shapes shape-two absolute z-[-1] right-[17%] 2xl:right-[8%] lg:right-[6%] md:!hidden sm:!hidden xsm:!hidden top-[4%]">
    </div> <!-- /.fancy-feature-fiftyOne -->

    <!--
			=====================================================
				Blog Section Five 
			=====================================================
			-->
    <div class="blog-section-five mt-[70px]  lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px]">
        <div class="container">
            <div
                class=" border-b-[#f1f1f1] border-b border-solid pb-[150px] lg:pb-[60px] md:pb-[60px] sm:pb-[60px] xsm:pb-[60px]  ">
                <div class="flex flex-wrap mx-[-12px] xxl:mx-[-24px]">
                    <div class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full flex">
                        <article
                            class="blog-meta-five flex flex-col relative tran3s mb-[60px]  lg:mb-[50px] md:mb-[50px] sm:mb-[50px] xsm:mb-[50px] border w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[75px_40px_50px_60px] lg:p-[50px_15px_25px_20px] md:p-[50px_15px_25px_20px] sm:p-[50px_15px_25px_20px] xsm:p-[50px_15px_25px_20px] border-solid border-black before:content-[''] before:absolute before:w-full before:h-full before:border before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:border-solid before:border-black before:left-2 before:top-2 hover:border-[color:var(--prime-ten)] hover:before:border-[color:var(--prime-ten)] wow fadeInUp">
                            <div><a href="blog-details.html"
                                    class="tag uppercase font-medium tran3s text-[12px] sm:text-[11px] xsm:text-[11px] tracking-[1px] border text-black px-[11px] py-[3px] border-solid border-black hover:text-white hover:bg-black">Design</a>
                            </div>
                            <div
                                class="post-data mt-[30px]  mb-[100px]  lg:mb-[50px] md:mb-[50px] sm:mb-[50px] xsm:mb-[50px] ">
                                <a href="blog-details.html">
                                    <h4
                                        class="tran3s blog-title text-[36px] lg:text-[22px] md:text-[22px] sm:text-[22px] xsm:text-[22px] leading-[1.416em] hover:text-black hover:underline">
                                        Until recently, the prevailing view assumed lorem ipsum was..</h4>
                                </a>
                            </div>
                            <div class="blog-footer flex items-center justify-between mt-auto">
                                <div class="blog-date font-medium  text-black ">Featured - <a href="blog-details.html"
                                        class="font-normal tran3s hover:text-black hover:underline">18 Jul 2023</a>
                                </div>
                                <a href="blog-details.html"
                                    class="read-more tran3s w-[45px] h-[45px] text-center leading-[45px] text-white text-[24px] bg-black hover:bg-[var(--prime-ten)]"><i
                                        class="bi bi-arrow-up-right"></i></a>
                            </div> <!-- /.blog-footer -->
                        </article> <!-- /.blog-meta-five -->
                    </div>
                    <div class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full flex">
                        <article
                            class="blog-meta-five flex flex-col relative tran3s mb-[60px]  lg:mb-[50px] md:mb-[50px] sm:mb-[50px] xsm:mb-[50px] border w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[75px_40px_50px_60px] lg:p-[50px_15px_25px_20px] md:p-[50px_15px_25px_20px] sm:p-[50px_15px_25px_20px] xsm:p-[50px_15px_25px_20px] border-solid border-black before:content-[''] before:absolute before:w-full before:h-full before:border before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:border-solid before:border-black before:left-2 before:top-2 hover:border-[color:var(--prime-ten)] hover:before:border-[color:var(--prime-ten)] wow fadeInUp"
                            data-wow-delay="0.2s">
                            <div><a href="blog-details.html"
                                    class="tag uppercase font-medium tran3s text-[12px] sm:text-[11px] xsm:text-[11px] tracking-[1px] border text-black px-[11px] py-[3px] border-solid border-black hover:text-white hover:bg-black">Development</a>
                            </div>
                            <div
                                class="post-data mt-[30px]  mb-[100px]  lg:mb-[50px] md:mb-[50px] sm:mb-[50px] xsm:mb-[50px] ">
                                <a href="blog-details.html">
                                    <h4
                                        class="tran3s blog-title text-[36px] lg:text-[22px] md:text-[22px] sm:text-[22px] xsm:text-[22px] leading-[1.416em] hover:text-black hover:underline">
                                        Print, publishing qui visual ux quis layout mockups.</h4>
                                </a>
                            </div>
                            <div class="blog-footer flex items-center justify-between mt-auto">
                                <div class="blog-date font-medium  text-black ">Created on - <a href="blog-details.html"
                                        class="font-normal tran3s hover:text-black hover:underline">18 Jul 2023</a>
                                </div>
                                <a href="blog-details.html"
                                    class="read-more tran3s w-[45px] h-[45px] text-center leading-[45px] text-white text-[24px] bg-black hover:bg-[var(--prime-ten)]"><i
                                        class="bi bi-arrow-up-right"></i></a>
                            </div> <!-- /.blog-footer -->
                        </article> <!-- /.blog-meta-five -->
                    </div>
                    <div class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full flex">
                        <article
                            class="blog-meta-five flex flex-col relative tran3s mb-[60px]  lg:mb-[50px] md:mb-[50px] sm:mb-[50px] xsm:mb-[50px] border w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[75px_40px_50px_60px] lg:p-[50px_15px_25px_20px] md:p-[50px_15px_25px_20px] sm:p-[50px_15px_25px_20px] xsm:p-[50px_15px_25px_20px] border-solid border-black before:content-[''] before:absolute before:w-full before:h-full before:border before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:border-solid before:border-black before:left-2 before:top-2 hover:border-[color:var(--prime-ten)] hover:before:border-[color:var(--prime-ten)] wow fadeInUp">
                            <div><a href="blog-details.html"
                                    class="tag uppercase font-medium tran3s text-[12px] sm:text-[11px] xsm:text-[11px] tracking-[1px] border text-black px-[11px] py-[3px] border-solid border-black hover:text-white hover:bg-black">Design</a>
                            </div>
                            <div
                                class="post-data mt-[30px]  mb-[100px]  lg:mb-[50px] md:mb-[50px] sm:mb-[50px] xsm:mb-[50px] ">
                                <a href="blog-details.html">
                                    <h4
                                        class="tran3s blog-title text-[36px] lg:text-[22px] md:text-[22px] sm:text-[22px] xsm:text-[22px] leading-[1.416em] hover:text-black hover:underline">
                                        Until recently, the prevailing view assumed lorem ipsum was..</h4>
                                </a>
                            </div>
                            <div class="blog-footer flex items-center justify-between mt-auto">
                                <div class="blog-date font-medium  text-black ">Featured - <a href="blog-details.html"
                                        class="font-normal tran3s hover:text-black hover:underline">18 Jul 2023</a>
                                </div>
                                <a href="blog-details.html"
                                    class="read-more tran3s w-[45px] h-[45px] text-center leading-[45px] text-white text-[24px] bg-black hover:bg-[var(--prime-ten)]"><i
                                        class="bi bi-arrow-up-right"></i></a>
                            </div> <!-- /.blog-footer -->
                        </article> <!-- /.blog-meta-five -->
                    </div>
                    <div class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full flex">
                        <article
                            class="blog-meta-five flex flex-col relative tran3s mb-[60px]  lg:mb-[50px] md:mb-[50px] sm:mb-[50px] xsm:mb-[50px] border w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[75px_40px_50px_60px] lg:p-[50px_15px_25px_20px] md:p-[50px_15px_25px_20px] sm:p-[50px_15px_25px_20px] xsm:p-[50px_15px_25px_20px] border-solid border-black before:content-[''] before:absolute before:w-full before:h-full before:border before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:border-solid before:border-black before:left-2 before:top-2 hover:border-[color:var(--prime-ten)] hover:before:border-[color:var(--prime-ten)] wow fadeInUp"
                            data-wow-delay="0.2s">
                            <div><a href="blog-details.html"
                                    class="tag uppercase font-medium tran3s text-[12px] sm:text-[11px] xsm:text-[11px] tracking-[1px] border text-black px-[11px] py-[3px] border-solid border-black hover:text-white hover:bg-black">Development</a>
                            </div>
                            <div
                                class="post-data mt-[30px]  mb-[100px]  lg:mb-[50px] md:mb-[50px] sm:mb-[50px] xsm:mb-[50px] ">
                                <a href="blog-details.html">
                                    <h4
                                        class="tran3s blog-title text-[36px] lg:text-[22px] md:text-[22px] sm:text-[22px] xsm:text-[22px] leading-[1.416em] hover:text-black hover:underline">
                                        Print, publishing qui visual ux quis layout mockups.</h4>
                                </a>
                            </div>
                            <div class="blog-footer flex items-center justify-between mt-auto">
                                <div class="blog-date font-medium  text-black ">Created on - <a href="blog-details.html"
                                        class="font-normal tran3s hover:text-black hover:underline">18 Jul 2023</a>
                                </div>
                                <a href="blog-details.html"
                                    class="read-more tran3s w-[45px] h-[45px] text-center leading-[45px] text-white text-[24px] bg-black hover:bg-[var(--prime-ten)]"><i
                                        class="bi bi-arrow-up-right"></i></a>
                            </div> <!-- /.blog-footer -->
                        </article> <!-- /.blog-meta-five -->
                    </div>
                    <div class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full flex">
                        <article
                            class="blog-meta-five flex flex-col relative tran3s mb-[60px]  lg:mb-[50px] md:mb-[50px] sm:mb-[50px] xsm:mb-[50px] border w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[75px_40px_50px_60px] lg:p-[50px_15px_25px_20px] md:p-[50px_15px_25px_20px] sm:p-[50px_15px_25px_20px] xsm:p-[50px_15px_25px_20px] border-solid border-black before:content-[''] before:absolute before:w-full before:h-full before:border before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:border-solid before:border-black before:left-2 before:top-2 hover:border-[color:var(--prime-ten)] hover:before:border-[color:var(--prime-ten)] wow fadeInUp">
                            <div><a href="blog-details.html"
                                    class="tag uppercase font-medium tran3s text-[12px] sm:text-[11px] xsm:text-[11px] tracking-[1px] border text-black px-[11px] py-[3px] border-solid border-black hover:text-white hover:bg-black">Design</a>
                            </div>
                            <div
                                class="post-data mt-[30px]  mb-[100px]  lg:mb-[50px] md:mb-[50px] sm:mb-[50px] xsm:mb-[50px] ">
                                <a href="blog-details.html">
                                    <h4
                                        class="tran3s blog-title text-[36px] lg:text-[22px] md:text-[22px] sm:text-[22px] xsm:text-[22px] leading-[1.416em] hover:text-black hover:underline">
                                        Until recently, the prevailing view assumed lorem ipsum was..</h4>
                                </a>
                            </div>
                            <div class="blog-footer flex items-center justify-between mt-auto">
                                <div class="blog-date font-medium  text-black ">Featured - <a href="blog-details.html"
                                        class="font-normal tran3s hover:text-black hover:underline">18 Jul 2023</a>
                                </div>
                                <a href="blog-details.html"
                                    class="read-more tran3s w-[45px] h-[45px] text-center leading-[45px] text-white text-[24px] bg-black hover:bg-[var(--prime-ten)]"><i
                                        class="bi bi-arrow-up-right"></i></a>
                            </div> <!-- /.blog-footer -->
                        </article> <!-- /.blog-meta-five -->
                    </div>
                    <div class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full flex">
                        <article
                            class="blog-meta-five flex flex-col relative tran3s mb-[60px]  lg:mb-[50px] md:mb-[50px] sm:mb-[50px] xsm:mb-[50px] border w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[75px_40px_50px_60px] lg:p-[50px_15px_25px_20px] md:p-[50px_15px_25px_20px] sm:p-[50px_15px_25px_20px] xsm:p-[50px_15px_25px_20px] border-solid border-black before:content-[''] before:absolute before:w-full before:h-full before:border before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:border-solid before:border-black before:left-2 before:top-2 hover:border-[color:var(--prime-ten)] hover:before:border-[color:var(--prime-ten)] wow fadeInUp"
                            data-wow-delay="0.2s">
                            <div><a href="blog-details.html"
                                    class="tag uppercase font-medium tran3s text-[12px] sm:text-[11px] xsm:text-[11px] tracking-[1px] border text-black px-[11px] py-[3px] border-solid border-black hover:text-white hover:bg-black">Development</a>
                            </div>
                            <div
                                class="post-data mt-[30px]  mb-[100px]  lg:mb-[50px] md:mb-[50px] sm:mb-[50px] xsm:mb-[50px] ">
                                <a href="blog-details.html">
                                    <h4
                                        class="tran3s blog-title text-[36px] lg:text-[22px] md:text-[22px] sm:text-[22px] xsm:text-[22px] leading-[1.416em] hover:text-black hover:underline">
                                        Print, publishing qui visual ux quis layout mockups.</h4>
                                </a>
                            </div>
                            <div class="blog-footer flex items-center justify-between mt-auto">
                                <div class="blog-date font-medium  text-black ">Created on - <a href="blog-details.html"
                                        class="font-normal tran3s hover:text-black hover:underline">18 Jul 2023</a>
                                </div>
                                <a href="blog-details.html"
                                    class="read-more tran3s w-[45px] h-[45px] text-center leading-[45px] text-white text-[24px] bg-black hover:bg-[var(--prime-ten)]"><i
                                        class="bi bi-arrow-up-right"></i></a>
                            </div> <!-- /.blog-footer -->
                        </article> <!-- /.blog-meta-five -->
                    </div>
                    <div class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full flex">
                        <article
                            class="blog-meta-five flex flex-col relative tran3s mb-[60px]  lg:mb-[50px] md:mb-[50px] sm:mb-[50px] xsm:mb-[50px] border w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[75px_40px_50px_60px] lg:p-[50px_15px_25px_20px] md:p-[50px_15px_25px_20px] sm:p-[50px_15px_25px_20px] xsm:p-[50px_15px_25px_20px] border-solid border-black before:content-[''] before:absolute before:w-full before:h-full before:border before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:border-solid before:border-black before:left-2 before:top-2 hover:border-[color:var(--prime-ten)] hover:before:border-[color:var(--prime-ten)] wow fadeInUp">
                            <div><a href="blog-details.html"
                                    class="tag uppercase font-medium tran3s text-[12px] sm:text-[11px] xsm:text-[11px] tracking-[1px] border text-black px-[11px] py-[3px] border-solid border-black hover:text-white hover:bg-black">Design</a>
                            </div>
                            <div
                                class="post-data mt-[30px]  mb-[100px]  lg:mb-[50px] md:mb-[50px] sm:mb-[50px] xsm:mb-[50px] ">
                                <a href="blog-details.html">
                                    <h4
                                        class="tran3s blog-title text-[36px] lg:text-[22px] md:text-[22px] sm:text-[22px] xsm:text-[22px] leading-[1.416em] hover:text-black hover:underline">
                                        Until recently, the prevailing view assumed lorem ipsum was..</h4>
                                </a>
                            </div>
                            <div class="blog-footer flex items-center justify-between mt-auto">
                                <div class="blog-date font-medium  text-black ">Featured - <a href="blog-details.html"
                                        class="font-normal tran3s hover:text-black hover:underline">18 Jul 2023</a>
                                </div>
                                <a href="blog-details.html"
                                    class="read-more tran3s w-[45px] h-[45px] text-center leading-[45px] text-white text-[24px] bg-black hover:bg-[var(--prime-ten)]"><i
                                        class="bi bi-arrow-up-right"></i></a>
                            </div> <!-- /.blog-footer -->
                        </article> <!-- /.blog-meta-five -->
                    </div>
                    <div class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full flex">
                        <article
                            class="blog-meta-five flex flex-col relative tran3s mb-[60px]  lg:mb-[50px] md:mb-[50px] sm:mb-[50px] xsm:mb-[50px] border w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[75px_40px_50px_60px] lg:p-[50px_15px_25px_20px] md:p-[50px_15px_25px_20px] sm:p-[50px_15px_25px_20px] xsm:p-[50px_15px_25px_20px] border-solid border-black before:content-[''] before:absolute before:w-full before:h-full before:border before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:border-solid before:border-black before:left-2 before:top-2 hover:border-[color:var(--prime-ten)] hover:before:border-[color:var(--prime-ten)] wow fadeInUp"
                            data-wow-delay="0.2s">
                            <div><a href="blog-details.html"
                                    class="tag uppercase font-medium tran3s text-[12px] sm:text-[11px] xsm:text-[11px] tracking-[1px] border text-black px-[11px] py-[3px] border-solid border-black hover:text-white hover:bg-black">Development</a>
                            </div>
                            <div
                                class="post-data mt-[30px]  mb-[100px]  lg:mb-[50px] md:mb-[50px] sm:mb-[50px] xsm:mb-[50px] ">
                                <a href="blog-details.html">
                                    <h4
                                        class="tran3s blog-title text-[36px] lg:text-[22px] md:text-[22px] sm:text-[22px] xsm:text-[22px] leading-[1.416em] hover:text-black hover:underline">
                                        Print, publishing qui visual ux quis layout mockups.</h4>
                                </a>
                            </div>
                            <div class="blog-footer flex items-center justify-between mt-auto">
                                <div class="blog-date font-medium  text-black ">Created on - <a href="blog-details.html"
                                        class="font-normal tran3s hover:text-black hover:underline">18 Jul 2023</a>
                                </div>
                                <a href="blog-details.html"
                                    class="read-more tran3s w-[45px] h-[45px] text-center leading-[45px] text-white text-[24px] bg-black hover:bg-[var(--prime-ten)]"><i
                                        class="bi bi-arrow-up-right"></i></a>
                            </div> <!-- /.blog-footer -->
                        </article> <!-- /.blog-meta-five -->
                    </div>
                </div>

                <div class="page-pagination-one pt-[50px] lg:pt-[30px] md:pt-[30px] sm:pt-[30px] xsm:pt-[30px] ">
                    <ul class="flex items-center justify-center mb-0 pl-0 list-none ">
                        <li
                            class=" group font-medium text-[20px] text-[#3E3E3E] mr-[22px] lg:text-[18px] lg:mr-[18px] md:text-[18px] md:mr-[18px] sm:text-[18px] sm:mr-[18px] xsm:text-[18px] xsm:mr-[18px] active">
                            <a class=" transition-all duration-[0.3s] ease-[ease]  text-[color:var(--prime-ten)]"
                                href="#">1</a>
                        </li>
                        <li
                            class=" group font-medium text-[20px] text-[#3E3E3E] mr-[22px] lg:text-[18px] lg:mr-[18px] md:text-[18px] md:mr-[18px] sm:text-[18px] sm:mr-[18px] xsm:text-[18px] xsm:mr-[18px]">
                            <a class=" transition-all duration-[0.3s] ease-[ease] group-hover:text-[color:var(--prime-ten)]"
                                href="#">2</a>
                        </li>
                        <li
                            class=" group font-medium text-[20px] text-[#3E3E3E] mr-[22px] lg:text-[18px] lg:mr-[18px] md:text-[18px] md:mr-[18px] sm:text-[18px] sm:mr-[18px] xsm:text-[18px] xsm:mr-[18px]">
                            <a class=" transition-all duration-[0.3s] ease-[ease] group-hover:text-[color:var(--prime-ten)]"
                                href="#">3</a>
                        </li>
                        <li
                            class=" group font-medium text-[20px] text-[#3E3E3E] mr-[22px] lg:text-[18px] lg:mr-[18px] md:text-[18px] md:mr-[18px] sm:text-[18px] sm:mr-[18px] xsm:text-[18px] xsm:mr-[18px]">
                            <a class=" transition-all duration-[0.3s] ease-[ease] group-hover:text-[color:var(--prime-ten)]"
                                href="#">4</a>
                        </li>
                        <li
                            class=" font-medium text-[20px] text-[#3E3E3E] mr-[22px] lg:text-[18px] lg:mr-[18px] md:text-[18px] md:mr-[18px] sm:text-[18px] sm:mr-[18px] xsm:text-[18px] xsm:mr-[18px]">
                            ...</li>
                        <li
                            class=" group font-medium text-[20px] text-[#3E3E3E] mr-[22px] lg:text-[18px] lg:mr-[18px] md:text-[18px] md:mr-[18px] sm:text-[18px] sm:mr-[18px] xsm:text-[18px] xsm:mr-[18px]">
                            <a class=" transition-all duration-[0.3s] ease-[ease] group-hover:text-[color:var(--prime-ten)] text-[18px]"
                                href="#">Last</a>
                        </li>
                        <li
                            class=" group font-medium mr-[22px] text-[28px] lg:text-[18px] lg:mr-[18px] md:text-[18px] md:mr-[18px] sm:text-[18px] sm:mr-[18px] xsm:text-[18px] xsm:mr-[18px] arrow text-black">
                            <a class=" transition-all duration-[0.3s] ease-[ease] group-hover:text-[color:var(--prime-ten)]"
                                href="#"><i class="bi bi-arrow-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- /.blog-section-five -->

</div> <!-- /.main-page-wrapper -->