<div class="pricing-section-four pt-[170px] lg:pt-[100px] md:pt-[100px] sm:pt-[100px] xsm:pt-[100px] ">
    <div class="container">
        <div class="flex flex-wrap mx-[-12px]">
            <div
                class="xxl:w-10/12 xl:w-9/12 lg:w-9/12 md:w-9/12 w-full flex-[0_0_auto] px-[12px] max-w-full m-auto">
                <div class="title-style-seven text-center wow fadeInUp">
                    <h2
                        class="main-title font-bold text-black text-[68px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
                        Solo, Agency or Team? We’ve got you <span class="relative inline-block">covered <img
                                class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
                                src="assets/images/shape/shape_96.svg" alt=""></span></h2>
                </div> <!-- /.title-style-seven -->
            </div>
        </div>
    </div>
    <div
        class="wrapper pricing-table-area-four m-auto pt-20 lg:pt-[30px] md:pt-[30px] sm:pt-[30px] xsm:pt-[30px]  max-w-[1744px] px-3 lg:max-w-[900px] md:max-w-[800px] sm:max-w-[800px] xsm:max-w-[800px]">
        <div class="flex flex-wrap mx-[-12px]">
            <div class="xl:w-3/12 lg:w-6/12 md:w-6/12 sm:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
                <div
                    class="pr-table-wrapper wow fadeInUp border relative z-[1] text-center transition-all duration-[0.3s] ease-[ease-in-out] mt-10 p-[30px_35px_40px] border-solid border-[#E3E3E3] before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:opacity-0 before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:border-2 before:border-solid before:border-black before:left-0 before:top-0 2xl:p-[25px_15px_30px] lg:p-[25px_15px_30px] md:p-[25px_15px_30px] sm:p-[25px_15px_30px] xsm:p-[25px_15px_30px] hover:before:opacity-100">
                    <div
                        class="pack-name font-medium text-black text-[28px] lg:text-[24px] md:text-[24px] sm:text-[24px] xsm:text-[24px]">
                        Shared</div>
                    <div
                        class="pack-details uppercase text-[14px] text-[#878787] tracking-[2px] p-[5px_0_35px] lg:text-[12px] md:text-[12px] sm:text-[12px] xsm:text-[12px] ">
                        For individuals and teamS</div>
                    <div class="top-banner items-center xl:flex lg:flex md:flex text-black text-left p-[9px_5px_10px_25px] 2xl:p-[8px_10px] lg:p-[8px_10px] md:p-[8px_10px] sm:p-[8px_10px] xsm:p-[8px_10px] sm:text-center xsm:text-center"
                        style="background:#FFF7EB;">
                        <div
                            class="price font-medium text-[40px] p-[0_22px_0_0] sm:text-[30px] sm:p-0 xsm:text-[30px] xsm:p-0">
                            <sup
                                class=" text-[20px] top-[-13px] -left-1 sm:text-[16px] sm:-top-2 xsm:text-[16px] xsm:-top-2">$</sup>8
                        </div>
                        <div>
                            <span
                                class=" text-[22px] 2xl:text-[20px] lg:text-[20px] md:text-[20px] sm:text-[18px] xsm:text-[18px] ">Per
                                editor, monthly</span>
                            <em class="block text-[14px] not-italic -mt-0.5">$3.99/mo when you renew</em>
                        </div>
                    </div> <!-- /.top-banner -->
                    <ul
                        class="pr-feature mb-0 pl-0 list-none text-left p-[50px_0_57px_23px] sm:p-[30px_0_35px_15px] xsm:p-[30px_0_35px_15px]">
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            Unlimited Email</li>
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            5gb Hosting </li>
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            2 website 3 sub domain</li>
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            Email & Live chat</li>
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            Backling</li>
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            Discount Programe</li>
                    </ul>
                    <a href="#"
                        class="trial-button block text-[16px] sm:text-[15px] xsm:text-[15px] font-medium text-black leading-[52px] transition-all duration-[0.3s] ease-[ease-in-out] border-2 border-solid border-black hover:text-white hover:bg-black">Start
                        30 days free trial</a>
                    <div class="trial-text pt-[25px] text-[rgba(0,0,0,0.5)]">No card required, cancel any time
                    </div>
                </div> <!-- /.pr-table-wrapper -->
            </div>
            <div class="xl:w-3/12 lg:w-6/12 md:w-6/12 sm:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
                <div class="pr-table-wrapper wow fadeInUp border relative z-[1] text-center transition-all duration-[0.3s] ease-[ease-in-out] mt-10 p-[30px_35px_40px] border-solid border-[#E3E3E3] before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:opacity-100 before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:border-2 before:border-solid before:border-black before:left-0 before:top-0 2xl:p-[25px_15px_30px] lg:p-[25px_15px_30px] md:p-[25px_15px_30px] sm:p-[25px_15px_30px] xsm:p-[25px_15px_30px]"
                    data-wow-delay="0.2s">
                    <div
                        class="pack-name font-medium text-black text-[28px] lg:text-[24px] md:text-[24px] sm:text-[24px] xsm:text-[24px]">
                        WordPress</div>
                    <div
                        class="pack-details uppercase text-[14px] text-[#878787] tracking-[2px] p-[5px_0_35px] lg:text-[12px] md:text-[12px] sm:text-[12px] xsm:text-[12px] ">
                        For individuals and teamS</div>
                    <div class="top-banner items-center xl:flex lg:flex md:flex text-black text-left p-[9px_5px_10px_25px] 2xl:p-[8px_10px] lg:p-[8px_10px] md:p-[8px_10px] sm:p-[8px_10px] xsm:p-[8px_10px] sm:text-center xsm:text-center"
                        style="background:#E2F2FD;">
                        <div
                            class="price font-medium text-[40px] p-[0_22px_0_0] sm:text-[30px] sm:p-0 xsm:text-[30px] xsm:p-0">
                            <sup
                                class=" text-[20px] top-[-13px] -left-1 sm:text-[16px] sm:-top-2 xsm:text-[16px] xsm:-top-2">$</sup>12
                        </div>
                        <div>
                            <span
                                class=" text-[22px] 2xl:text-[20px] lg:text-[20px] md:text-[20px] sm:text-[18px] xsm:text-[18px] ">For
                                team, monthly</span>
                            <em class="block text-[14px] not-italic -mt-0.5">$3.99/mo when you renew</em>
                        </div>
                    </div> <!-- /.top-banner -->
                    <ul
                        class="pr-feature mb-0 pl-0 list-none text-left p-[50px_0_57px_23px] sm:p-[30px_0_35px_15px] xsm:p-[30px_0_35px_15px]">
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            Unlimited Email</li>
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            5gb Hosting </li>
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            2 website 3 sub domain</li>
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            Email & Live chat</li>
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            Backling</li>
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            Discount Programe</li>
                    </ul>
                    <a href="#"
                        class="btn-fourteen font-medium tran3s w-full leading-[56px] text-[16px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)]">Start
                        30 days free trial</a>
                    <div class="trial-text pt-[25px] text-[rgba(0,0,0,0.5)]">No card required, cancel any time
                    </div>
                </div> <!-- /.pr-table-wrapper -->
            </div>
            <div class="xl:w-3/12 lg:w-6/12 md:w-6/12 sm:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
                <div class="pr-table-wrapper wow fadeInUp border relative z-[1] text-center transition-all duration-[0.3s] ease-[ease-in-out] mt-10 p-[30px_35px_40px] border-solid border-[#E3E3E3] before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:opacity-0 before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:border-2 before:border-solid before:border-black before:left-0 before:top-0 2xl:p-[25px_15px_30px] lg:p-[25px_15px_30px] md:p-[25px_15px_30px] sm:p-[25px_15px_30px] xsm:p-[25px_15px_30px] hover:before:opacity-100"
                    data-wow-delay="0.3s">
                    <div
                        class="pack-name font-medium text-black text-[28px] lg:text-[24px] md:text-[24px] sm:text-[24px] xsm:text-[24px]">
                        VPS</div>
                    <div
                        class="pack-details uppercase text-[14px] text-[#878787] tracking-[2px] p-[5px_0_35px] lg:text-[12px] md:text-[12px] sm:text-[12px] xsm:text-[12px] ">
                        For individuals and teamS</div>
                    <div class="top-banner items-center xl:flex lg:flex md:flex text-black text-left p-[9px_5px_10px_25px] 2xl:p-[8px_10px] lg:p-[8px_10px] md:p-[8px_10px] sm:p-[8px_10px] xsm:p-[8px_10px] sm:text-center xsm:text-center"
                        style="background:#FFEBEB;">
                        <div
                            class="price font-medium text-[40px] p-[0_22px_0_0] sm:text-[30px] sm:p-0 xsm:text-[30px] xsm:p-0">
                            <sup
                                class=" text-[20px] top-[-13px] -left-1 sm:text-[16px] sm:-top-2 xsm:text-[16px] xsm:-top-2">$</sup>37
                        </div>
                        <div>
                            <span
                                class=" text-[22px] 2xl:text-[20px] lg:text-[20px] md:text-[20px] sm:text-[18px] xsm:text-[18px] ">All
                                users, monthly</span>
                            <em class="block text-[14px] not-italic -mt-0.5">$3.99/mo when you renew</em>
                        </div>
                    </div> <!-- /.top-banner -->
                    <ul
                        class="pr-feature mb-0 pl-0 list-none text-left p-[50px_0_57px_23px] sm:p-[30px_0_35px_15px] xsm:p-[30px_0_35px_15px]">
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            Unlimited Email</li>
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            5gb Hosting </li>
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            2 website 3 sub domain</li>
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            Email & Live chat</li>
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            Backling</li>
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            Discount Programe</li>
                    </ul>
                    <a href="#"
                        class="trial-button block text-[16px] sm:text-[15px] xsm:text-[15px] font-medium text-black leading-[52px] transition-all duration-[0.3s] ease-[ease-in-out] border-2 border-solid border-black hover:text-white hover:bg-black">Start
                        30 days free trial</a>
                    <div class="trial-text pt-[25px] text-[rgba(0,0,0,0.5)]">No card required, cancel any time
                    </div>
                </div> <!-- /.pr-table-wrapper -->
            </div>
            <div class="xl:w-3/12 lg:w-6/12 md:w-6/12 sm:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
                <div class="pr-table-wrapper wow fadeInUp border relative z-[1] text-center transition-all duration-[0.3s] ease-[ease-in-out] mt-10 p-[30px_35px_40px] border-solid border-[#E3E3E3] before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:opacity-0 before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:border-2 before:border-solid before:border-black before:left-0 before:top-0 2xl:p-[25px_15px_30px] lg:p-[25px_15px_30px] md:p-[25px_15px_30px] sm:p-[25px_15px_30px] xsm:p-[25px_15px_30px] hover:before:opacity-100"
                    data-wow-delay="0.4s">
                    <div
                        class="pack-name font-medium text-black text-[28px] lg:text-[24px] md:text-[24px] sm:text-[24px] xsm:text-[24px]">
                        Dedicated</div>
                    <div
                        class="pack-details uppercase text-[14px] text-[#878787] tracking-[2px] p-[5px_0_35px] lg:text-[12px] md:text-[12px] sm:text-[12px] xsm:text-[12px] ">
                        For individuals and teamS</div>
                    <div class="top-banner items-center xl:flex lg:flex md:flex text-black text-left p-[9px_5px_10px_25px] 2xl:p-[8px_10px] lg:p-[8px_10px] md:p-[8px_10px] sm:p-[8px_10px] xsm:p-[8px_10px] sm:text-center xsm:text-center"
                        style="background:#E4F4F1;">
                        <div
                            class="price font-medium text-[40px] p-[0_22px_0_0] sm:text-[30px] sm:p-0 xsm:text-[30px] xsm:p-0">
                            <sup
                                class=" text-[20px] top-[-13px] -left-1 sm:text-[16px] sm:-top-2 xsm:text-[16px] xsm:-top-2">$</sup>79
                        </div>
                        <div>
                            <span
                                class=" text-[22px] 2xl:text-[20px] lg:text-[20px] md:text-[20px] sm:text-[18px] xsm:text-[18px] ">All
                                users, monthly</span>
                            <em class="block text-[14px] not-italic -mt-0.5">$3.99/mo when you renew</em>
                        </div>
                    </div> <!-- /.top-banner -->
                    <ul
                        class="pr-feature mb-0 pl-0 list-none text-left p-[50px_0_57px_23px] sm:p-[30px_0_35px_15px] xsm:p-[30px_0_35px_15px]">
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            Unlimited Email</li>
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            5gb Hosting </li>
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            2 website 3 sub domain</li>
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            Email & Live chat</li>
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            Backling</li>
                        <li
                            class=" text-[18px] relative leading-[42px] text-[rgba(0,0,0,0.7)] pl-[30px] before:content-['\f633'] before:text-[13px] before:absolute before:text-black before:left-0 before:top-[3px] before:!font-Bootstrap sm:text-[16px] sm:leading-10 xsm:text-[16px] xsm:leading-10">
                            Discount Programe</li>
                    </ul>
                    <a href="#"
                        class="trial-button block text-[16px] sm:text-[15px] xsm:text-[15px] font-medium text-black leading-[52px] transition-all duration-[0.3s] ease-[ease-in-out] border-2 border-solid border-black hover:text-white hover:bg-black">Start
                        30 days free trial</a>
                    <div class="trial-text pt-[25px] text-[rgba(0,0,0,0.5)]">No card required, cancel any time
                    </div>
                </div> <!-- /.pr-table-wrapper -->
            </div>
        </div>
    </div> <!-- /.pricing-table-area-four -->
    <div class="container">
        <div class="text-center mt-[100px] lg:mt-[50px] wow fadeInUp">
            <div
                class="inline-block consult-text text-[18px] leading-[1.67em] font-medium text-black p-[5px_25px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] rounded-[30px] bg-[#F2F2F2]">
                Not sure which website hosting plan is right for you? We can help. <a href="contact-us-v3.html"
                    class="font-normal underline hover:underline hover:text-[#0d6efd]">Free Consultation</a>
            </div>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.pricing-section-four -->