<div class="main-page-wrapper overflow-x-hidden">
    <div class="inner-banner-three text-center p-[30px] 2xl:p-5 lg:p-0 md:p-0 sm:p-0 xsm:p-0">
        <div
            class="bg-wrapper text-center bg-cover relative z-[1] p-[150px_0_108px] md:p-[120px_0_50px] sm:p-[120px_0_50px] xsm:p-[120px_0_50px] bg-[url(../images/assets/bg-16.svg)] bg-no-repeat bg-[top_center]">
            <div class="container">
                <div class="title-style-five">
                    <h4
                        class="main-title font-bold text-black text-[68px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
                        Transparent and Value-Driven <span class="relative inline-block"> Pricing for Your Success <img
                                class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
                                src="assets/images/shape/shape_96.svg" alt=""></span></h4>
                </div>
                <p
                    class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] mt-[30px] lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5 ">
                    Our subscription model is simple and risk-free, ensuring you get access to high-value opportunities
                    in the UK market.</p>
            </div>
        </div>
        <div class="text-center wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
            <a routerLink="/partner-with-us"
                class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Partner
                With Us Today</a>
        </div>
    </div>

    <div class="hosting-compare-table mt-[150px] lg:mt-[100px] md:mt-[100px] sm:mt-[100px] xsm:mt-[100px] ">
        <div class="container">
            <div class="flex flex-wrap mx-[-12px]">
                <div
                    class="xxl:w-9/12 xl:w-9/12 lg:w-9/12 md:w-9/12 w-full flex-[0_0_auto] px-[12px] max-w-full m-auto">
                    <div class="title-style-seven text-center wow fadeInUp">
                        <h4
                            class="main-title font-bold text-black text-[68px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
                            Our Subscription<span class="relative inline-block"> Model: Clear , Affordable , <img
                                    class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
                                    src="assets/images/shape/shape_96.svg" alt=""></span> and Risk-Free </h4>
                        <h4
                            class="main-title font-bold text-black text-[68px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
                            <span class="relative inline-block"><img
                                    class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
                                    src="assets/images/shape/shape_96.svg" alt=""></span>
                        </h4>
                    </div>
                    <p
                        class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] mt-[30px] lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5 ">
                        At WestGate IT Hub, we believe in offering a straightforward and transparent pricing structure.
                        Our annual subscription is designed to provide you with all the tools and support you need to
                        succeed in the UK market. With our guaranteed project opportunities, you can be confident that
                        the value you receive far exceeds the cost of the subscription.</p>
                </div>
            </div>
        </div>
        <div class="fancy-feature-two relative pt-[150px] lg:pt-[90px] md:pt-[90px] sm:pt-[90px] xsm:pt-[90px]">
            <div class="container">
                <div class="flex flex-wrap mx-[-12px] items-center">
                    <div
                        class="xl:w-5/12 lg:w-5/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto xl:order-last lg:order-last md:order-last">
                        <div class="block-style-one wow fadeInRight">
                            <div class="title-style-one">

                                <h2
                                    class="main-title 2xl:text-[54px] md:text-[35px] sm:text-[35px] xsm:text-[35px] font-bold text-black !m-0">
                                    What You Get with Our Annual<span
                                        class=" inline-block relative z-[1] before:content-[''] before:absolute before:w-[98%] before:h-3 before:z-[-1] before:left-1 before:bottom-2.5 before:bg-[rgba(255,139,37,0.4)]">Subscription</span>
                                </h2>
                            </div>
                            <p class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] ">
                                For an annual fee, you get access to our full suite of services and a guarantee of at
                                least one project or more within 12 months.</p>
                            <ul
                                class="text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
                                <li><span class="font-medium text-black">Market Research & Opportunity Identification :
                                    </span>We research and identify the right business opportunities for your company in
                                    the UK, ensuring a perfect match with your skills and capabilities.</li>
                                <li><span class="font-medium text-black">Proposal Writing & Business Development :
                                    </span>Our team helps you write compelling proposals and handle client negotiations
                                    to ensure successful project acquisition.</li>
                                <li><span class="font-medium text-black">Client Management & Support : </span>We take
                                    care of client communications and project management, ensuring smooth delivery and
                                    long-term relationships.</li>
                                <li><span class="font-medium text-black">Resource Sharing : </span>We connect you with
                                    skilled IT professionals from India to meet the demands of UK clients.</li>
                                <li><span class="font-medium text-black">Project Guarantee : </span>If we do not secure
                                    at least one project within 12 months, we will refund your entire subscription fee
                                </li>
                            </ul><br />
                            <a routerLink="/partner-with-us"
                                class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Register
                                Your Company Today </a>
                        </div>
                    </div>
                    <div
                        class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-first lg:order-first md:order-first wow fadeInLeft">
                        <div
                            class="img-meta inline-block relative !pl-[1rem] xl:!pl-[3rem] lg:!pl-[3rem] pb-[50px] sm:mt-[90px] xsm:mt-[90px] ">
                            <img src="assets/images/lazy.svg" src="assets/images/media/img_01.jpg" alt=""
                                class="lazy-img">
                            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_09.svg" alt=""
                                class="lazy-img shapes shape-one absolute top-[-9%] left-[-3%] z-0 w-[24%] animate-[jumpTwo_3.5s_infinite_linear]">
                            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_10.svg" alt=""
                                class="lazy-img shapes shape-two absolute z-[-1] top-[-10%] left-[64%]">
                            <div
                                class="shapes shape-three absolute w-[57px] h-[57px] rotate-[15deg] right-[-5%] z-0 animate-[rotated_28s_infinite_linear] rounded-[13px] top-[10%] bg-[#FF8C24]">
                            </div>
                            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_11.svg" alt=""
                                class="lazy-img shapes shape-four absolute z-[-1] right-[-11%] top-[52%]">
                            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_12.svg" alt=""
                                class="lazy-img shapes shape-five absolute z-[-1] left-[9%] bottom-[2%]">
                            <div
                                class="shapes shape-six absolute w-20 h-20 rotate-[-15deg] z-0 animate-[rotatedTwo_35s_infinite_linear] rounded-[15px] left-0 top-[44%] bg-[#17BD37]">
                            </div>
                            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_13.svg" alt=""
                                class="lazy-img shapes shape-seven absolute z-[-1] left-[-10%] animate-[jumpFour_3.5s_infinite_linear] top-1/4">
                            <div class="card-one absolute w-[330px] shadow-[0px_30px_60px_rgba(14,36,58,0.06)] right-[-17%] pl-[45px] pr-[15px] py-[25px] bottom-0 bg-white lg:p-[15px_15px_15px_30px] lg:w-[280px] md:p-[15px_15px_15px_30px] md:w-[280px] md:right-0 sm:p-[15px_15px_15px_30px] sm:w-[280px] sm:right-0 xsm:p-[15px_15px_15px_30px] xsm:w-[280px] xsm:right-0 wow fadeInUp"
                                data-wow-delay="0.25s">

                            </div>
                        </div>
                    </div>
                </div>
            </div><br />
        </div>
        <div class="container">
            <div class="flex flex-wrap mx-[-12px] items-center">
                <div
                    class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-last lg:order-last md:order-last wow fadeInLeft">
                    <div
                        class="img-meta inline-block relative !pl-[1rem] xl:!pl-[3rem] lg:!pl-[3rem] pb-[50px] sm:mt-[90px] xsm:mt-[90px]">
                        <img src="assets/images/lazy.svg" src="assets/images/media/img_01.jpg" alt="" class="lazy-img">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_09.svg" alt=""
                            class="lazy-img shapes shape-one absolute top-[-9%] left-[-3%] z-0 w-[24%] animate-[jumpTwo_3.5s_infinite_linear]">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_10.svg" alt=""
                            class="lazy-img shapes shape-two absolute z-[-1] top-[-10%] left-[64%]">
                        <div
                            class="shapes shape-three absolute w-[57px] h-[57px] rotate-[15deg] right-[-5%] z-0 animate-[rotated_28s_infinite_linear] rounded-[13px] top-[10%] bg-[#FF8C24]">
                        </div>
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_11.svg" alt=""
                            class="lazy-img shapes shape-four absolute z-[-1] right-[-11%] top-[52%]">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_12.svg" alt=""
                            class="lazy-img shapes shape-five absolute z-[-1] left-[9%] bottom-[2%]">
                        <div
                            class="shapes shape-six absolute w-20 h-20 rotate-[-15deg] z-0 animate-[rotatedTwo_35s_infinite_linear] rounded-[15px] left-0 top-[44%] bg-[#17BD37]">
                        </div>
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_13.svg" alt=""
                            class="lazy-img shapes shape-seven absolute z-[-1] left-[-10%] animate-[jumpFour_3.5s_infinite_linear] top-1/4">
                        <div class="card-one absolute w-[330px] shadow-[0px_30px_60px_rgba(14,36,58,0.06)] right-[-17%] pl-[45px] pr-[15px] py-[25px] bottom-0 bg-white lg:p-[15px_15px_15px_30px] lg:w-[280px] md:p-[15px_15px_15px_30px] md:w-[280px] md:right-0 sm:p-[15px_15px_15px_30px] sm:w-[280px] sm:right-0 xsm:p-[15px_15px_15px_30px] xsm:w-[280px] xsm:right-0 wow fadeInUp"
                            data-wow-delay="0.25s">
                        </div>
                    </div>
                </div>

                <div
                    class="xl:w-5/12 lg:w-5/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !mr-auto xl:order-first lg:order-first md:order-first">
                    <div class="block-style-one wow fadeInRight">
                        <div class="title-style-one">
                            <h2
                                class="main-title 2xl:text-[54px] md:text-[35px] sm:text-[35px] xsm:text-[35px] font-bold text-black !m-0">
                                Why Choose<span
                                    class="inline-block relative z-[1] before:content-[''] before:absolute before:w-[98%] before:h-3 before:z-[-1] before:left-1 before:bottom-2.5 before:bg-[rgba(255,139,37,0.4)]">
                                    WestGate IT Hub?</span>

                            </h2>
                        </div>
                        <p class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px]">
                            Our subscription model is designed to provide exceptional value to Indian IT companies
                            looking
                            to expand into the UK market. Here’s why our pricing makes sense for you.
                        </p>
                        <ul
                            class="text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
                            <li><span class="font-medium text-black">High-Value Opportunity :
                                </span>The guaranteed project ensures you receive substantial returns on your
                                investment.
                            </li>
                            <li><span class="font-medium text-black">Full Support :
                                </span>You get access to our full suite of services including market analysis, proposal
                                writing, client management, and resource sharing—all designed to secure projects and
                                grow
                                your business.</li>
                            <li><span class="font-medium text-black">Risk-Free : </span>Our refund policy ensures that
                                your
                                investment is safe, making this a risk-free decision for your business.</li>
                            <li><span class="font-medium text-black">Long-Term Value : </span>WestGate IT Hub is not
                                just a
                                short-term partnership. We aim to build long-lasting relationships and help you expand
                                your
                                reach in the UK market.</li>

                        </ul><br />
                    </div>
                </div>
            </div>
        </div><br />
        <div class="container">
            <div class="flex flex-wrap mx-[-12px] items-center">
                <div
                    class="xl:w-5/12 lg:w-5/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto xl:order-last lg:order-last md:order-last">
                    <div class="block-style-one wow fadeInRight">
                        <div class="title-style-one">

                            <h2
                                class="main-title 2xl:text-[54px] md:text-[35px] sm:text-[35px] xsm:text-[35px] font-bold text-black !m-0">
                                Our 100% Refund Guarantee – Your Success is <span
                                    class=" inline-block relative z-[1] before:content-[''] before:absolute before:w-[98%] before:h-3 before:z-[-1] before:left-1 before:bottom-2.5 before:bg-[rgba(255,139,37,0.4)]">Our
                                    Priority</span>
                            </h2>
                        </div>
                        <p class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] ">
                            We’re confident in the value we bring to your business. That’s why we offer a 100%
                            refund guarantee. If, within 12 months, you do not secure any projects, we’ll refund
                            your full subscription fee.</p>
                        <ul
                            class="text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
                            <li><span class="font-medium text-black">How It Works:
                                </span>Once you join WestGate IT Hub, we work tirelessly to identify and secure
                                projects for you.</li>
                            <li>If, after a year, you do not receive any projects, we will return your full
                                subscription fee</li>
                            <li>This risk-free guarantee ensures that your investment with us is always secure, and
                                you can focus on growing your business.</li>

                        </ul><br />
                        <a routerLink="/partner-with-us"
                            class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Join
                            Now – No Risk , All Reward </a>
                    </div>
                </div>
                <div
                    class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-first lg:order-first md:order-first wow fadeInLeft">
                    <div
                        class="img-meta inline-block relative !pl-[1rem] xl:!pl-[3rem] lg:!pl-[3rem] pb-[50px] sm:mt-[90px] xsm:mt-[90px] ">
                        <img src="assets/images/lazy.svg" src="assets/images/media/img_01.jpg" alt="" class="lazy-img">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_09.svg" alt=""
                            class="lazy-img shapes shape-one absolute top-[-9%] left-[-3%] z-0 w-[24%] animate-[jumpTwo_3.5s_infinite_linear]">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_10.svg" alt=""
                            class="lazy-img shapes shape-two absolute z-[-1] top-[-10%] left-[64%]">
                        <div
                            class="shapes shape-three absolute w-[57px] h-[57px] rotate-[15deg] right-[-5%] z-0 animate-[rotated_28s_infinite_linear] rounded-[13px] top-[10%] bg-[#FF8C24]">
                        </div>
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_11.svg" alt=""
                            class="lazy-img shapes shape-four absolute z-[-1] right-[-11%] top-[52%]">
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_12.svg" alt=""
                            class="lazy-img shapes shape-five absolute z-[-1] left-[9%] bottom-[2%]">
                        <div
                            class="shapes shape-six absolute w-20 h-20 rotate-[-15deg] z-0 animate-[rotatedTwo_35s_infinite_linear] rounded-[15px] left-0 top-[44%] bg-[#17BD37]">
                        </div>
                        <img src="assets/images/lazy.svg" src="assets/images/shape/shape_13.svg" alt=""
                            class="lazy-img shapes shape-seven absolute z-[-1] left-[-10%] animate-[jumpFour_3.5s_infinite_linear] top-1/4">
                        <div class="card-one absolute w-[330px] shadow-[0px_30px_60px_rgba(14,36,58,0.06)] right-[-17%] pl-[45px] pr-[15px] py-[25px] bottom-0 bg-white lg:p-[15px_15px_15px_30px] lg:w-[280px] md:p-[15px_15px_15px_30px] md:w-[280px] md:right-0 sm:p-[15px_15px_15px_30px] sm:w-[280px] sm:right-0 xsm:p-[15px_15px_15px_30px] xsm:w-[280px] xsm:right-0 wow fadeInUp"
                            data-wow-delay="0.25s">

                        </div>
                    </div>
                </div>
            </div>
        </div><br />
    </div>
    <div class="container">
        <div class="title-style-five">
            <h4
                class="main-title text-black font-bold text-[72px] leading-[1.25em] 2xl:text-[58px] lg:text-[50px] md:text-[35px] sm:text-[35px] xsm:text-[35px]">
                Ready to Expand Your Business in the UK?</h4>
        </div>
        <p
            class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] mt-[30px] lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5 ">
            With our transparent pricing, full support, and guaranteed project opportunities, WestGate IT Hub is the
            perfect partner for your business expansion. Join us today and get started on securing high-value projects
            in the UK market.</p>
    </div>
    <div class="text-center wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
        <a routerLink="/partner-with-us"
            class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Register
            Now and Start Your Journey </a>
    </div>

</div>