<div class="main-page-wrapper overflow-x-hidden">
    <div class="inner-banner-three text-center p-[30px] 2xl:p-5 lg:p-0 md:p-0 sm:p-0 xsm:p-0">
        <div
            class="bg-wrapper text-center bg-cover relative z-[1] p-[150px_0_108px] md:p-[120px_0_50px] sm:p-[120px_0_50px] xsm:p-[120px_0_50px] bg-[url(../images/assets/bg-16.svg)] bg-no-repeat bg-[top_center]">
            <div class="container">
                <div class="title-style-five">
                    <h4
                        class="main-title font-bold text-black text-[50px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
                        Transparent and Value-Driven <span class="relative inline-block"> Pricing for Your Success <img
                                class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
                                src="assets/images/shape/shape_96.svg" alt=""></span></h4>
                </div>
                <p
                    class="text-[18px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] mt-[30px] lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5 ">
                    Our subscription model is simple and risk-free, ensuring you get access to high-value opportunities
                    in the UK market.</p>
                    <a routerLink="/partner-with-us"
                class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Partner
                With Us Today</a>
            </div>
        </div>
    </div>

    <div class="hosting-compare-table mt-[0px] lg:mt-[0px] md:mt-[0px] sm:mt-[0px] xsm:mt-[0px] ">
        <div class="container">
            <div class="flex flex-wrap mx-[-12px]">
                <div
                    class="xxl:w-9/12 xl:w-9/12 lg:w-9/12 md:w-9/12 w-full flex-[0_0_auto] px-[12px] max-w-full m-auto">
                    <div class="title-style-seven text-center wow fadeInUp">
                        <h4
                            class="main-title font-bold text-black text-[50px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
                            Our Subscription<span class="relative inline-block"> Model: Clear , Affordable , <img
                                    class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
                                    src="assets/images/shape/shape_96.svg" alt=""></span> and Risk-Free </h4>
                        <h4
                            class="main-title font-bold text-black text-[50px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
                            <span class="relative inline-block"><img
                                    class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
                                    src="assets/images/shape/shape_96.svg" alt=""></span>
                        </h4>
                    </div>
                    <p
                        class="text-[18px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] mt-[30px] lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5 ">
                        At WestGate IT Hub, we believe in offering a straightforward and transparent pricing structure.
                        Our annual subscription is designed to provide you with all the tools and support you need to
                        succeed in the UK market. With our guaranteed project opportunities, you can be confident that
                        the value you receive far exceeds the cost of the subscription.</p>
                </div>
            </div>
        </div>

        <div class="fancy-feature-eleven relative mt-[30px] lg:mt-[30px] md:mt-[10px] sm:mt-[10px] xsm:mt-[10px] ">
            <div class="container">
                <div class="flex flex-wrap mx-[-12px] align-items-start align-items-xl-center">
                    <div class="xl:w-5/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInLeft">
                        <div class="title-style-four">
                            <!-- <div class="sc-title-two text-[15px] tracking-[3px] uppercase pb-[22px] lg:text-[14px] lg:pb-2.5 md:text-[14px] md:pb-2.5 sm:text-[14px] sm:pb-2.5 xsm:text-[14px] xsm:pb-2.5" style="color:#6A45FF;">Questions & Answers</div> -->
                            <h2 class="main-title font-medium text-black !m-0 tracking-[-1.5px]">What You Get<span
                                    class=" inline-block relative z-[1] before:content-[''] before:absolute before:w-[97%] before:h-3 before:opacity-50 before:z-[-1] before:left-[3px] before:bottom-[13px] before:bg-[#FF5BD7]">A
                                    with Our</span> Annual Subscription.</h2>
                        </div>
                        <!-- <div class="text-[15px] md:text-[14px] sm:text-[14px] xsm:text-[14px] font-medium pt-[70px] pb-[5px] lg:pt-10 md:pt-10 sm:pt-10 xsm:pt-10 " style="color:#6A45FF;">Confusion?</div> -->
                        <p
                            class=" text-[18px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] mb-[45px] ">
                            For an annual fee, you get access to our full suite of services and a guarantee of at
                            least one project or more within 12 months.</p>
                        <!-- <a href="contact-us.html" class="btn-seven text-white leading-[50px] relative transition-all duration-[0.3s] ease-[ease-in-out] p-[0_40px] rounded-[25px] bg-[#1B1B1B] hover:bg-[var(--prime-three)]">Contact us</a> -->
                    </div>

                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto wow fadeInRight">
                        <div class="accordion accordion-style-one md:mt-10 sm:mt-10 xsm:mt-10 " id="accordionOne">
                            <div
                                class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                                <div class="accordion-header" id="headingOne">
                                    <button
                                        class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="false" aria-controls="collapseOne">
                                        1. Market Research & Opportunity Identification :
                                    </button>
                                </div>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                    data-bs-parent="#accordionOne">
                                    <div
                                        class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                        <p
                                            class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            We research and identify the right business opportunities for your company
                                            in
                                            the UK, ensuring a perfect match with your skills and capabilities. </p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                                <div class="accordion-header" id="headingTwo">
                                    <button
                                        class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                        2. Proposal Writing & Business Development :
                                    </button>
                                </div>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionOne">
                                    <div
                                        class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                        <p
                                            class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            Our team helps you write compelling proposals and handle client negotiations
                                            to ensure successful project acquisition.</p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                                <div class="accordion-header" id="headingThree">
                                    <button
                                        class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                        aria-expanded="true" aria-controls="collapseThree">
                                        3. Client Management & Support :
                                    </button>
                                </div>
                                <div id="collapseThree" class="accordion-collapse collapse show"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionOne">
                                    <div
                                        class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                        <p
                                            class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            We take
                                            care of client communications and project management, ensuring smooth
                                            delivery and
                                            long-term relationships.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="accordion-item border mb-[25px] rounded-[10px] border-solid border- [#E9E9E9] bg-white ">
                                <div class="accordion-header" id="headingFour">
                                    <button
                                        class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                        aria-expanded="false" aria-controls="collapseFour">
                                        4. Resource Sharing :
                                    </button>
                                </div>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                    data-bs-parent="#accordionOne">
                                    <div
                                        class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                        <p
                                            class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            We connect you with
                                            skilled IT professionals from India to meet the demands of UK clients. </p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="accordion-item border mb-[25px] rounded-[10px] border-solid border- [#E9E9E9] bg-white ">
                                <div class="accordion-header" id="headingFive">
                                    <button
                                        class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                        aria-expanded="false" aria-controls="collapseFive">
                                        5. Project Guarantee :
                                    </button>
                                </div>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                    data-bs-parent="#accordionOne">
                                    <div
                                        class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                        <p
                                            class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            If we do not secure
                                            at least one project within 12 months, we will refund your entire
                                            subscription fee. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="text-left wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                            <a routerLink="/partner-with-us"
                                class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Register
                                Now and Get Started </a>
                        </div>
                    </div>
                </div>
            </div>
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_49.svg" alt=""
                class="lazy-img shapes shape-one absolute z-[-1] top-[-9%] animate-[jumpThree_3.5s_infinite_linear] left-[30%]">
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_50.svg" alt=""
                class="lazy-img shapes shape-two absolute z-[-1] animate-[jumpFour_3.5s_infinite_linear] left-[3%] top-[48%]">
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_51.svg" alt=""
                class="lazy-img shapes shape-three absolute z-[-1] bottom-[-10%] animate-[jumpTwo_3.5s_infinite_linear] left-[28%]">
        </div>

        <div class="fancy-feature-eleven relative mt-[30px] lg:mt-[30px] md:mt-[10px] sm:mt-[10px] xsm:mt-[10px] ">
            <div class="container">
                <div class="flex flex-wrap mx-[-12px] align-items-start align-items-xl-center">
                    <div class="xl:w-5/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInLeft">
                        <div class="title-style-four">
                            <!-- <div class="sc-title-two text-[15px] tracking-[3px] uppercase pb-[22px] lg:text-[14px] lg:pb-2.5 md:text-[14px] md:pb-2.5 sm:text-[14px] sm:pb-2.5 xsm:text-[14px] xsm:pb-2.5" style="color:#6A45FF;">Questions & Answers</div> -->
                            <h2 class="main-title font-medium text-black !m-0 tracking-[-1.5px]">Our 100% Refund
                                Guarantee – Your Success<span
                                    class=" inline-block relative z-[1] before:content-[''] before:absolute before:w-[97%] before:h-3 before:opacity-50 before:z-[-1] before:left-[3px] before:bottom-[13px] before:bg-[#FF5BD7]">
                                    is Our
                                    Priority</span></h2>
                        </div>
                        <!-- <div class="text-[15px] md:text-[14px] sm:text-[14px] xsm:text-[14px] font-medium pt-[70px] pb-[5px] lg:pt-10 md:pt-10 sm:pt-10 xsm:pt-10 " style="color:#6A45FF;">Confusion?</div> -->
                        <p
                            class=" text-[18px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] mb-[45px] ">
                            We’re confident in the value we bring to your business. That’s why we offer a 100%
                            refund guarantee. If, within 12 months, you do not secure any projects, we’ll refund
                            your full subscription fee.</p>
                        <!-- <a href="contact-us.html" class="btn-seven text-white leading-[50px] relative transition-all duration-[0.3s] ease-[ease-in-out] p-[0_40px] rounded-[25px] bg-[#1B1B1B] hover:bg-[var(--prime-three)]">Contact us</a> -->
                    </div>

                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto wow fadeInRight">
                        <div class="accordion accordion-style-one md:mt-10 sm:mt-10 xsm:mt-10 " id="accordionOnes">
                            <div
                                class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                                <div class="accordion-header" id="headingOnes">
                                    <button
                                        class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseOnes"
                                        aria-expanded="false" aria-controls="collapseOnes">
                                        How It Works
                                    </button>
                                </div>
                                <div id="collapseOnes" class="accordion-collapse collapse" aria-labelledby="headingOnes"
                                    data-bs-parent="#accordionOnes">
                                    <div
                                        class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                        <p
                                            class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            • Once you join WestGate IT Hub, we work tirelessly to identify and secure
                                            projects for you. </p>

                                        <p
                                            class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            • If, after a year, you do not receive any projects, we will return your
                                            full
                                            subscription fee </p>

                                        <p
                                            class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            • This risk-free guarantee ensures that your investment with us is always
                                            secure, and
                                            you can focus on growing your business. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="text-left wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                            <a routerLink="/partner-with-us"
                                class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Join
                                Now – No Risk, All Reward </a>
                        </div>
                    </div>
                </div>
            </div>
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_49.svg" alt=""
                class="lazy-img shapes shape-one absolute z-[-1] top-[-9%] animate-[jumpThree_3.5s_infinite_linear] left-[30%]">
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_50.svg" alt=""
                class="lazy-img shapes shape-two absolute z-[-1] animate-[jumpFour_3.5s_infinite_linear] left-[3%] top-[48%]">
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_51.svg" alt=""
                class="lazy-img shapes shape-three absolute z-[-1] bottom-[-10%] animate-[jumpTwo_3.5s_infinite_linear] left-[28%]">
        </div>

        <div class="fancy-feature-eleven relative mt-[30px] lg:mt-[30px] md:mt-[10px] sm:mt-[10px] xsm:mt-[10px] mb-5">
            <div class="container">
                <div class="flex flex-wrap mx-[-12px] align-items-start align-items-xl-center">
                    <div class="xl:w-5/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInLeft">
                        <div class="title-style-four">
                            <!-- <div class="sc-title-two text-[15px] tracking-[3px] uppercase pb-[22px] lg:text-[14px] lg:pb-2.5 md:text-[14px] md:pb-2.5 sm:text-[14px] sm:pb-2.5 xsm:text-[14px] xsm:pb-2.5" style="color:#6A45FF;">Questions & Answers</div> -->
                            <h2 class="main-title font-medium text-black !m-0 tracking-[-1.5px]">Why Choose<span
                                    class=" inline-block relative z-[1] before:content-[''] before:absolute before:w-[97%] before:h-3 before:opacity-50 before:z-[-1] before:left-[3px] before:bottom-[13px] before:bg-[#FF5BD7]">A
                                    WestGate</span> IT Hub?</h2>
                        </div>
                        <!-- <div class="text-[15px] md:text-[14px] sm:text-[14px] xsm:text-[14px] font-medium pt-[70px] pb-[5px] lg:pt-10 md:pt-10 sm:pt-10 xsm:pt-10 " style="color:#6A45FF;">Confusion?</div> -->
                        <p
                            class=" text-[18px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] mb-[45px] ">
                            Our subscription model is designed to provide exceptional value to Indian IT companies
                            looking
                            to expand into the UK market. Here’s why our pricing makes sense for you.</p>
                        <!-- <a href="contact-us.html" class="btn-seven text-white leading-[50px] relative transition-all duration-[0.3s] ease-[ease-in-out] p-[0_40px] rounded-[25px] bg-[#1B1B1B] hover:bg-[var(--prime-three)]">Contact us</a> -->
                    </div>

                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto wow fadeInRight">
                        <div class="accordion accordion-style-one md:mt-10 sm:mt-10 xsm:mt-10 " id="accordionThree">
                            <div
                                class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                                <div class="accordion-header" id="headingsOne">
                                    <button
                                        class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapsesOne"
                                        aria-expanded="false" aria-controls="collapsesOne">
                                        1. High-Value Opportunity :
                                    </button>
                                </div>
                                <div id="collapsesOne" class="accordion-collapse collapse" aria-labelledby="headingsOne"
                                    data-bs-parent="#accordionThree">
                                    <div
                                        class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                        <p
                                            class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            The guaranteed project ensures you receive substantial returns on your
                                            investment. </p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                                <div class="accordion-header" id="headingsTwo">
                                    <button
                                        class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapsesTwo"
                                        aria-expanded="false" aria-controls="collapsesTwo">
                                        2. Full Support :
                                    </button>
                                </div>
                                <div id="collapsesTwo" class="accordion-collapse collapse" aria-labelledby="headingsTwo"
                                    data-bs-parent="#accordionThree">
                                    <div
                                        class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                        <p
                                            class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            You get access to our full suite of services including market analysis,
                                            proposal
                                            writing, client management, and resource sharing—all designed to secure
                                            projects and
                                            grow
                                            your business.</p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                                <div class="accordion-header" id="headingsThree">
                                    <button
                                        class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapsesThree"
                                        aria-expanded="true" aria-controls="collapsesThree">
                                        3. Risk-Free :
                                    </button>
                                </div>
                                <div id="collapsesThree" class="accordion-collapse collapse show"
                                    aria-labelledby="headingsThree" data-bs-parent="#accordionThree">
                                    <div
                                        class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                        <p
                                            class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            Our refund policy ensures that
                                            your
                                            investment is safe, making this a risk-free decision for your business.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="accordion-item border mb-[25px] rounded-[10px] border-solid border- [#E9E9E9] bg-white ">
                                <div class="accordion-header" id="headingsFour">
                                    <button
                                        class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapsesFour"
                                        aria-expanded="false" aria-controls="collapsesFour">
                                        4. Long-Term Value :
                                    </button>
                                </div>
                                <div id="collapsesFour" class="accordion-collapse collapse"
                                    aria-labelledby="headingsFour" data-bs-parent="#accordionThree">
                                    <div
                                        class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                        <p
                                            class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[32px] md:leading-[32px] sm:leading-[32px] xsm:leading-[32px]">
                                            WestGate IT Hub is not
                                            just a
                                            short-term partnership. We aim to build long-lasting relationships and help
                                            you expand
                                            your
                                            reach in the UK market. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="text-left wow fadeInUp mt-0 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                            <a routerLink="/partner-with-us"
                                class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Register
                                Now and Get Started </a>
                        </div>
                    </div>
                </div>
            </div>
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_49.svg" alt=""
                class="lazy-img shapes shape-one absolute z-[-1] top-[-9%] animate-[jumpThree_3.5s_infinite_linear] left-[30%]">
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_50.svg" alt=""
                class="lazy-img shapes shape-two absolute z-[-1] animate-[jumpFour_3.5s_infinite_linear] left-[3%] top-[48%]">
            <img src="assets/images/lazy.svg" src="assets/images/shape/shape_51.svg" alt=""
                class="lazy-img shapes shape-three absolute z-[-1] bottom-[-10%] animate-[jumpTwo_3.5s_infinite_linear] left-[28%]">
        </div>

    </div>
    <div class="container">
        <div class="title-style-five">
            <h4
                class="main-title text-black font-bold text-[50px] leading-[1.25em] 2xl:text-[58px] lg:text-[50px] md:text-[35px] sm:text-[35px] xsm:text-[35px]">
                Ready to Expand Your Business in the UK?</h4>
        </div>
        <p
            class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] mt-[30px] lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5 ">
            With our transparent pricing, full support, and guaranteed project opportunities, WestGate IT Hub is the
            perfect partner for your business expansion. Join us today and get started on securing high-value projects
            in the UK market.</p>
    </div>
    <div class="text-center wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
        <a routerLink="/partner-with-us"
            class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Register
            Now and Start Your Journey </a>
    </div>

</div>