.accordion-button:not(.collapsed) {
    background-color: #fff8de;
    /* Light grey background */
    color: #000;
    /* Optional: set text color */
    transition: background-color 0.3s;
    border: 1px solid #ffd338;
}

/* Styling for the active tab */
.nav-link.active {
    /* background-color: lightgrey; */
    /* Light grey for the active tab */
    background-color: #ffd338;
    color: #333;
    /* Optional: Adjust text color if needed */
}

/* Styling for non-active tabs */
.nav-link {
    background-color: transparent;
    /* Ensure no background for non-active tabs */
    color: #000;
    /* Default text color */
}