<div class="main-page-wrapper overflow-x-hidden">

    <div class="fancy-feature-twentyFive mt-[170px] lg:mt-[100px] md:mt-[100px] sm:mt-[100px] xsm:mt-[100px] ">
        <div class="container">
            <div class="flex flex-wrap mx-[-12px] items-center">
                <div class="xl:w-9/12 m-auto wow fadeInUp">
                    <div
                        class="title-style-seven text-center pb-[120px] lg:pb-[50px] md:pb-[50px] sm:pb-[50px] xsm:pb-[50px] wow fadeInUp">
                        <h2
                            class="main-title font-bold text-black text-[68px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
                            Got Questions? <br>We’ve Got <span class="relative inline-block">Answers! <img
                                    class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
                                    src="assets/images/shape/shape_99.svg" alt=""></span></h2>
                    </div>
                    <p
                        class=" text-[24px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] mb-[70px]  pt-[35px] xxl:!pr-[3rem] md:pt-[30px] sm:pt-[30px] xsm:pt-[30px]  lg:mb-10 md:mb-10 sm:mb-10 xsm:mb-10">
                        Browse through our frequently asked questions to find the information you need quickly. If you
                        can’t find an answer, feel free to contact us!
                    </p>

                    <div class="text-center wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                        <a routerLink="/contact-us"
                            class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Contact
                            Us</a>
                    </div>
                </div>

                <div class="xl:w-9/12 lg:w-10/12 w-full flex-[0_0_auto] px-[12px] max-w-full m-auto wow fadeInUp">

                    <div class="text-center wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                        <h3 class="font-bold text-black mb-[30px]">Frequently Asked Questions</h3>
                    </div>
    
                    <p
                        class=" text-[24px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] mb-[70px]  pt-[35px] xxl:!pr-[3rem] md:pt-[30px] sm:pt-[30px] xsm:pt-[30px]  lg:mb-10 md:mb-10 sm:mb-10 xsm:mb-10">
                        At WestGate IT Hub, we understand that you might have questions about our services, partnership
                        model, and the process of expanding your business into the UK market. Here are some of the most
                        common questions we receive from potential partners and clients. Browse through them, and if you
                        don’t find what you’re looking for, feel free to reach out to us directly.
                    </p>

                    <div class="text-center wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                        <h3 class="font-bold text-black mb-[30px]">General Questions</h3>
                    </div>

                    <div class="accordion accordion-style-two border-b-[rgba(0,0,0,0.1)] border-b border-solid"
                        id="accordionOne">
                        <div
                            class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
                            <div class="accordion-header" id="headingOne">
                                <button
                                    class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne">
                                    How can I partner with WestGate IT Hub?
                                </button>
                            </div>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionOne">
                                <div
                                    class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
                                    <p
                                        class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
                                        To partner with us, simply visit our 'Partner With Us' page, fill out the
                                        registration form, and share proof of your company’s capabilities. We’ll then
                                        begin working to find the right opportunities for you in the UK market.</p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
                            <div class="accordion-header" id="headingTwo">
                                <button
                                    class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    What services does WestGate IT Hub provide?
                                </button>
                            </div>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionOne">
                                <div
                                    class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
                                    <p
                                        class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
                                        We offer two main services: resource sharing and IT services. Resource sharing
                                        connects you with skilled IT professionals in India, while our IT services
                                        include proposal writing, business development, and project management to help
                                        you secure and deliver projects in the UK. </p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
                            <div class="accordion-header" id="headingThree">
                                <button
                                    class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                    aria-expanded="true" aria-controls="collapseThree">
                                    What is the cost to partner with WestGate IT Hub?
                                </button>
                            </div>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionOne">
                                <div
                                    class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
                                    <p
                                        class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
                                        Our annual subscription fee is ₹3,00,000 INR per company. This fee guarantees
                                        access to our services and a minimum of one project worth 60L or more within 12
                                        months. If we don’t secure a project, we offer a full refund.</p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
                            <div class="accordion-header" id="headingFour">
                                <button
                                    class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour">
                                    How long does it take to secure a project in the UK?
                                </button>
                            </div>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionOne">
                                <div
                                    class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
                                    <p
                                        class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
                                        The timeline can vary depending on the availability of opportunities that match
                                        your company’s capabilities. Typically, we aim to secure a project within the
                                        first 6 months, but it may take up to 12 months. Our team works diligently to
                                        ensure the best matches for your business.</p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
                            <div class="accordion-header" id="headingFive">
                                <button
                                    class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                    aria-expanded="false" aria-controls="collapseFive">
                                    What happens if I don’t get any projects within 12 months?
                                </button>
                            </div>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                data-bs-parent="#accordionOne">
                                <div
                                    class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
                                    <p
                                        class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
                                        If you don’t receive any projects within 12 months, we will refund the full
                                        ₹3,00,000 INR subscription fee, as part of our risk-free guarantee.</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="text-center wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                        <h3 class="font-bold text-black mb-[30px]">Partnership and Subscription Questions</h3>
                    </div>

                    <div class="accordion accordion-style-two border-b-[rgba(0,0,0,0.1)] border-b border-solid"
                        id="accordionOne">
                        <div
                            class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
                            <div class="accordion-header" id="headingOne">
                                <button
                                    class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne">
                                    What do I need to provide when registering with WestGate IT Hub?
                                </button>
                            </div>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionOne">
                                <div
                                    class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
                                    <p
                                        class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
                                        When registering, you’ll need to provide basic company information, proof of
                                        your capabilities (such as portfolios, certifications, or case studies), and an
                                        overview of the services you offer. This helps us match you with the right
                                        opportunities in the UK.</p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
                            <div class="accordion-header" id="headingTwo">
                                <button
                                    class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    Can I change my subscription level or plan after joining?
                                </button>
                            </div>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionOne">
                                <div
                                    class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
                                    <p
                                        class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
                                        Currently, we offer one subscription plan, which includes access to all of our
                                        services and the guarantee of at least one project. If there are any changes to
                                        our pricing or services, we’ll notify you in advance.</p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
                            <div class="accordion-header" id="headingThree">
                                <button
                                    class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                    aria-expanded="true" aria-controls="collapseThree">
                                    Is there a limit to the number of projects I can secure?
                                </button>
                            </div>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionOne">
                                <div
                                    class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
                                    <p
                                        class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
                                        No, there is no limit. Our goal is to help you grow and secure as many projects
                                        as possible. The minimum guarantee is one project worth 60L or more, but you can
                                        secure additional projects as we identify new opportunities.</p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
                            <div class="accordion-header" id="headingFour">
                                <button
                                    class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour">
                                    How do I know if the UK client is a good match for my company?
                                </button>
                            </div>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionOne">
                                <div
                                    class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
                                    <p
                                        class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
                                        Our team ensures that all opportunities align with your company’s expertise and
                                        capabilities. We only connect you with UK clients that need services or
                                        resources that your company specializes in.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                        <h3 class="font-bold text-black mb-[30px]">Service-Related Questions</h3>
                    </div>

                    <div class="accordion accordion-style-two border-b-[rgba(0,0,0,0.1)] border-b border-solid"
                        id="accordionOne">
                        <div
                            class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
                            <div class="accordion-header" id="headingOne">
                                <button
                                    class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne">
                                    What types of resources do you provide in your resource-sharing service?
                                </button>
                            </div>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionOne">
                                <div
                                    class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
                                    <p
                                        class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
                                        We offer a wide range of skilled IT resources, including developers, designers,
                                        project managers, quality analysts, and other specialists. The type of resource
                                        is tailored to the specific project requirements in the UK.</p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
                            <div class="accordion-header" id="headingTwo">
                                <button
                                    class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    How does WestGate IT Hub handle communication between Indian and UK teams?
                                </button>
                            </div>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionOne">
                                <div
                                    class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
                                    <p
                                        class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
                                        We facilitate seamless communication between the teams by managing time zone
                                        differences and coordinating meetings, ensuring smooth collaboration. We also
                                        provide project management support to keep everything on track.</p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
                            <div class="accordion-header" id="headingThree">
                                <button
                                    class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                    aria-expanded="true" aria-controls="collapseThree">
                                    Do you offer ongoing support after securing a project?
                                </button>
                            </div>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionOne">
                                <div
                                    class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
                                    <p
                                        class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
                                        Yes! We provide ongoing support during the project delivery phase, including
                                        managing resources, ensuring deadlines are met, and handling any client issues.
                                        We aim for successful project execution and long-term client satisfaction.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                        <h3 class="font-bold text-black mb-[30px]">Technical & Process-Related Questions</h3>
                    </div>

                    <div class="accordion accordion-style-two border-b-[rgba(0,0,0,0.1)] border-b border-solid"
                        id="accordionOne">
                        <div
                            class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
                            <div class="accordion-header" id="headingOne">
                                <button
                                    class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne">
                                    How does the proposal writing process work?
                                </button>
                            </div>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionOne">
                                <div
                                    class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
                                    <p
                                        class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
                                        Our team works closely with your company to draft tailored proposals that
                                        highlight your capabilities and demonstrate your fit for the client’s needs. We
                                        ensure that each proposal is well-written, professional, and aligned with the
                                        client’s expectations.</p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
                            <div class="accordion-header" id="headingTwo">
                                <button
                                    class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    What happens after a proposal is submitted?
                                </button>
                            </div>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionOne">
                                <div
                                    class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
                                    <p
                                        class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
                                        Once a proposal is submitted, our team manages the follow-up, negotiations, and
                                        client discussions. We handle all client communication to ensure that your
                                        company is presented professionally and that project details are clearly
                                        outlined.</p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
                            <div class="accordion-header" id="headingThree">
                                <button
                                    class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                    aria-expanded="true" aria-controls="collapseThree">
                                    Do you provide any legal or contractual support?
                                </button>
                            </div>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionOne">
                                <div
                                    class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
                                    <p
                                        class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
                                        We can help facilitate discussions around contracts, but we recommend working
                                        with your legal team for final agreements. We ensure all aspects of the project
                                        scope and delivery are clearly defined before proceeding.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                        <h3 class="font-bold text-black mb-[30px]">Can’t Find the Answer You Need?</h3>
                        <p
                            class=" text-[24px] 2xl:text-[22px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em] mb-[70px]  pt-[35px] xxl:!pr-[3rem] md:pt-[30px] sm:pt-[30px] xsm:pt-[30px]  lg:mb-10 md:mb-10 sm:mb-10 xsm:mb-10">
                            If your question hasn’t been answered or you need further clarification, don’t hesitate to
                            reach out. Our team is happy to assist you.
                        </p>
                        <a routerLink="/contact-us"
                            class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Contact
                            Us Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>