<div class="fancy-feature-twentyFive mt-[170px] lg:mt-[100px] md:mt-[100px] sm:mt-[100px] xsm:mt-[100px] ">
    <div class="container">
        <div class="flex flex-wrap mx-[-12px] items-center">
            <div class="xl:w-9/12 m-auto wow fadeInUp">
                <div
                    class="title-style-seven text-center pb-[120px] lg:pb-[50px] md:pb-[50px] sm:pb-[50px] xsm:pb-[50px] wow fadeInUp">
                    <h2
                        class="main-title font-bold text-black text-[68px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
                        Got questions? <br> Well, we've got <span class="relative inline-block">answers <img
                                class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
                                src="assets/images/shape/shape_99.svg" alt=""></span></h2>
                </div> <!-- /.title-style-seven -->
            </div>

            <div class="xl:w-9/12 lg:w-10/12 w-full flex-[0_0_auto] px-[12px] max-w-full m-auto wow fadeInUp">
                <div class="accordion accordion-style-two border-b-[rgba(0,0,0,0.1)] border-b border-solid"
                    id="accordionOne">
                    <div
                        class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
                        <div class="accordion-header" id="headingOne">
                            <button
                                class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">
                                What is web hosting?
                            </button>
                        </div>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionOne">
                            <div
                                class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
                                <p
                                    class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
                                    Duis aute irure dolor in reprehenderit in voluptate velit ess dolore eu
                                    fugiat nulla pariatur. Excepteur sint occaecat cupid non proident, sunt in
                                    culpa qui officia deserunt. </p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
                        <div class="accordion-header" id="headingTwo">
                            <button
                                class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                How do you weigh different criteria in your process?
                            </button>
                        </div>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionOne">
                            <div
                                class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
                                <p
                                    class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
                                    Duis aute irure dolor in reprehenderit in voluptate velit ess dolore eu
                                    fugiat nulla pariatur. Excepteur sint occaecat cupid non proident, sunt in
                                    culpa qui officia deserunt. </p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
                        <div class="accordion-header" id="headingThree">
                            <button
                                class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                aria-expanded="true" aria-controls="collapseThree">
                                What can I use to build my website?
                            </button>
                        </div>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionOne">
                            <div
                                class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
                                <p
                                    class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
                                    Duis aute irure dolor in reprehenderit in voluptate velit ess dolore eu
                                    fugiat nulla pariatur. Excepteur sint occaecat cupid non proident, sunt in
                                    culpa qui officia deserunt. </p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
                        <div class="accordion-header" id="headingFour">
                            <button
                                class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                                If I already have a website, can I transfer it to your web hosting?
                            </button>
                        </div>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionOne">
                            <div
                                class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
                                <p
                                    class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
                                    Duis aute irure dolor in reprehenderit in voluptate velit ess dolore eu
                                    fugiat nulla pariatur. Excepteur sint occaecat cupid non proident, sunt in
                                    culpa qui officia deserunt. </p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
                        <div class="accordion-header" id="headingFive">
                            <button
                                class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                aria-expanded="false" aria-controls="collapseFive">
                                How can I accept credit cards online?
                            </button>
                        </div>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionOne">
                            <div
                                class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
                                <p
                                    class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
                                    Duis aute irure dolor in reprehenderit in voluptate velit ess dolore eu
                                    fugiat nulla pariatur. Excepteur sint occaecat cupid non proident, sunt in
                                    culpa qui officia deserunt. </p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="accordion-item rounded-none border-t-[rgba(0,0,0,0.1)] border-0  border-t border-solid bg-white">
                        <div class="accordion-header" id="headingSix">
                            <button
                                class="accordion-button font-medium text-[22px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[32px_0] rounded-none after:content-[url(../images/icon/icon\_74.svg)] after:bg-none after:w-auto after:h-auto bg-transparent lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[20px_0] md:p-[20px_0] sm:p-[20px_0] xsm:p-[20px_0] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                aria-expanded="false" aria-controls="collapseSix">
                                What are the additional requirements I should know about?
                            </button>
                        </div>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionOne">
                            <div
                                class="accordion-body p-[0_40px_20px_0] lg:p-[0_20px_10px_0] md:p-[0_20px_10px_0] sm:p-[0_20px_10px_0] xsm:p-[0_20px_10px_0] ">
                                <p
                                    class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[34px] lg:leading-[30px] md:leading-[30px] sm:leading-[30px] xsm:leading-[30px] ">
                                    Duis aute irure dolor in reprehenderit in voluptate velit ess dolore eu
                                    fugiat nulla pariatur. Excepteur sint occaecat cupid non proident, sunt in
                                    culpa qui officia deserunt. </p>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.accordion-style-two -->

                <div class="text-center wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                    <h3 class="font-bold text-black mb-[30px]">Didn’t get your answer?</h3>
                    <a href="contact-us-v3.html"
                        class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Submit
                        your question</a>
                </div>
            </div>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.fancy-feature-twentyFive -->
