<div class="footer-style-seven p-[30px] theme-basic-footer 2xl:p-5 lg:p-0 md:p-0 sm:p-0 xsm:p-0">
    <div class="bg-wrapper relative overflow-hidden pt-[200px] pb-[85px] px-0 before:content-[''] before:absolute before:h-[200px] before:w-[120%] before:top-[-110px] before:left-[-2%] before:rotate-[-5deg] bg-[#EEFBFF] before:bg-white 
            lg:p-[290px_0_15px] 
            md:p-[290px_0_15px] 
            sm:p-[290px_0_15px] 
            xsm:p-[290px_0_15px] ">
        <div class="container">
            <div class="flex flex-wrap mx-[-12px] justify-between">
                <div class="xl:w-2/12 w-full flex-[0_0_auto] px-[12px] max-w-full footer-intro mb-10 ">
                    <div class="logo"><a href="javascript:;"><img src="assets/images/logo/logo_01.png" alt=""
                                width="95"></a>
                    </div>
                </div>
                <div
                    class="xl:w-2/12 lg:w-2/12 md:w-4/12 sm:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full mb-[30px]">
                    <h5
                        class="footer-title mb-5 text-[16px] md:mb-[10px] sm:mb-[10px] xsm:mb-[10px] text-[rgba(11,11,11,0.35)] uppercase tracking-[3px] font-normal">
                        Links</h5>
                    <ul class="footer-nav-link mb-0 pl-0 list-none ">
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                href="javascript:;">Home</a></li>
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                href="pricing.html">Pricing</a></li>
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                href="about-v1.html">About us</a></li>
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                href="service-v1.html">Service</a></li>
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                href="blog-v1.html">Blog</a></li>
                    </ul>
                </div>
                <div
                    class="xl:w-2/12 lg:w-2/12 md:w-4/12 sm:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full mb-[30px]">
                    <h5
                        class="footer-title mb-5 text-[16px] md:mb-[10px] sm:mb-[10px] xsm:mb-[10px] text-[rgba(11,11,11,0.35)] uppercase tracking-[3px] font-normal">
                        Support</h5>
                    <ul class="footer-nav-link mb-0 pl-0 list-none ">
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                href="service-details.html">Item Support</a></li>
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                href="service-details.html">Forum</a></li>
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                href="service-details.html">Report Abuse</a></li>
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                href="service-details.html">Live</a></li>
                    </ul>
                </div>
                <div
                    class="xl:w-2/12 lg:w-2/12 md:w-4/12 sm:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full mb-[30px]">
                    <h5
                        class="footer-title mb-5 text-[16px] md:mb-[10px] sm:mb-[10px] xsm:mb-[10px] text-[rgba(11,11,11,0.35)] uppercase tracking-[3px] font-normal">
                        PRODUCTS</h5>
                    <ul class="footer-nav-link mb-0 pl-0 list-none ">
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                href="service-details.html">Web hosting</a></li>
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                href="service-details.html">Cloud hosting</a></li>
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                href="service-details.html">WordPress hosting</a></li>
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                href="service-details.htmll">VPS hosting</a></li>
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                href="service-details.html">Dedicated hosting</a></li>
                    </ul>
                </div>
                <div
                    class="xl:w-4/12 lg:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full mb-[30px] xxl:!pl-[3rem] form-widget">
                    <h5
                        class="footer-title mb-5 text-[16px] md:mb-[10px] sm:mb-[10px] xsm:mb-[10px] text-[rgba(11,11,11,0.35)] uppercase tracking-[3px] font-normal">
                        Newslettert</h5>
                    <h6 class=" text-[20px] pt-[15px] pb-5 md:pt-[10px] sm:pt-[10px] xsm:pt-[10px]">Join our
                        newsletter</h6>
                    <form action="#" class="relative h-[70px] lg:h-[60px] md:h-[60px] sm:h-[60px] xsm:h-[60px]">
                        <input class="w-full h-full p-[0_132px_0_25px]" type="email" placeholder="Enter your email">
                        <button
                            class="tran3s w-[125px] text-white right-1.5 inset-y-1.5 hover:text-black bg-[#161616] hover:bg-[var(--prime-six)] font-medium absolute lg:w-[110px] md:w-[110px] sm:w-[110px] xsm:w-[110px] ">Sign
                            Up</button>
                    </form>
                    <div class="text-[14px] mt-[10px] opacity-75">We only send interesting and relevant emails.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-footer relative p-[15px_0_0] lg:pb-5 md:pb-5 sm:pb-5 xsm:pb-5">
        <div class="container">
            <div class="flex flex-wrap mx-[-12px]">
                <div
                    class="xl:w-4/12 lg:w-4/12 md:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-none lg:order-none mt-[15px] ">
                    <ul class="flex justify-center xl:justify-start lg:justify-start footer-nav mb-0 pl-0 list-none ">
                        <li><a class=" text-[15px] font-medium text-black mr-[22px] hover:underline md:m-[0_10px] sm:m-[0_10px] xsm:m-[0_10px]"
                                routerLink="/faq">Privacy &amp; Terms.</a></li>
                        <li><a class=" text-[15px] font-medium text-black mr-[22px] hover:underline md:m-[0_10px] sm:m-[0_10px] xsm:m-[0_10px]"
                                routerLink="/contact-us">Contact Us</a></li>
                    </ul>
                </div>
                <div
                    class="xl:w-4/12 lg:w-4/12 md:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-2 lg:order-2 mt-[15px] ">
                    <ul class="flex justify-center xl:justify-end lg:justify-end social-icon mb-0 pl-0 list-none ">
                        <li><a class=" text-[19px] text-[#333333] transition-all duration-[0.3s] ease-[ease-in-out] ml-[19px] hover:text-[var(--prime-six)] md:m-[0_10px] sm:m-[0_10px] xsm:m-[0_10px]"
                                href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a class=" text-[19px] text-[#333333] transition-all duration-[0.3s] ease-[ease-in-out] ml-[19px] hover:text-[var(--prime-six)] md:m-[0_10px] sm:m-[0_10px] xsm:m-[0_10px]"
                                href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a class=" text-[19px] text-[#333333] transition-all duration-[0.3s] ease-[ease-in-out] ml-[19px] hover:text-[var(--prime-six)] md:m-[0_10px] sm:m-[0_10px] xsm:m-[0_10px]"
                                href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
                <div
                    class="xl:w-4/12 lg:w-4/12 md:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-1 lg:order-1 mt-[15px] ">
                    <p class="copyright text-center !m-0 text-[15px]">Copyright @2025 WhyQ Tech</p>
                </div>
            </div>
        </div>
    </div> <!-- /.bottom-footer -->
</div>