<div class="footer-style-seven p-[30px] theme-basic-footer 2xl:p-5 lg:p-0 md:p-0 sm:p-0 xsm:p-0">
    <div class="bg-wrapper relative overflow-hidden pt-[200px] pb-[85px] px-0 before:content-[''] before:absolute before:h-[200px] before:w-[120%] before:top-[-110px] before:left-[-2%] before:rotate-[-5deg] bg-[#EEFBFF] before:bg-white 
            lg:p-[290px_0_15px] 
            md:p-[290px_0_15px] 
            sm:p-[290px_0_15px] 
            xsm:p-[290px_0_15px] ">
        <!-- <div class="container">
            <div class="flex flex-wrap mx-[-12px] justify-between">
                <div class="xl:w-2/12 w-full flex-[0_0_auto] px-[12px] max-w-full footer-intro mb-10 ">
                    <div class="logo xl:min-w-[300px] min-h-[50px] flex items-center xl:order-none lg:order-none"><a
                            routerLink="/" class="block"><img src="assets/images/logo/westgate_logo.png" alt="" style="height: auto !important;
                        width: 70%;" width="95"></a>
                    </div>
                </div>
                <div
                    class="xl:w-2/12 lg:w-2/12 md:w-4/12 sm:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full mb-[30px]">
                    <h5
                        class="footer-title mb-5 text-[16px] md:mb-[10px] sm:mb-[10px] xsm:mb-[10px] text-[rgba(11,11,11,0.35)] uppercase tracking-[3px] font-normal">
                        Links</h5>
                    <ul class="footer-nav-link mb-0 pl-0 list-none ">
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                routerLink="/home">Home</a></li>
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                routerLink="/about-us">About Us</a></li>
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                routerLink="/services">Services</a></li>
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                routerLink="/partner-with-us">Partner With Us</a></li>
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                routerLink="/pricing">Pricing</a></li>
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                routerLink="/contact-us">Contact Us</a></li>
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                routerLink="/faq">FAQ</a></li>
                    </ul>
                </div>
                <div
                    class="xl:w-2/12 lg:w-2/12 md:w-4/12 sm:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full mb-[30px]">
                    <h5
                        class="footer-title mb-5 text-[16px] md:mb-[10px] sm:mb-[10px] xsm:mb-[10px] text-[rgba(11,11,11,0.35)] uppercase tracking-[3px] font-normal">
                        Services</h5>
                    <ul class="footer-nav-link mb-0 pl-0 list-none ">
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                routerLink="/services">Sub-Contracting</a></li>
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                routerLink="/services">Off-shore Services</a></li>
                        <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                routerLink="/services">Near-shore Services</a></li>
                    </ul>
                </div>
                <div
                    class="xl:w-2/12 lg:w-2/12 md:w-4/12 sm:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full mb-[30px]">
                    <div class="xl:w-3/12 lg:w-3/12 sm:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full mb-[30px]">
                        <h5
                            class="footer-title  font-bold text-[24px] mb-5 md:text-[20px] md:mb-[10px] sm:text-[20px] sm:mb-[10px] xsm:text-[20px] xsm:mb-[10px] ">
                            Our Address</h5>
                        <p class="mb-[30px]">No.6, Uttarahalli Main Rd, 2nd Stage, Jayanagar housing society layout,
                            Chikkalasandra, Bengaluru, Karnataka 560061</p>
                        <a href="#"
                            class="email tran3s text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] hover:text-[color:var(--prime-four)] ">
                            support@westgateithub.com</a>
                        <br>
                        <a href="#"
                            class="mobile tran3s text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] mt-5 mb-[30px] text-[color:var(--prime-four)]">
                            +91 7781978685</a>

                    </div>
                </div>
                <div
                    class="xl:w-4/12 lg:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full mb-[30px] xxl:!pl-[3rem] form-widget">
                    <h5
                        class="footer-title mb-5 text-[16px] md:mb-[10px] sm:mb-[10px] xsm:mb-[10px] text-[rgba(11,11,11,0.35)] uppercase tracking-[3px] font-normal">
                        Newslettert</h5>
                    <h6 class=" text-[20px] pt-[15px] pb-5 md:pt-[10px] sm:pt-[10px] xsm:pt-[10px]">Join our
                        newsletter</h6>
                    <form action="#" class="relative h-[70px] lg:h-[60px] md:h-[60px] sm:h-[60px] xsm:h-[60px]">
                        <input class="w-full h-full p-[0_132px_0_25px]" type="email" placeholder="Enter your email">
                        <button
                            class="tran3s w-[125px] text-white right-1.5 inset-y-1.5 hover:text-black bg-[#161616] hover:bg-[var(--prime-six)] font-medium absolute lg:w-[110px] md:w-[110px] sm:w-[110px] xsm:w-[110px] ">Sign
                            Up</button>
                    </form>
                    <div class="text-[14px] mt-[10px] opacity-75">We only send interesting and relevant emails.
                    </div>
                </div>
            </div>
        </div> -->


        <div class="container">
            <div class="inner-wrapper">
                <div class="flex flex-wrap mx-[-12px]">
                    <div
                        class="xl:w-3/12 lg:w-3/12 w-full flex-[0_0_auto] px-[12px] max-w-full footer-intro mb-[50px] ">
                        <div class="xl:w-2/12 w-full flex-[0_0_auto] px-[12px] max-w-full footer-intro mb-10 ">
                            <div
                                class="logo xl:min-w-[300px] min-h-[50px] flex items-center xl:order-none lg:order-none">
                                <a routerLink="/" class="block"><img src="assets/images/logo/westgate_logo.png" alt=""
                                        style="height: auto !important;
                                width: 70%;" width="95"></a>
                            </div>
                        </div>
                        <!-- <p
                            class=" text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mt-[30px] mb-10 md:mt-[10px] sm:mt-[10px] xsm:mt-[10px] md:mb-5 sm:mb-5 xsm:mb-5 xxl:!pr-[3rem] ">
                            Best non-profit solution for charity.</p> -->
                        <ul class="flex social-icon mb-0 pl-0 list-none ">
                            <li><a class=" w-[34px] h-[34px]  border text-center leading-8 transition-all duration-[0.3s] ease-[ease-in-out] mr-2.5 rounded-[7px] border-solid border-[#5A5A5A] hover:border-black hover:bg-[rgba(255,255,255,0.14)]" target="_blank"
                                    href="https://www.facebook.com/share/ng8BGqN3WigU3MXc/?mibextid=kFxxJD"><i
                                        class="fab fa-facebook-f"></i></a></li>
                            <li><a class=" w-[34px] h-[34px]  border text-center leading-8 transition-all duration-[0.3s] ease-[ease-in-out] mr-2.5 rounded-[7px] border-solid border-[#5A5A5A] hover:border-black hover:bg-[rgba(255,255,255,0.14)]" target="_blank"
                                    href="https://x.com/WestgateIthub"><i class="fab fa-twitter"></i></a></li>
                            <li><a class=" w-[34px] h-[34px]  border text-center leading-8 transition-all duration-[0.3s] ease-[ease-in-out] mr-2.5 rounded-[7px] border-solid border-[#5A5A5A] hover:border-black hover:bg-[rgba(255,255,255,0.14)]" target="_blank"
                                    href="https://www.linkedin.com/company/westgate-it-hub-private-limited/"><i
                                        class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div
                        class="xl:w-2/12 lg:w-3/12 sm:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto mb-[30px]">
                        <h5
                            class="footer-title  font-bold text-[24px] mb-5 md:text-[20px] md:mb-[10px] sm:text-[20px] sm:mb-[10px] xsm:text-[20px] xsm:mb-[10px] ">
                            Links</h5>
                        <ul class="footer-nav-link mb-0 pl-0 list-none ">
                            <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                    routerLink="/home">Home</a></li>
                            <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                    routerLink="/about-us">About Us</a></li>
                            <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                    routerLink="/services">Services</a></li>
                            <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                    routerLink="/partner-with-us">Partner With Us</a></li>
                            <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                    routerLink="/pricing">Pricing</a></li>
                            <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                    routerLink="/contact-us">Contact Us</a></li>
                            <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                    routerLink="/faq">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="xl:w-3/12 lg:w-3/12 sm:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full mb-[30px]">
                        <h5
                            class="footer-title font-bold text-[24px] mb-5 md:text-[20px] md:mb-[10px] sm:text-[20px] sm:mb-[10px] xsm:text-[20px] xsm:mb-[10px] ">
                            Services</h5>
                        <ul class="footer-nav-link mb-0 pl-0 list-none ">
                            <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                    routerLink="/services">Sub-Contracting</a></li>
                            <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                    routerLink="/services">Off-shore Services</a></li>
                            <li><a class=" text-[17px] leading-10 transition-all duration-[0.3s] ease-[ease-in-out] md:text-[16px] md:leading-[38px] sm:text-[16px] sm:leading-[38px] xsm:text-[16px] xsm:leading-[38px] hover:text-[#0a58ca]"
                                    routerLink="/services">Near-shore Services</a></li>
                        </ul>
                    </div>
                    <div class="xl:w-3/12 lg:w-3/12 sm:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full mb-[30px]">
                        <h5
                            class="footer-title font-bold text-[24px] mb-5 md:text-[20px] md:mb-[10px] sm:text-[20px] sm:mb-[10px] xsm:text-[20px] xsm:mb-[10px] ">
                            Our Address</h5>
                        <p class="mb-[30px]">No.6, Uttarahalli Main Rd, 2nd Stage, Jayanagar housing society layout,
                            Chikkalasandra, Bengaluru, Karnataka 560061</p>
                        <a href="javascript:;"
                            class="email tran3s text-[18px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] hover:text-[color:var(--prime-four)] ">support@westgateithub.com</a>
                        <br>
                        <a href="#"
                            class="mobile tran3s text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] mt-5 mb-[30px] text-[color:var(--prime-four)]">+91
                            7781978685</a>
                    </div>
                </div>

                <div
                    class="bottom-footer xl:flex lg:flex md:flex items-center justify-between pt-[70px] md:pt-[10px] xsm:pt-[10px] sm:pt-[10px]">
                    <ul
                        class="flex flex-wrap justify-center justify-content-md-start footer-nav mb-0 pl-0 list-none pb-[15px] xl:order-last lg:order-last md:order-last">
                        <li><a class=" text-white ml-[35px] hover:text-[color:var(--prime-four)] sm:m-[0_10px_5px] xsm:m-[0_10px_5px]"
                                href="about-v1.html">About</a></li>
                        <li><a class=" text-white ml-[35px] hover:text-[color:var(--prime-four)] sm:m-[0_10px_5px] xsm:m-[0_10px_5px]"
                                href="blog-v1.html">Blog</a></li>
                        <li><a class=" text-white ml-[35px] hover:text-[color:var(--prime-four)] sm:m-[0_10px_5px] xsm:m-[0_10px_5px]"
                                href="contact-us.html">Contact</a></li>
                        <li><a class=" text-white ml-[35px] hover:text-[color:var(--prime-four)] sm:m-[0_10px_5px] xsm:m-[0_10px_5px]"
                                href="faq.html">Privacy</a></li>
                        <li><a class=" text-white ml-[35px] hover:text-[color:var(--prime-four)] sm:m-[0_10px_5px] xsm:m-[0_10px_5px]"
                                href="faq.html">Policy</a></li>
                    </ul>
                    <p class="copyright text-center mb-[15px] text-white xl:order-first lg:order-first md:order-first">
                        © 2002 - 2023 jano inc.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-footer relative p-[15px_0_0] lg:pb-5 md:pb-5 sm:pb-5 xsm:pb-5">
        <div class="container">
            <div class="flex flex-wrap mx-[-12px]">
                <div
                    class="xl:w-4/12 lg:w-4/12 md:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-none lg:order-none mt-[15px] ">
                    <ul class="flex justify-center xl:justify-start lg:justify-start footer-nav mb-0 pl-0 list-none ">
                        <li><a class=" text-[15px] font-medium text-black mr-[22px] hover:underline md:m-[0_10px] sm:m-[0_10px] xsm:m-[0_10px]"
                                routerLink="/faq">Privacy &amp; Terms.</a></li>
                        <li><a class=" text-[15px] font-medium text-black mr-[22px] hover:underline md:m-[0_10px] sm:m-[0_10px] xsm:m-[0_10px]"
                                routerLink="/contact-us">Contact Us</a></li>
                    </ul>
                </div>
                <div
                    class="xl:w-4/12 lg:w-4/12 md:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-2 lg:order-2 mt-[15px] ">
                    <ul class="flex justify-center xl:justify-end lg:justify-end social-icon mb-0 pl-0 list-none ">
                        <li><a class=" text-[19px] text-[#333333] transition-all duration-[0.3s] ease-[ease-in-out] ml-[19px] hover:text-[var(--prime-six)] md:m-[0_10px] sm:m-[0_10px] xsm:m-[0_10px]"
                            href="https://www.facebook.com/share/ng8BGqN3WigU3MXc/?mibextid=kFxxJD" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a class=" text-[19px] text-[#333333] transition-all duration-[0.3s] ease-[ease-in-out] ml-[19px] hover:text-[var(--prime-six)] md:m-[0_10px] sm:m-[0_10px] xsm:m-[0_10px]"
                            href="https://x.com/WestgateIthub" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a class=" text-[19px] text-[#333333] transition-all duration-[0.3s] ease-[ease-in-out] ml-[19px] hover:text-[var(--prime-six)] md:m-[0_10px] sm:m-[0_10px] xsm:m-[0_10px]"
                            href="https://www.linkedin.com/company/westgate-it-hub-private-limited/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
                <div
                    class="xl:w-4/12 lg:w-4/12 md:w-4/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-1 lg:order-1 mt-[15px] ">
                    <p class="copyright text-center !m-0 text-[15px]">Copyright @2025 WhyQ Tech</p>
                </div>
            </div>
        </div>
    </div> <!-- /.bottom-footer -->
</div>