<div class="main-page-wrapper overflow-x-hidden">

    <div class="contact-section-three p-[30px] lg:p-0 md:p-0 sm:p-0 xsm:p-0 ">
        <div
            class="address-wrapper z-[2] relative pt-[180px]  lg:pt-[150px] md:pt-[150px] sm:pt-[150px] xsm:pt-[150px]  mb-[30px] lg:mb-20 md:mb-20 sm:mb-20 xsm:mb-20  overflow-hidden before:content-[''] before:absolute before:h-[200px] before:w-[120%] before:bottom-[-95px] before:left-[-2%] before:z-[-1] before:rotate-[-4deg] bg-[#EEFBFF] before:bg-white">
            <div class="container">
                <div class="title-style-seven text-center wow fadeInUp">
                    <h2
                        class="main-title font-bold  text-black  text-[50px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
                        Unlock UK <span class="relative inline-block"> Opportunities<img
                                class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
                                src="assets/images/shape/shape_96.svg" alt=""></span> for Your IT Company</h2>
                </div> <!-- /.title-style-seven -->
                <div class="flex flex-wrap mx-[-12px]">
                    <div class="xxl:w-6/12  xl:w-7/12 w-full flex-[0_0_auto] px-[12px] max-w-full m-auto">
                        <p
                            class="mt-[45px]  lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5  mb-[70px]  lg:mb-[30px] md:mb-[30px] sm:mb-[30px] xsm:mb-[30px]  text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px]  !leading-[2]  text-center wow fadeInUp">
                            Partner with WestGate IT Hub to expand your business into the UK market and secure
                            guaranteed
                            projects. </p>
                    </div>
                </div>

                <div class="text-center wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                    <a routerLink="/contact-us"
                        class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Start
                        Your Journey with Us </a>
                </div>
            </div>
        </div>
    </div>

    <div class="fancy-feature-fiftySix pt-[0px]  lg:pt-[150px] md:pt-[150px] sm:pt-[150px] xsm:pt-[150px] ">

        <div
            class="fancy-feature-twentyFour p-[30px] lg:p-0 md:p-0 sm:p-0 xsm:p-0 mt-[0px] 2xl:p-5  lg:mt-20 md:mt-20 sm:mt-20 xsm:mt-20">
            <div class="bg-wrapper pt-[60px] lg:pt-20 md:pt-20 sm:pt-20 xsm:pt-20 pb-[60px] lg:pb-[70px] md:pb-[70px] sm:pb-[70px] xsm:pb-[70px]"
                style="background:#F1FCFF;">
                <div class="container">
                    <div class="block-style-four">
                        <div class="flex flex-wrap mx-[-12px] items-center">
                            <div
                                class="xl:w-5/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-last lg:order-last wow fadeInRight">
                                <div class="title-style-eight">
                                    <h2
                                        class="main-title text-black font-bold text-[50px] 2xl:text-[58px] lg:text-[48px] leading-[1.25em] tracking-[-1px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
                                        Why Partner <br> with WestGate <span
                                            class="inline-block relative leading-[64px] before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:left-0 before:top-0 before:bg-[var(--prime-six)] md:leading-[inherit] sm:leading-[inherit] xsm:leading-[inherit]">
                                            IT Hub?</span>
                                    </h2>
                                </div>
                                <p
                                    class="text-[18px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px]   !leading-[2]  mt-[35px]  mb-[50px]  lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5  lg:mb-[30px] md:mb-[30px] sm:mb-[30px] xsm:mb-[30px] ">
                                    We offer Indian IT companies a streamlined pathway to the UK market. Whether you're
                                    looking to provide IT services or share resources, we help you succeed.
                                </p>
                                <p
                                    class="text-[18px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px]   !leading-[2]  mt-[35px]  mb-[50px]  lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5  lg:mb-[30px] md:mb-[30px] sm:mb-[30px] xsm:mb-[30px] ">
                                    At WestGate IT Hub, we specialise in facilitating partnerships between Indian IT
                                    companies and UK clients. By partnering with us, you get access to exclusive
                                    business opportunities, high-value projects, and our expert support to help you
                                    grow. Our comprehensive partnership model guarantees results—if you don’t secure a
                                    project within a year, we’ll refund your subscription fee.</p>
                            </div>
                            <div
                                class="xl:w-7/12  lg:w-6/12  md:w-8/12  w-full flex-[0_0_auto] px-[12px] max-w-full m-auto xl:order-first lg:order-first wow fadeInLeft">
                                <div class="illustration-holder md:mt-[60px] sm:mt-[60px] xsm:mt-[60px]  "><img
                                        src="assets/images/lazy.svg" src="assets/images/assets/ils_06.png" alt=""
                                        class="lazy-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fancy-feature-fiftySix pt-[60px]  lg:pt-[150px] md:pt-[150px] sm:pt-[150px] xsm:pt-[150px] ">
            <div class="container">
                <div class="flex flex-wrap mx-[-12px] items-center">
                    <div class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full ">
                        <div class="title-style-seven text-center xl:text-left lg:text-left  wow fadeInLeft">
                            <h2
                                class="main-title font-bold  text-black text-[50px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
                                How We Help You <span class="relative inline-block">Succeed in <img
                                        class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
                                        src="assets/images/shape/shape_96.svg" alt=""></span> the UK Market</h2>
                        </div> <!-- /.title-style-seven -->
                    </div>
                    <div
                        class="xl:w-5/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto wow fadeInRight">
                        <p
                            class="!m-0 text-[18px]  !leading-[2]  text-center xl:text-left lg:text-left  md:pt-5 sm:pt-5 xsm:pt-5  lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] ">
                            Our team works for you to find the best opportunities and guide you through every step of
                            the process. </p>
                    </div>
                </div>
            </div>

            <div
                class=" p-[30px] lg:p-0 md:p-0 sm:p-0 xsm:p-0  mt-[30px] lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px]">
                <div
                    class="bg-wrapper pt-[30px] lg:pt-[30px] md:pt-[30px] sm:pt-[30px] xsm:pt-[30px] pb-[30px]   lg:pb-20 bg-[#F1FCFF]">
                    <div class="container">
                        <div class="flex flex-wrap mx-[-12px] xxl:mx-[-24px]">
                            <div
                                class="xl:w-4/12 lg:w-4/12 md:w-6/12 sm:w-6/12  w-full flex-[0_0_auto] px-[12px] max-w-full flex mt-10  wow fadeInUp">
                                <div
                                    class="card-style-twentyFive w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[52px_45px_40px_35px] lg:p-[35px_25px_20px] md:p-[35px_25px_20px] sm:p-[35px_25px_20px] xsm:p-[35px_25px_20px] border-2 border-solid border-white hover:border-black bg-white">
                                    <div
                                        class="icon flex items-end h-[45px] lg:h-[35px] md:h-[35px] sm:h-[35px] xsm:h-[35px]">
                                        <img src="assets/images/lazy.svg" src="assets/images/icon/icon_167.svg" alt=""
                                            class="lazy-img  max-h-full">
                                    </div>
                                    <h4
                                        class="mt-10 lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-5">
                                        Step 1 : Register Your Company</h4>
                                    <p>Fill out the registration form and share your company’s details along with proof
                                        of your
                                        capabilities. We’ll get started by understanding your strengths and services.
                                    </p>
                                </div>
                            </div>
                            <div class="xl:w-4/12 lg:w-4/12 md:w-6/12 sm:w-6/12  w-full flex-[0_0_auto] px-[12px] max-w-full flex mt-10  wow fadeInUp"
                                data-wow-delay="0.1s">
                                <div
                                    class="card-style-twentyFive w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[52px_45px_40px_35px] lg:p-[35px_25px_20px] md:p-[35px_25px_20px] sm:p-[35px_25px_20px] xsm:p-[35px_25px_20px] border-2 border-solid border-white hover:border-black bg-white">
                                    <div
                                        class="icon flex items-end h-[45px] lg:h-[35px] md:h-[35px] sm:h-[35px] xsm:h-[35px]">
                                        <img src="assets/images/lazy.svg" src="assets/images/icon/icon_168.svg" alt=""
                                            class="lazy-img  max-h-full">
                                    </div>
                                    <h4
                                        class="mt-10 lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-5">
                                        Step 2 : Share Your Capabilities</h4>
                                    <p>Submit your portfolio, certifications, and any relevant information that
                                        highlights your
                                        expertise. This helps us match you with the right opportunities.</p>
                                </div>
                            </div>
                            <div class="xl:w-4/12 lg:w-4/12 md:w-6/12 sm:w-6/12  w-full flex-[0_0_auto] px-[12px] max-w-full flex mt-10  wow fadeInUp"
                                data-wow-delay="0.2s">
                                <div
                                    class="card-style-twentyFive w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[52px_45px_40px_35px] lg:p-[35px_25px_20px] md:p-[35px_25px_20px] sm:p-[35px_25px_20px] xsm:p-[35px_25px_20px] border-2 border-solid border-white hover:border-black bg-white">
                                    <div
                                        class="icon flex items-end h-[45px] lg:h-[35px] md:h-[35px] sm:h-[35px] xsm:h-[35px]">
                                        <img src="assets/images/lazy.svg" src="assets/images/icon/icon_169.svg" alt=""
                                            class="lazy-img  max-h-full">
                                    </div>
                                    <h4
                                        class="mt-10 lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-5">
                                        Step 3 : We Find Opportunities</h4>
                                    <p>Once you’re registered, our team starts looking for suitable projects that match
                                        your
                                        capabilities. We’ll ensure we find the best fit in the UK market for your
                                        business.</p>
                                </div>
                            </div>
                            <div
                                class="xl:w-4/12 lg:w-4/12 md:w-6/12 sm:w-6/12  w-full flex-[0_0_auto] px-[12px] max-w-full flex mt-10  wow fadeInUp">
                                <div
                                    class="card-style-twentyFive w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[52px_45px_40px_35px] lg:p-[35px_25px_20px] md:p-[35px_25px_20px] sm:p-[35px_25px_20px] xsm:p-[35px_25px_20px] border-2 border-solid border-white hover:border-black bg-white">
                                    <div
                                        class="icon flex items-end h-[45px] lg:h-[35px] md:h-[35px] sm:h-[35px] xsm:h-[35px]">
                                        <img src="assets/images/lazy.svg" src="assets/images/icon/icon_170.svg" alt=""
                                            class="lazy-img  max-h-full">
                                    </div>
                                    <h4
                                        class="mt-10 lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-5">
                                        Step 4 : Proposal Writing & Client Interaction</h4>
                                    <p>We take care of writing the proposals, negotiating with clients, and managing the
                                        entire
                                        process of client communication to ensure the best results.</p>
                                </div>
                            </div>
                            <div class="xl:w-4/12 lg:w-4/12 md:w-6/12 sm:w-6/12  w-full flex-[0_0_auto] px-[12px] max-w-full flex mt-10  wow fadeInUp"
                                data-wow-delay="0.1s">
                                <div
                                    class="card-style-twentyFive w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[52px_45px_40px_35px] lg:p-[35px_25px_20px] md:p-[35px_25px_20px] sm:p-[35px_25px_20px] xsm:p-[35px_25px_20px] border-2 border-solid border-white hover:border-black bg-white">
                                    <div
                                        class="icon flex items-end h-[45px] lg:h-[35px] md:h-[35px] sm:h-[35px] xsm:h-[35px]">
                                        <img src="assets/images/lazy.svg" src="assets/images/icon/icon_171.svg" alt=""
                                            class="lazy-img  max-h-full">
                                    </div>
                                    <h4
                                        class="mt-10 lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-5">
                                        Step 5 : Project Execution</h4>
                                    <p>Once a project is secured, we provide continued co-ordination to ensure
                                        successful
                                        delivery. Our team will help you navigate the project lifecycle.</p>
                                </div>
                            </div>
                            <div class="xl:w-4/12 lg:w-4/12 md:w-6/12 sm:w-6/12  w-full flex-[0_0_auto] px-[12px] max-w-full flex mt-10  wow fadeInUp"
                                data-wow-delay="0.2s">
                                <div
                                    class="card-style-twentyFive w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[52px_45px_40px_35px] lg:p-[35px_25px_20px] md:p-[35px_25px_20px] sm:p-[35px_25px_20px] xsm:p-[35px_25px_20px] border-2 border-solid border-white hover:border-black bg-white">
                                    <div
                                        class="icon flex items-end h-[45px] lg:h-[35px] md:h-[35px] sm:h-[35px] xsm:h-[35px]">
                                        <img src="assets/images/lazy.svg" src="assets/images/icon/icon_172.svg" alt=""
                                            class="lazy-img  max-h-full">
                                    </div>
                                    <h4
                                        class="mt-10 lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-5">
                                        Step 6: Long-Term Success</h4>
                                    <p>We aim for long-term partnerships. Our goal is to help you expand sustainably in
                                        the UK
                                        market and create a pipeline of future opportunities.</p>
                                </div>
                            </div>
                        </div>
                        <div class=" wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                            <a routerLink="/contact-us"
                                class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">Register
                                Now and Get Started </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fancy-feature-fiftySix pt-[60px]  lg:pt-[60px] md:pt-[60px] sm:pt-[60px] xsm:pt-[60px] ">
            <div class="container">
                <div class="flex flex-wrap mx-[-12px] items-center">
                    <div class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full ">
                        <div class="title-style-seven text-center xl:text-left lg:text-left  wow fadeInLeft">
                            <h2
                                class="main-title font-bold  text-black text-[40px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
                                What You Gain from Partnering<span class="relative inline-block"> with <img
                                        class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
                                        src="assets/images/shape/shape_96.svg" alt=""></span> WestGate IT Hub </h2>
                        </div> <!-- /.title-style-seven -->
                    </div>
                    <div
                        class="xl:w-5/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto wow fadeInRight">
                        <p
                            class="!m-0 text-[20px]  !leading-[2]  text-center xl:text-left lg:text-left  md:pt-5 sm:pt-5 xsm:pt-5  lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] ">
                            We understand that your challenges to grow in the UK market, and that’s why we’ve tailored
                            our services to provide maximum value to our partners. Here’s what you’ll benefit from by
                            partnering with us.</p>
                    </div>
                </div>
            </div>

            <div
                class=" p-[30px] lg:p-0 md:p-0 sm:p-0 xsm:p-0  mt-[0px] lg:mt-[0px] md:mt-[0px] sm:mt-[0px] xsm:mt-[0px]">
                <div
                    class="bg-wrapper pt-[30px] lg:pt-[30px] md:pt-[30px] sm:pt-[30px] xsm:pt-[30px] pb-[30px]   lg:pb-20 bg-[#F1FCFF]">
                    <div class="container">
                        <div class="flex flex-wrap mx-[-12px] xxl:mx-[-24px]">
                            <div
                                class="xl:w-4/12 lg:w-4/12 md:w-6/12 sm:w-6/12  w-full flex-[0_0_auto] px-[12px] max-w-full flex mt-10  wow fadeInUp">
                                <div
                                    class="card-style-twentyFive w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[52px_45px_40px_35px] lg:p-[35px_25px_20px] md:p-[35px_25px_20px] sm:p-[35px_25px_20px] xsm:p-[35px_25px_20px] border-2 border-solid border-white hover:border-black bg-white">
                                    <div
                                        class="icon flex items-end h-[45px] lg:h-[35px] md:h-[35px] sm:h-[35px] xsm:h-[35px]">
                                        <img src="assets/images/lazy.svg" src="assets/images/icon/icon_167.svg" alt=""
                                            class="lazy-img  max-h-full">
                                    </div>
                                    <h4
                                        class="mt-10 lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-5">
                                        Guaranteed Project Opportunities</h4>

                                    <p
                                        class="text-[18px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px]   !leading-[2]  mt-[35px]  mb-[50px]  lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5  lg:mb-[30px] md:mb-[30px] sm:mb-[30px] xsm:mb-[30px] ">
                                        With our subscription, we guarantee you’ll secure at least one project or more
                                        within 12 months. If not, we’ll refund your full subscription.
                                    </p>
                                </div>
                            </div>
                            <div class="xl:w-4/12 lg:w-4/12 md:w-6/12 sm:w-6/12  w-full flex-[0_0_auto] px-[12px] max-w-full flex mt-10  wow fadeInUp"
                                data-wow-delay="0.1s">
                                <div
                                    class="card-style-twentyFive w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[52px_45px_40px_35px] lg:p-[35px_25px_20px] md:p-[35px_25px_20px] sm:p-[35px_25px_20px] xsm:p-[35px_25px_20px] border-2 border-solid border-white hover:border-black bg-white">
                                    <div
                                        class="icon flex items-end h-[45px] lg:h-[35px] md:h-[35px] sm:h-[35px] xsm:h-[35px]">
                                        <img src="assets/images/lazy.svg" src="assets/images/icon/icon_168.svg" alt=""
                                            class="lazy-img  max-h-full">
                                    </div>
                                    <h4
                                        class="mt-10 lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-5">
                                        End-to-End Support</h4>
                                    <p
                                        class="text-[18px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px]   !leading-[2]  mt-[35px]  mb-[50px]  lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5  lg:mb-[30px] md:mb-[30px] sm:mb-[30px] xsm:mb-[30px] ">
                                        We market your portfolio in the UK, handle proposals and coordination, while
                                        you commit and focus on execution.
                                    </p>
                                </div>
                            </div>
                            <div class="xl:w-4/12 lg:w-4/12 md:w-6/12 sm:w-6/12  w-full flex-[0_0_auto] px-[12px] max-w-full flex mt-10  wow fadeInUp"
                                data-wow-delay="0.2s">
                                <div
                                    class="card-style-twentyFive w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[52px_45px_40px_35px] lg:p-[35px_25px_20px] md:p-[35px_25px_20px] sm:p-[35px_25px_20px] xsm:p-[35px_25px_20px] border-2 border-solid border-white hover:border-black bg-white">
                                    <div
                                        class="icon flex items-end h-[45px] lg:h-[35px] md:h-[35px] sm:h-[35px] xsm:h-[35px]">
                                        <img src="assets/images/lazy.svg" src="assets/images/icon/icon_169.svg" alt=""
                                            class="lazy-img  max-h-full">
                                    </div>
                                    <h4
                                        class="mt-10 lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-5">
                                        Market Expertise</h4>
                                    <p
                                        class="text-[18px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px]   !leading-[2]  mt-[35px]  mb-[50px]  lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5  lg:mb-[30px] md:mb-[30px] sm:mb-[30px] xsm:mb-[30px] ">
                                        Spectrum IT Hub leverages deep UK IT market knowledge to connect you with the
                                        best opportunities.
                                    </p>
                                </div>
                            </div>
                            <div
                                class="xl:w-4/12 lg:w-4/12 md:w-6/12 sm:w-6/12  w-full flex-[0_0_auto] px-[12px] max-w-full flex mt-10  wow fadeInUp">
                                <div
                                    class="card-style-twentyFive w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[52px_45px_40px_35px] lg:p-[35px_25px_20px] md:p-[35px_25px_20px] sm:p-[35px_25px_20px] xsm:p-[35px_25px_20px] border-2 border-solid border-white hover:border-black bg-white">
                                    <div
                                        class="icon flex items-end h-[45px] lg:h-[35px] md:h-[35px] sm:h-[35px] xsm:h-[35px]">
                                        <img src="assets/images/lazy.svg" src="assets/images/icon/icon_170.svg" alt=""
                                            class="lazy-img  max-h-full">
                                    </div>
                                    <h4
                                        class="mt-10 lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-5">
                                        Access to Top UK Clients</h4>
                                    <p>Partnering with us gives you access to opportunities in both the public and
                                        private sectors in the UK.</p>
                                </div>
                            </div>
                            <div class="xl:w-4/12 lg:w-4/12 md:w-6/12 sm:w-6/12  w-full flex-[0_0_auto] px-[12px] max-w-full flex mt-10  wow fadeInUp"
                                data-wow-delay="0.1s">
                                <div
                                    class="card-style-twentyFive w-full transition-all duration-[0.3s] ease-[ease-in-out] p-[52px_45px_40px_35px] lg:p-[35px_25px_20px] md:p-[35px_25px_20px] sm:p-[35px_25px_20px] xsm:p-[35px_25px_20px] border-2 border-solid border-white hover:border-black bg-white">
                                    <div
                                        class="icon flex items-end h-[45px] lg:h-[35px] md:h-[35px] sm:h-[35px] xsm:h-[35px]">
                                        <img src="assets/images/lazy.svg" src="assets/images/icon/icon_171.svg" alt=""
                                            class="lazy-img  max-h-full">
                                    </div>
                                    <h4
                                        class="mt-10 lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] lg:mt-[30px] md:mt-[30px] sm:mt-[30px] xsm:mt-[30px] mb-5">
                                        No Hidden Fees</h4>
                                    <p
                                        class="text-[18px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px]   !leading-[2]  mt-[35px]  mb-[50px]  lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5  lg:mb-[30px] md:mb-[30px] sm:mb-[30px] xsm:mb-[30px] ">
                                        There are no hidden costs. Our subscription fee is clear, and we guarantee value
                                        for your investment.
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div
            class="fancy-feature-eleven bg-color relative mt-[60px] lg:mt-[60px] md:mt-[60px] sm:mt-[60px] xsm:mt-[60px] pt-[120px] lg:pt-20 md:pt-20 sm:pt-20 xsm:pt-20 pb-[60px] lg:pb-[70px] md:pb-[70px] sm:pb-[70px] xsm:pb-[70px]">
            <div class="container">
                <div class="flex flex-wrap mx-[-12px] align-items-start">
                    <div class="xl:w-5/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInLeft">
                        <div class="title-style-three  mb-4">
                            <div
                                class="sc-title uppercase text-[14px] lg:text-[13px] md:text-[13px] sm:text-[13px] xsm:text-[13px] tracking-[1px] text-[rgba(0,0,0,0.3)] pb-2.5">
                                FAQ</div>
                            <h2
                                class="main-title font-normal  text-[40px] leading-[1.15em] tracking-[0px] m-0 font-Recoleta 2xl:text-[58px] lg:text-[40px] md:text-[34px] md:leading-[1.2em] sm:text-[34px] sm:leading-[1.2em] xsm:text-[34px] xsm:leading-[1.2em]  ">
                            </h2>

                            <h2
                                class="main-title font-bold  text-black text-[40px] leading-[1.35em] tracking-[-2px] 2xl:text-[58px] lg:text-[48px] md:text-[35px] md:tracking-[-0.5px] sm:text-[35px] sm:tracking-[-0.5px] xsm:text-[35px] xsm:tracking-[-0.5px]">
                                Our Subscription Model:<span class="relative inline-block"> Affordable <img
                                        class=" absolute z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"
                                        src="assets/images/shape/shape_96.svg" alt=""></span> and Risk-Free</h2>

                        </div>
                        <p
                            class=" text-[18px] 2xl:text-[18px] lg:text-[19px] md:text-[19px] sm:text-[19px] xsm:text-[19px] leading-[1.67em]  mb-[45px] ">
                            At WestGate IT Hub, we believe in providing our partners with a straightforward and
                            risk-free subscription model. By joining our network, you gain exclusive access to a range
                            of valuable services, including market research, proposal writing, and client negotiations,
                            with guaranteed project opportunities.</p>
                    </div>

                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full !ml-auto wow fadeInRight">
                        <div class="accordion accordion-style-one md:mt-10 sm:mt-10 xsm:mt-10 " id="accordionOne">
                            <div
                                class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                                <div class="accordion-header" id="headingOne">
                                    <button
                                        class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent  lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="false" aria-controls="collapseOne">
                                        What’s Included
                                    </button>
                                </div>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                    data-bs-parent="#accordionOne">
                                    <div
                                        class="accordion-body p-[0_40px_30px_26px] lg:p-[0_15px_15px] md:p-[0_15px_15px] sm:p-[0_15px_15px] xsm:p-[0_15px_15px]">
                                        <ul
                                            class="text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
                                            <li><span class="font-medium text-black">• Full access to our expert team
                                                    for
                                                    market research, proposal writing, and client negotiations.</span>
                                            </li>
                                            <li><span class="font-medium text-black">• Guaranteed project opportunities
                                                    within 12 months.</span></li>
                                            <li><span class="font-medium text-black">• Ongoing support throughout the
                                                    entire
                                                    project lifecycle.</span></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="accordion-item border mb-[25px] rounded-[10px] border-solid border-[#E9E9E9] bg-white ">
                                <div class="accordion-header" id="headingTwo">
                                    <button
                                        class="accordion-button font-medium text-[20px] leading-[1.62em] shadow-none text-black transition-all duration-[0.3s] ease-[ease-in-out] p-[25px_28px_25px_26px] rounded-none after:content-[url(../images/icon/icon_36.svg)] after:bg-none after:w-auto after:h-auto bg-transparent  lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] lg:p-[18px_15px] md:p-[18px_15px] sm:p-[18px_15px] xsm:p-[18px_15px] relative flex items-center w-full text-left border-0 after:shrink-0 after:bg-no-repeat after:bg-[1.25rem] after:transition-transform after:duration-[0.2s] after:ease-[ease-in-out] after:ml-auto collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                        How It Works
                                    </button>
                                </div>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionOne">
                                    <ul
                                        class="text-[16px] lg:text-[16px] md:text-[16px] sm:text-[16px] xsm:text-[16px] leading-[1.67em] mb-[10px] pt-[30px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5 list-disc pl-5">
                                        <li><span class="font-medium text-black">• Once you subscribe, you will gain
                                                access to our portal, where projects are published daily, along with a
                                                dedicated dashboard to track all your work, proposals, and project
                                                progress in real time.</span></li>
                                        <li><span class="font-medium text-black">• If you do not secure any projects
                                                within 12 months, we will provide a full refund of your subscription
                                                fee.</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="xxl:w-10/12 xl:w-11/12 lg:w-11/12  w-full flex-[0_0_auto] px-[12px] max-w-full m-auto text-center wow fadeInUp">
                        <h4
                            class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] mt-[45px] mb-[50px]">
                            Get in Touch: For detailed information about our subscription model and pricing, please
                            <a routerLink="/contact-us" class="text-blue-600 font-bold hover:underline">
                                Contact Us
                            </a>.
                            We’ll be happy to provide a customised plan based on your business needs.
                        </h4>
                    </div>
                    <div class=" wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                        <a routerLink="/contact-us"
                            class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">
                            Join Our Network Today</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="fancy-feature-fiftySeven mt-[120px]  lg:mt-[60px] md:mt-[60px] sm:mt-[60px] xsm:mt-[60px]">
        <div class="container">


            <div class="container">
                <div class="title-style-five">
                    <h4
                        class="main-title text-black font-bold text-[50px] leading-[1.25em] 2xl:text-[58px] lg:text-[50px] md:text-[35px] sm:text-[35px] xsm:text-[35px]">
                        Let’s Build Your Future in the UK Market</h4>
                </div>
                <p
                    class="text-[18px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] mt-[30px] lg:mt-5 md:mt-5 sm:mt-5 xsm:mt-5 ">
                    If you're ready to take your business the UK Market and access high-value projects in the UK,
                    partnering with WestGate IT Hub is the right step. We guarantee you’ll secure at least one project,
                    or we’ll refund your subscription fee.</p>
            </div>
            <div class=" wow fadeInUp mt-20 lg:mt-[50px] md:mt-[50px] sm:mt-[50px] xsm:mt-[50px]">
                <a routerLink="/contact-us"
                    class="btn-fourteen font-medium tran3s leading-[60px] text-[18px] text-black relative px-[30px] py-0 before:content-[''] before:absolute before:w-full before:h-full before:z-[-1] before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:left-2 before:top-2 hover:text-white bg-[var(--prime-six)] before:bg-black hover:bg-black hover:before:bg-[var(--prime-six)] lg:p-[0_25px] lg:leading-[55px] lg:text-[16px] md:p-[0_25px] md:leading-[55px] md:text-[16px] sm:p-[0_25px] sm:leading-[55px] sm:text-[16px] xsm:p-[0_25px] xsm:leading-[55px] xsm:text-[15px]">
                    Contact Form </a>
            </div>
        </div>
    </div>
</div>