<div class="main-page-wrapper overflow-x-hidden">
	<div class="fancy-feature-fiftyOne relative mt-[250px] lg:mt-[200px] md:mt-[200px] sm:mt-[200px] xsm:mt-[200px]">
		<div class="container">
			<div class="flex flex-wrap mx-[-12px]">
				<div class="xxl:w-8/12 xl:w-9/12 lg:w-9/12 w-full flex-[0_0_auto] px-[12px] max-w-full wow fadeInLeft">
					<p class="blog-pubish-date">Digital Marketing . 2 July . By <a href="#"
							class="font-medium text-black hover:underline">Rashed Ka</a></p>
					<h2
						class="blog-heading-one  text-black lg:text-[45px] md:text-[35px] sm:text-[35px] xsm:text-[35px]">
						Designer’s Checklist for Every UX/UI Project.</h2>
				</div>
			</div>
		</div> <!-- /.container -->
		<img src="assets/images/lazy.svg" src="assets/images/shape/shape_172.svg" alt=""
			class="lazy-img shapes shape-two absolute z-[-1] right-[17%] 2xl:right-[8%] lg:right-[6%] md:!hidden sm:!hidden xsm:!hidden top-[4%]">
	</div> <!-- /.fancy-feature-fiftyOne -->

	<div class="blog-details-one mt-[120px]  lg:mt-[60px] md:mt-[60px] sm:mt-[60px] xsm:mt-[60px] ">
		<div class="container">
			<div
				class=" border-b-[#f1f1f1] border-b border-solid pb-[130px]  lg:pb-[60px] md:pb-[60px] sm:pb-[60px] xsm:pb-[60px]  ">
				<div class=" flex flex-wrap mx-[-12px] xl:mx-[-24px] ">
					<div class="xl:w-8/12 lg:w-8/12 w-full flex-[0_0_auto] xl:px-[24px] px-[12px] max-w-full">
						<div class="blog-meta-wrapper xxl:!pr-[3rem] ">
							<article class="blog-details-content pb-2 border-b-[#E7E7E7] border-b border-solid">
								<img src="assets/images/lazy.svg" src="assets/images/blog/blog_img_25.jpg" alt=""
									class="lazy-img image-meta w-full mb-[54px] lg:mb-[25px] md:mb-[25px] sm:mb-[25px] xsm:mb-[25px]">
								<p
									class=" text-[17px] leading-8 mb-8 lg:text-[16px] lg:mb-7 md:text-[16px] md:mb-7 sm:text-[16px] sm:mb-7 xsm:text-[16px] xsm:mb-7">
									Tomfoolery crikey bits and bobs brilliant bamboozled down the pub amongst brolly
									hanky panky, cack bonnet arse over tit burke bugger all mate bodge. cillum dolore eu
									fugiat pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
									officia deserunt mollit anim id est laborum.Suspendisse interdum consectetur libero
									id faucibu nisl. Lacus vel facilisis volutpat est velit egestas.</p>
								<p
									class=" text-[17px] leading-8 mb-8 lg:text-[16px] lg:mb-7 md:text-[16px] md:mb-7 sm:text-[16px] sm:mb-7 xsm:text-[16px] xsm:mb-7">
									Tempus imperdiet nulla malesuada pellentesque elit eget gravida cum. Sit amet ris
									nullam eget felis. Enim praesent elementum facilisis leo. Ultricies leo integer.</p>
								<img src="assets/images/lazy.svg" src="assets/images/blog/blog_img_26.jpg" alt=""
									class="lazy-img image-meta w-full mb-[54px] lg:mb-[25px] md:mb-[25px] sm:mb-[25px] xsm:mb-[25px]">
								<h4
									class=" text-[#303030] leading-[35px] mb-[22px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px]">
									This response is important for our ability to from mistakes but it alsogives rise to
									self-criticism.</h4>
								<p
									class=" text-[17px] leading-8 mb-8 lg:text-[16px] lg:mb-7 md:text-[16px] md:mb-7 sm:text-[16px] sm:mb-7 xsm:text-[16px] xsm:mb-7">
									One touch of a red-hot stove is usually all we need to avoid that kind of discomfort
									in future The same is true as we experienc the emotional of stress from our
									instances. We are quickly learn to fear and thus automatically. Lorem ipsum dolor
									sit amet, consectetur adipis elit quis extraction labore.</p>
								<h2
									class=" text-[36px] lg:text-[25px] lg:mb-[15px] md:text-[25px] md:mb-[15px] sm:text-[25px] sm:mb-[15px] xsm:text-[25px] xsm:mb-[15px] tracking-[-1px] mb-5 pt-2.5">
									Work Harder & Gain Succsess</h2>
								<p
									class=" text-[17px] leading-8 mb-8 lg:text-[16px] lg:mb-7 md:text-[16px] md:mb-7 sm:text-[16px] sm:mb-7 xsm:text-[16px] xsm:mb-7">
									One touch of a red-hot stove is usually all we need to avoid that kind of discomfort
									in quis elit future. The same Duis aute irure dolor in reprehenderit .</p>
								<p
									class=" text-[17px] leading-8 mb-8 lg:text-[16px] lg:mb-7 md:text-[16px] md:mb-7 sm:text-[16px] sm:mb-7 xsm:text-[16px] xsm:mb-7">
									is true as we experience the emotional sensation of stress from our firs social
									rejec ridicule.We quickly learn to fear and thus automatically. potentially
									stressful situation of wlir ext quiert all kinds, including the most common of all.
								</p>
								<div
									class="bottom-widget flex xsm:block items-center justify-between pt-[25px] lg:pt-5 md:pt-5 sm:pt-5 xsm:pt-5">
									<ul class="flex tags  mb-0 pl-0 list-none pb-5">
										<li
											class=" text-[16px] text-[rgba(0,0,0,0.5)] mr-[3px] font-medium text-black pr-[5px]">
											Tag:</li>
										<li class=" text-[16px] text-[rgba(0,0,0,0.5)] mr-[3px]"><a
												class=" hover:text-black hover:underline" href="#">business</a>,</li>
										<li class=" text-[16px] text-[rgba(0,0,0,0.5)] mr-[3px]"><a
												class=" hover:text-black hover:underline" href="#">makreting</a>,</li>
										<li class=" text-[16px] text-[rgba(0,0,0,0.5)] mr-[3px]"><a
												class=" hover:text-black hover:underline" href="#">tips</a></li>
									</ul>
									<ul class="flex share-icon items-center  mb-0 pl-0 list-none pb-5">
										<li class=" font-medium text-black text-[16px]">Share:</li>
										<li><a class=" w-[38px] h-[38px] leading-[38px] text-center text-black text-[16px] transition-all duration-[0.3s] ease-[ease-in-out] ml-2.5 rounded-[50%] hover:text-white bg-[#EEEDED] hover:bg-[var(--prime-ten)]"
												href="#"><i class="bi bi-google"></i></a></li>
										<li><a class=" w-[38px] h-[38px] leading-[38px] text-center text-black text-[16px] transition-all duration-[0.3s] ease-[ease-in-out] ml-2.5 rounded-[50%] hover:text-white bg-[#EEEDED] hover:bg-[var(--prime-ten)]"
												href="#"><i class="bi bi-twitter"></i></a></li>
										<li><a class=" w-[38px] h-[38px] leading-[38px] text-center text-black text-[16px] transition-all duration-[0.3s] ease-[ease-in-out] ml-2.5 rounded-[50%] hover:text-white bg-[#EEEDED] hover:bg-[var(--prime-ten)]"
												href="#"><i class="bi bi-instagram"></i></a></li>
									</ul>
								</div> <!-- /.bottom-widget -->
							</article> <!-- /.blog-details-content -->

							<div
								class="blog-comment-area m-[100px_0_100px] lg:m-[50px_0] md:m-[50px_0] sm:m-[50px_0] xsm:m-[50px_0]">
								<h3
									class="blog-inner-title text-black  pb-[15px]  text-[42px] tracking-[-1px] lg:text-[30px] lg:pb-0 md:text-[30px] md:pb-0 sm:text-[30px] sm:pb-0 xsm:text-[30px] xsm:pb-0">
									2 Comments</h3>
								<div class="comment flex mt-[45px]">
									<img src="assets/images/blog/avatar_01.jpg" alt=""
										class="user-avatar rounded-[50%] w-[60px] h-[60px]">
									<div class="comment-text w-[calc(100%_-_60px)] relative pl-[25px]">
										<div class="name font-medium  text-black text-[20px] tracking-[-1px]">Al Hasani
										</div>
										<div class="date">13 June, 2023, 7:30pm</div>
										<p
											class=" text-[16px] leading-7 p-[20px_50px_0_0] sm:p-[15px_0_0_0] xsm:p-[15px_0_0_0]">
											One touch of a red-hot stove is usually all we need to avoid that kind of
											lorem discomfort in future. The same true we experience </p>
										<a href="#"
											class="reply-btn font-medium tran3s text-[13px] text-white uppercase tracking-[0px] text-center w-[65px] leading-[27px] absolute rounded-[3px] right-0 top-0 bg-[var(--prime-ten)] hover:bg-[#313131] xsm:relative">Reply</a>
									</div> <!-- /.comment-text -->
								</div> <!-- /.comment -->
								<div class="comment flex mt-[45px]">
									<img src="assets/images/blog/avatar_02.jpg" alt=""
										class="user-avatar rounded-[50%] w-[60px] h-[60px]">
									<div class="comment-text w-[calc(100%_-_60px)] relative pl-[25px]">
										<div class="name font-medium  text-black text-[20px] tracking-[-1px]">Rashed ka.
										</div>
										<div class="date">13 June, 2023, 7:30pm</div>
										<p
											class=" text-[16px] leading-7 p-[20px_50px_0_0] sm:p-[15px_0_0_0] xsm:p-[15px_0_0_0]">
											One touch of a red-hot stove is usually all we need to avoid that kind of
											lorem discomfort in future. The same true we experience </p>
										<a href="#"
											class="reply-btn font-medium tran3s text-[13px] text-white uppercase tracking-[0px] text-center w-[65px] leading-[27px] absolute rounded-[3px] right-0 top-0 bg-[var(--prime-ten)] hover:bg-[#313131] xsm:relative">Reply</a>
									</div> <!-- /.comment-text -->
								</div> <!-- /.comment -->
							</div> <!-- /.blog-comment-area -->

							<div
								class="blog-comment-form p-[65px_60px_70px] lg:p-[35px_20px] md:p-[35px_20px] sm:p-[35px_20px] xsm:p-[35px_20px] rounded-[10px] border-2 border-solid border-black">
								<h3
									class="blog-inner-title  text-black  text-[42px] tracking-[-1px] lg:text-[30px] lg:pb-0 md:text-[30px] md:pb-0 sm:text-[30px] sm:pb-0 xsm:text-[30px] xsm:pb-0">
									Leave A Comment</h3>
								<p><a href="signin.html" class=" underline ">Sign</a> in to post your comment or signup
									if you dont have any account.</p>
								<form action="#" class="mt-[30px] ">
									<div class="input-wrapper mb-[35px] ">
										<label
											class=" text-[14px] font-normal text-[rgba(0,0,0,0.5)] block pb-[5px]">Name*</label>
										<input
											class=" block text-[17px] w-full h-[60px] px-[25px] py-0 rounded-lg border-0  bg-[rgba(0,0,0,0.03)]"
											type="text" placeholder="Rashed Kabir">
									</div> <!-- /.input-wrapper -->
									<div class="input-wrapper mb-10 ">
										<label
											class=" text-[14px] font-normal text-[rgba(0,0,0,0.5)] block pb-[5px]">Email*</label>
										<input
											class=" block text-[17px] w-full h-[60px] px-[25px] py-0 rounded-lg border-0  bg-[rgba(0,0,0,0.03)]"
											type="email" placeholder="rshdkabir@gmail.com">
									</div> <!-- /.input-wrapper -->
									<div class="input-wrapper mb-[30px]">
										<textarea
											class=" block text-[17px] w-full max-w-full h-[145px] px-[25px] py-5 rounded-lg border-0  bg-[rgba(0,0,0,0.03)]"
											placeholder="Your Comment"></textarea>
									</div> <!-- /.input-wrapper -->
									<button
										class="btn-twentyTwo font-medium tran3s leading-[55px] text-white tracking-[-0.2px] px-[42px] py-0 rounded-[7px] bg-[var(--prime-ten)] hover:bg-black lg:p-[0_32px] lg:leading-[50px] md:p-[0_32px] md:leading-[50px] sm:p-[0_35px] sm:leading-[50px] xsm:p-[0_35px] xsm:leading-[50px]">Post
										Comment</button>
								</form>
							</div> <!-- /.blog-comment-form -->
						</div> <!-- /.blog-meta-wrapper -->
					</div>

					<div class="xl:w-4/12 lg:w-4/12 md:w-8/12 w-full flex-[0_0_auto] px-[12px] max-w-full">
						<div class="blog-sidebar md:mt-[70px] sm:mt-[70px] xsm:mt-[70px]">
							<div class="blog-sidebar-search mb-[55px] md:mb-10 sm:mb-10 xsm:mb-10 ">
								<form action="#" class=" h-[65px] relative">
									<input
										class=" w-full h-full text-[17px] pl-5 pr-[60px] py-0 rounded-[5px] border-0  bg-[#F4F4F4]"
										type="text" placeholder="Search..">
									<button class=" absolute w-[60px] text-black right-0 inset-y-0"><i
											class="bi bi-search"></i></button>
								</form>
							</div> <!-- /.blog-sidebar-search -->
							<div class="blog-sidebar-category mb-[60px] md:mb-[50px] sm:mb-[50px] xsm:mb-[50px] ">
								<h4
									class="sidebar-title text-[28px] lg:text-[22px] md:text-[22px] sm:text-[22px] xsm:text-[22px] mb-[15px]">
									Category</h4>
								<ul class=" mb-0 pl-0 list-none ">
									<li><a class=" text-[16px] leading-10 block text-black transition-all duration-[0.3s] ease-[ease-in-out] hover:text-[color:var(--prime-ten)]"
											href="blog-v2.html">Digital <span class="float-right ">(3)</span></a></li>
									<li><a class=" text-[16px] leading-10 block text-black transition-all duration-[0.3s] ease-[ease-in-out] hover:text-[color:var(--prime-ten)]"
											href="blog-v1.html">Marketing <span class="float-right ">(4)</span></a></li>
									<li><a class=" text-[16px] leading-10 block text-black transition-all duration-[0.3s] ease-[ease-in-out] hover:text-[color:var(--prime-ten)]"
											href="blog-v2.html">Design <span class="float-right ">(2)</span></a></li>
									<li><a class=" text-[16px] leading-10 block text-black transition-all duration-[0.3s] ease-[ease-in-out] hover:text-[color:var(--prime-ten)]"
											href="blog-v3.html">WordPress <span class="float-right ">(8)</span></a></li>
									<li><a class=" text-[16px] leading-10 block text-black transition-all duration-[0.3s] ease-[ease-in-out] hover:text-[color:var(--prime-ten)]"
											href="blog-v1.html">Plugin <span class="float-right ">(5)</span></a></li>
								</ul>
							</div> <!-- /.blog-sidebar-category -->

							<div class="sidebar-recent-news mb-[60px]  md:mb-[50px] sm:mb-[50px] xsm:mb-[50px] ">
								<h4
									class="sidebar-title text-[28px] lg:text-[22px] md:text-[22px] sm:text-[22px] xsm:text-[22px] mb-[15px]">
									Recent News</h4>
								<div
									class="news-block flex items-center py-5  border-t-[#f1f1f1] border-t border-solid ">
									<div><img src="assets/images/lazy.svg" src="assets/images/blog/blog_img_17.jpg"
											alt="" class="lazy-img w-20"></div>
									<div class="post w-[calc(100%_-_80px)] !pl-[1.5rem]">
										<h4 class="mb-5"><a href="blog-details.html"
												class="title tran3s text-[22px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] leading-[1.36em] hover:text-[color:var(--prime-ten)] ">10
												days quick challange forboost visitors.</a></h4>
										<div class="date text-[15px] text-[#ADADAD]">23 July, 2023</div>
									</div>
								</div>
								<div
									class="news-block flex items-center py-5  border-t-[#f1f1f1] border-t border-solid ">
									<div><img src="assets/images/lazy.svg" src="assets/images/blog/blog_img_18.jpg"
											alt="" class="lazy-img w-20"></div>
									<div class="post w-[calc(100%_-_80px)] !pl-[1.5rem]">
										<h4 class="mb-5"><a href="blog-details.html"
												class="title tran3s text-[22px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] leading-[1.36em] hover:text-[color:var(--prime-ten)] ">Easy
												way to boost your business.</a></h4>
										<div class="date text-[15px] text-[#ADADAD]">23 July, 2023</div>
									</div>
								</div>
								<div
									class="news-block flex items-center py-5  border-t-[#f1f1f1] border-t border-solid   border-b-[#f1f1f1] border-b border-solid">
									<div><img src="assets/images/lazy.svg" src="assets/images/blog/blog_img_19.jpg"
											alt="" class="lazy-img w-20"></div>
									<div class="post w-[calc(100%_-_80px)] !pl-[1.5rem]">
										<h4 class="mb-5"><a href="blog-details.html"
												class="title tran3s text-[22px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] leading-[1.36em] hover:text-[color:var(--prime-ten)] ">Introducing
												new tools for your design.</a></h4>
										<div class="date">23 July, 2023</div>
									</div>
								</div>
							</div> <!-- /.sidebar-recent-news -->

							<div class="sidebar-banner-add bg-cover relative p-5"
								style="background-image:url(images/blog/ad-bg.jpg);">
								<div
									class="banner-content text-center px-[50px] py-10 bg-[rgba(255,255,255,0.9)] lg:p-[30px_20px] md:p-[30px_20px] sm:p-[30px_20px] xsm:p-[30px_20px]">
									<h4
										class=" leading-[31px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px] ">
										Banner Advertise <br>Heading</h4>
									<p class=" m-[20px_0_15px]">From its medieval origins digital</p>
									<a href="#"
										class="btn-twentyOne font-medium tran3s leading-[50px] text-white tracking-[-0.36px] px-[35px] py-0 rounded-[30px] bg-[var(--prime-ten)] hover:bg-black hover:text-white ">Download</a>
								</div>
							</div> <!-- /.sidebar-banner-add -->
						</div> <!-- /.blog-sidebar -->
					</div>
				</div>
			</div>
		</div>
	</div> <!-- /.blog-details-one -->

	<button
		class="scroll-top w-[35px] h-[35px] leading-[35px] fixed z-[99] text-center text-white text-[25px] cursor-pointer hidden transition-all duration-[0.3s] ease-[ease-in-out] rounded-[50%] right-[5px] bottom-5 after:absolute after:z-[-1] after:content-[''] after:h-2.5 after:w-[90%] after:opacity-100 after:left-[5%] after:top-full bg-[var(--prime-ten)] after:bg-[radial-gradient(ellipse_at_center,rgba(0,0,0,0.25)_0%,rgba(0,0,0,0)_80%)]">
		<i class="bi bi-arrow-up-short"></i>
	</button>
</div> <!-- /.main-page-wrapper -->